@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
				<META http-equiv="X-UA-Compatible" content="IE=Edge" />
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(Model.displayVar("pagetitle"))</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<BASE href="@(Model.displayVar("projectPath"))" />
		<LINK REL="stylesheet" href="styles/default.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
	<LINK REL="stylesheet" href="styles/defaultRTL.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	}
	@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
	<LINK REL="stylesheet" href="@(Model.displayVar("stylepath"))" type="text/css" />
	}
			
	</head>

	<BODY class="@(Model.displayVar("stylename")) function-search">
	@foreach (string _body in Model.GetSection("body", this)){
		{Html.RenderSharedView("header");}
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"")</style>
		@(Model.displayVar("locking"))
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="6" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="top_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c1")) class=" r-ori-vert			col-md-12
	">
	 
		<H2 data-itemtype="search_header" data-itemid="search_header" @(Model.displayVar("item_search_header")) data-pageid="@(Model.displayVar("pageid"))">@(Model.displayVar("pagetitlelabel dbo_users search"))</h2>
	</div>					</div>
	</div>		
}
									@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="6" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c1")) class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
}
									@foreach (string _grid_block in Model.GetSection("grid_block", this)){




 
	 
												<TABLE data-body-align="center" data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))" class="r-edit-form" cellpadding="0" cellspacing="0" @(Model.displayVar("grid_hiddenattr")) data-form-width="1" data-v-width="6">
	<tbody>
										<TR @(Model.displayVar("row_grid_0"))>
										

@foreach (string _cellblock_grid_c3 in Model.GetSection("cellblock_grid_c3", this)){
<TD @(Model.displayVar("cell_grid_c3")) class=" r-ori-vert" data-fullwidth data-cellId="grid_c3" data-pageid="@(Model.displayVar("pageid"))" data-v-cell="6">
	<div edit-form-cell class="clearfix">
				
@foreach (string _user_name_fieldblock in Model.GetSection("user_name_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_user_name"))  r-horizontal-field form-horizontal" data-signal-error-for="user_name@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field" @(Model.displayVar("item_integrated_search_field")) data-pageid="@(Model.displayVar("pageid"))" data-field="user_name" data-fieldname="user_name">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_user_name"))">
		@(Model.displayVar("label dbo_users user_name"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_user_name"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("user_name_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("user_name_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _password_fieldblock in Model.GetSection("password_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_password"))  r-horizontal-field form-horizontal" data-signal-error-for="password@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" @(Model.displayVar("item_integrated_search_field1")) data-pageid="@(Model.displayVar("pageid"))" data-field="password" data-fieldname="password">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_password"))">
		@(Model.displayVar("label dbo_users password"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_password"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("password_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("password_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _user_group_fieldblock in Model.GetSection("user_group_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_user_group"))  r-horizontal-field form-horizontal" data-signal-error-for="user_group@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" @(Model.displayVar("item_integrated_search_field2")) data-pageid="@(Model.displayVar("pageid"))" data-field="user_group" data-fieldname="user_group">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_user_group"))">
		@(Model.displayVar("label dbo_users user_group"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_user_group"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("user_group_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("user_group_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _active_fieldblock in Model.GetSection("active_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_active"))  r-horizontal-field form-horizontal" data-signal-error-for="active@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" @(Model.displayVar("item_integrated_search_field3")) data-pageid="@(Model.displayVar("pageid"))" data-field="active" data-fieldname="active">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_active"))">
		@(Model.displayVar("label dbo_users active"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_active"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("active_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("active_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _email_fieldblock in Model.GetSection("email_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_email"))  r-horizontal-field form-horizontal" data-signal-error-for="email@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" @(Model.displayVar("item_integrated_search_field4")) data-pageid="@(Model.displayVar("pageid"))" data-field="email" data-fieldname="email">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_email"))">
		@(Model.displayVar("label dbo_users email"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_email"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("email_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("email_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _email_notification_fieldblock in Model.GetSection("email_notification_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_email_notification"))  r-horizontal-field form-horizontal" data-signal-error-for="email_notification@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" @(Model.displayVar("item_integrated_search_field5")) data-pageid="@(Model.displayVar("pageid"))" data-field="email_notification" data-fieldname="email_notification">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_email_notification"))">
		@(Model.displayVar("label dbo_users email_notification"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_email_notification"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("email_notification_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("email_notification_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _description_fieldblock in Model.GetSection("description_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_description"))  r-horizontal-field form-horizontal" data-signal-error-for="description@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" @(Model.displayVar("item_integrated_search_field6")) data-pageid="@(Model.displayVar("pageid"))" data-field="description" data-fieldname="description">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_description"))">
		@(Model.displayVar("label dbo_users description"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_description"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("description_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("description_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _reset_date_fieldblock in Model.GetSection("reset_date_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_reset_date"))  r-horizontal-field form-horizontal" data-signal-error-for="reset_date@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" @(Model.displayVar("item_integrated_search_field7")) data-pageid="@(Model.displayVar("pageid"))" data-field="reset_date" data-fieldname="reset_date">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_reset_date"))">
		@(Model.displayVar("label dbo_users reset_date"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_reset_date"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("reset_date_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("reset_date_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _two_factor_fieldblock in Model.GetSection("two_factor_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_two_factor"))  r-horizontal-field form-horizontal" data-signal-error-for="two_factor@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" @(Model.displayVar("item_integrated_search_field8")) data-pageid="@(Model.displayVar("pageid"))" data-field="two_factor" data-fieldname="two_factor">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_two_factor"))">
		@(Model.displayVar("label dbo_users two_factor"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_two_factor"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("two_factor_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("two_factor_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _totp_secret_fieldblock in Model.GetSection("totp_secret_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_totp_secret"))  r-horizontal-field form-horizontal" data-signal-error-for="totp_secret@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" @(Model.displayVar("item_integrated_search_field9")) data-pageid="@(Model.displayVar("pageid"))" data-field="totp_secret" data-fieldname="totp_secret">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_totp_secret"))">
		@(Model.displayVar("label dbo_users totp_secret"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_totp_secret"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("totp_secret_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("totp_secret_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _clientid_fieldblock in Model.GetSection("clientid_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_clientid"))  r-horizontal-field form-horizontal" data-signal-error-for="clientid@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" @(Model.displayVar("item_integrated_search_field10")) data-pageid="@(Model.displayVar("pageid"))" data-field="clientid" data-fieldname="clientid">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_clientid"))">
		@(Model.displayVar("label dbo_users clientid"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_clientid"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("clientid_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("clientid_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _title_fieldblock in Model.GetSection("title_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_title"))  r-horizontal-field form-horizontal" data-signal-error-for="title@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" @(Model.displayVar("item_integrated_search_field11")) data-pageid="@(Model.displayVar("pageid"))" data-field="title" data-fieldname="title">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_title"))">
		@(Model.displayVar("label dbo_users title"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_title"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("title_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("title_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _phone_fieldblock in Model.GetSection("phone_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_phone"))  r-horizontal-field form-horizontal" data-signal-error-for="phone@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" @(Model.displayVar("item_integrated_search_field12")) data-pageid="@(Model.displayVar("pageid"))" data-field="phone" data-fieldname="phone">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_phone"))">
		@(Model.displayVar("label dbo_users phone"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_phone"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("phone_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("phone_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _time_zone_fieldblock in Model.GetSection("time_zone_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_time_zone"))  r-horizontal-field form-horizontal" data-signal-error-for="time_zone@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" @(Model.displayVar("item_integrated_search_field13")) data-pageid="@(Model.displayVar("pageid"))" data-field="time_zone" data-fieldname="time_zone">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_time_zone"))">
		@(Model.displayVar("label dbo_users time_zone"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_time_zone"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("time_zone_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("time_zone_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _salutation_fieldblock in Model.GetSection("salutation_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_salutation"))  r-horizontal-field form-horizontal" data-signal-error-for="salutation@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" @(Model.displayVar("item_integrated_search_field14")) data-pageid="@(Model.displayVar("pageid"))" data-field="salutation" data-fieldname="salutation">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_salutation"))">
		@(Model.displayVar("label dbo_users salutation"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_salutation"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("salutation_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("salutation_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _first_name_fieldblock in Model.GetSection("first_name_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_first_name"))  r-horizontal-field form-horizontal" data-signal-error-for="first_name@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" @(Model.displayVar("item_integrated_search_field15")) data-pageid="@(Model.displayVar("pageid"))" data-field="first_name" data-fieldname="first_name">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_first_name"))">
		@(Model.displayVar("label dbo_users first_name"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_first_name"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("first_name_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("first_name_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _last_name_fieldblock in Model.GetSection("last_name_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_last_name"))  r-horizontal-field form-horizontal" data-signal-error-for="last_name@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" @(Model.displayVar("item_integrated_search_field16")) data-pageid="@(Model.displayVar("pageid"))" data-field="last_name" data-fieldname="last_name">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_last_name"))">
		@(Model.displayVar("label dbo_users last_name"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_last_name"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("last_name_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("last_name_editcontrol1"))
	</div>
	
</div>

}
	
								</td>
			}
								</tr>
			</tbody></table>
}
									@foreach (string _below_grid_block in Model.GetSection("below-grid_block", this)){
<DIV class="r-form" data-location="below-grid" id="form_below-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_below-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="6" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="below-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c1")) class="			col-md-12
	">
	 
		<SPAN data-itemtype="search_search" data-itemid="search_search" @(Model.displayVar("item_search_search")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-primary   
	" @(Model.displayVar("searchbutton_attrs")) data-page=undefined>
							Search			</a>
</span>
	 
		<SPAN data-itemtype="search_reset" data-itemid="search_reset" @(Model.displayVar("item_search_reset")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("resetbutton_attrs"))>
							Reset			</a>
</span>
	 
		@foreach (string _back_button in Model.GetSection("back_button", this)){
<SPAN data-itemtype="search_back_list" data-itemid="search_back_list" @(Model.displayVar("item_search_back_list")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("backbutton_attrs"))>
							Back to list			</a>
</span>
}
	 
		@foreach (string _cancel_button in Model.GetSection("cancel_button", this)){
<SPAN data-itemtype="search_cancel" data-itemid="search_cancel" @(Model.displayVar("item_search_cancel")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" id="cancelButton@(Model.displayVar("id"))">
							Cancel			</a>
</span>
}
	</div>					</div>
	</div>		
}
			</div>
		{Html.RenderSharedView("footer");}
	}
	</body>
</html>
