@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
				<META http-equiv="X-UA-Compatible" content="IE=Edge" />
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(Model.displayVar("pagetitle"))</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<BASE href="@(Model.displayVar("projectPath"))" />
		<LINK REL="stylesheet" href="styles/default.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
	<LINK REL="stylesheet" href="styles/defaultRTL.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	}
	@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
	<LINK REL="stylesheet" href="@(Model.displayVar("stylepath"))" type="text/css" />
	}
			
	</head>

	<BODY class="@(Model.displayVar("stylename")) function-add">
	@foreach (string _body in Model.GetSection("body", this)){
		{Html.RenderSharedView("header");}
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"")</style>
		@(Model.displayVar("locking"))
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="4" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="top_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c1")) class=" r-ori-vert			col-md-12
	">
	 
		<H2 data-itemtype="add_header" data-itemid="add_header" @(Model.displayVar("item_add_header")) data-pageid="@(Model.displayVar("pageid"))">@(Model.displayVar("pagetitlelabel dbo_Clients_provisioning add"))</h2>
	</div>					</div>
	</div>		
}
									@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="4" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c1")) class=" r-ori-vert			col-md-12
	">
	 
		@foreach (string _message_block in Model.GetSection("message_block", this)){
<DIV data-itemtype="add_message" data-itemid="add_message" @(Model.displayVar("item_add_message")) data-pageid="@(Model.displayVar("pageid"))" class="alert @(Model.displayVar("message_class"))" role="alert">
<h5>@(Model.displayVar("message"))</h5>
<div>
@foreach (string _message_back_button in Model.GetSection("message_back_button", this)){
		
	<BUTTON class="btn btn-sm btn-default" @(Model.displayVar("backbutton_attrs"))>Back to list</button>
	}
@foreach (string _view_page_button in Model.GetSection("view_page_button", this)){
	<BUTTON class="btn btn-sm btn-default" @(Model.displayVar("view_page_button_attrs"))>View</button>
}
@foreach (string _edit_page_button in Model.GetSection("edit_page_button", this)){
	<BUTTON class="btn btn-sm btn-default" @(Model.displayVar("edit_page_button_attrs"))>Edit</button>
}
</div>
</div>
}	</div>					</div>
	 
		<div class="row">
			 
				<DIV data-cellId="above-grid_c2" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c2")) class=" r-ori-vert			col-md-12
	">
	 
		<UL class="nav nav-pills nav-justified" id="stepnav@(Model.displayVar("id"))" data-stepcontrol data-itemtype="step_nav" data-itemid="step_nav" @(Model.displayVar("item_step_nav")) data-pageid="@(Model.displayVar("pageid"))">
			<li role="presentation" data-step="0">
			<A href="#">ClientsProvision</a>
		</li>
			<li role="presentation" data-step="1">
			<A href="#">ClientApps</a>
		</li>
	</ul>	</div>					</div>
	</div>		
}
									@foreach (string _steps_block in Model.GetSection("steps_block", this)){
			<DIV id="step_0_@(Model.displayVar("id"))" class="stepFrame" data-step="0">
		@foreach (string _grid_block in Model.GetSection("grid_block", this)){




 
	 
												<TABLE data-body-align="center" data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))" class="r-edit-form" cellpadding="0" cellspacing="0" @(Model.displayVar("grid_hiddenattr")) data-form-width="1" data-v-width="4">
	<tbody>
										<TR @(Model.displayVar("row_grid_0"))>
										

@foreach (string _cellblock_grid_c3 in Model.GetSection("cellblock_grid_c3", this)){
<TD @(Model.displayVar("cell_grid_c3")) class=" r-ori-vert" data-fullwidth data-cellId="grid_c3" data-pageid="@(Model.displayVar("pageid"))" data-v-cell="4">
	<div edit-form-cell class="clearfix">
				
@foreach (string _name_fieldblock in Model.GetSection("name_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_name"))  r-vertical-field" data-signal-error-for="name@(Model.displayVar("id"))" @(Model.displayVar("required_attr_name")) data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" @(Model.displayVar("item_integrated_edit_field1")) data-pageid="@(Model.displayVar("pageid"))" data-field="name" data-fieldname="name">

	<LABEL class="r-edit-label control-label" for="@(Model.displayVar("labelfor_name"))">
		@foreach (string _name_label in Model.GetSection("name_label", this)){@(Model.displayVar("label dbo_Clients_provisioning name"))}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		@(Model.displayVar("name_editcontrol"))	</div>
	<DIV class="r-edit-tooltip" data-helpfor="name" {$tooltipAttr dbo_Clients_provisioning name }>
		<div class="text-muted" >
		@(Model.displayVar("tooltip dbo_Clients_provisioning name"))		</div>
	</div>
</div>


}
											
@foreach (string _shortcode_fieldblock in Model.GetSection("shortcode_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_shortcode"))  r-vertical-field" data-signal-error-for="shortcode@(Model.displayVar("id"))" @(Model.displayVar("required_attr_shortcode")) data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" @(Model.displayVar("item_integrated_edit_field2")) data-pageid="@(Model.displayVar("pageid"))" data-field="shortcode" data-fieldname="shortcode">

	<LABEL class="r-edit-label control-label" for="@(Model.displayVar("labelfor_shortcode"))">
		@foreach (string _shortcode_label in Model.GetSection("shortcode_label", this)){@(Model.displayVar("label dbo_Clients_provisioning shortcode"))}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		@(Model.displayVar("shortcode_editcontrol"))	</div>
	<DIV class="r-edit-tooltip" data-helpfor="shortcode" {$tooltipAttr dbo_Clients_provisioning shortcode }>
		<div class="text-muted" >
		@(Model.displayVar("tooltip dbo_Clients_provisioning shortcode"))		</div>
	</div>
</div>


}
											
@foreach (string _onprem_fieldblock in Model.GetSection("onprem_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_onprem"))  r-vertical-field" data-signal-error-for="onprem@(Model.displayVar("id"))" @(Model.displayVar("required_attr_onprem")) data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" @(Model.displayVar("item_integrated_edit_field8")) data-pageid="@(Model.displayVar("pageid"))" data-field="onprem" data-fieldname="onprem">

	<LABEL class="r-edit-label control-label" for="@(Model.displayVar("labelfor_onprem"))">
		@foreach (string _onprem_label in Model.GetSection("onprem_label", this)){@(Model.displayVar("label dbo_Clients_provisioning onprem"))}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		@(Model.displayVar("onprem_editcontrol"))	</div>
	<DIV class="r-edit-tooltip" data-helpfor="onprem" {$tooltipAttr dbo_Clients_provisioning onprem }>
		<div class="text-muted" >
		@(Model.displayVar("tooltip dbo_Clients_provisioning onprem"))		</div>
	</div>
</div>


}
											
@foreach (string _provision_date_fieldblock in Model.GetSection("provision_date_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_provision_date"))  r-vertical-field" data-signal-error-for="provision_date@(Model.displayVar("id"))" @(Model.displayVar("required_attr_provision_date")) data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" @(Model.displayVar("item_integrated_edit_field3")) data-pageid="@(Model.displayVar("pageid"))" data-field="provision_date" data-fieldname="provision_date">

	<LABEL class="r-edit-label control-label" for="@(Model.displayVar("labelfor_provision_date"))">
		@foreach (string _provision_date_label in Model.GetSection("provision_date_label", this)){@(Model.displayVar("label dbo_Clients_provisioning provision_date"))}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		@(Model.displayVar("provision_date_editcontrol"))	</div>
	<DIV class="r-edit-tooltip" data-helpfor="provision_date" {$tooltipAttr dbo_Clients_provisioning provision_date }>
		<div class="text-muted" >
		@(Model.displayVar("tooltip dbo_Clients_provisioning provision_date"))		</div>
	</div>
</div>


}
											
@foreach (string _project_manager_fieldblock in Model.GetSection("project_manager_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_project_manager"))  r-vertical-field" data-signal-error-for="project_manager@(Model.displayVar("id"))" @(Model.displayVar("required_attr_project_manager")) data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" @(Model.displayVar("item_integrated_edit_field4")) data-pageid="@(Model.displayVar("pageid"))" data-field="project_manager" data-fieldname="project_manager">

	<LABEL class="r-edit-label control-label" for="@(Model.displayVar("labelfor_project_manager"))">
		@foreach (string _project_manager_label in Model.GetSection("project_manager_label", this)){@(Model.displayVar("label dbo_Clients_provisioning project_manager"))}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		@(Model.displayVar("project_manager_editcontrol"))	</div>
	<DIV class="r-edit-tooltip" data-helpfor="project_manager" {$tooltipAttr dbo_Clients_provisioning project_manager }>
		<div class="text-muted" >
		@(Model.displayVar("tooltip dbo_Clients_provisioning project_manager"))		</div>
	</div>
</div>


}
											
@foreach (string _primary_contact_fieldblock in Model.GetSection("primary_contact_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_primary_contact"))  r-vertical-field" data-signal-error-for="primary_contact@(Model.displayVar("id"))" @(Model.displayVar("required_attr_primary_contact")) data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" @(Model.displayVar("item_integrated_edit_field5")) data-pageid="@(Model.displayVar("pageid"))" data-field="primary_contact" data-fieldname="primary_contact">

	<LABEL class="r-edit-label control-label" for="@(Model.displayVar("labelfor_primary_contact"))">
		@foreach (string _primary_contact_label in Model.GetSection("primary_contact_label", this)){@(Model.displayVar("label dbo_Clients_provisioning primary_contact"))}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		@(Model.displayVar("primary_contact_editcontrol"))	</div>
	<DIV class="r-edit-tooltip" data-helpfor="primary_contact" {$tooltipAttr dbo_Clients_provisioning primary_contact }>
		<div class="text-muted" >
		@(Model.displayVar("tooltip dbo_Clients_provisioning primary_contact"))		</div>
	</div>
</div>


}
											
@foreach (string _primary_email_fieldblock in Model.GetSection("primary_email_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_primary_email"))  r-vertical-field" data-signal-error-for="primary_email@(Model.displayVar("id"))" @(Model.displayVar("required_attr_primary_email")) data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" @(Model.displayVar("item_integrated_edit_field6")) data-pageid="@(Model.displayVar("pageid"))" data-field="primary_email" data-fieldname="primary_email">

	<LABEL class="r-edit-label control-label" for="@(Model.displayVar("labelfor_primary_email"))">
		@foreach (string _primary_email_label in Model.GetSection("primary_email_label", this)){@(Model.displayVar("label dbo_Clients_provisioning primary_email"))}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		@(Model.displayVar("primary_email_editcontrol"))	</div>
	<DIV class="r-edit-tooltip" data-helpfor="primary_email" {$tooltipAttr dbo_Clients_provisioning primary_email }>
		<div class="text-muted" >
		@(Model.displayVar("tooltip dbo_Clients_provisioning primary_email"))		</div>
	</div>
</div>


}
											
@foreach (string _primary_phone_fieldblock in Model.GetSection("primary_phone_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_primary_phone"))  r-vertical-field" data-signal-error-for="primary_phone@(Model.displayVar("id"))" @(Model.displayVar("required_attr_primary_phone")) data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" @(Model.displayVar("item_integrated_edit_field7")) data-pageid="@(Model.displayVar("pageid"))" data-field="primary_phone" data-fieldname="primary_phone">

	<LABEL class="r-edit-label control-label" for="@(Model.displayVar("labelfor_primary_phone"))">
		@foreach (string _primary_phone_label in Model.GetSection("primary_phone_label", this)){@(Model.displayVar("label dbo_Clients_provisioning primary_phone"))}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		@(Model.displayVar("primary_phone_editcontrol"))	</div>
	<DIV class="r-edit-tooltip" data-helpfor="primary_phone" {$tooltipAttr dbo_Clients_provisioning primary_phone }>
		<div class="text-muted" >
		@(Model.displayVar("tooltip dbo_Clients_provisioning primary_phone"))		</div>
	</div>
</div>


}
	
								</td>
			}
								</tr>
			</tbody></table>
}
</div>	
				<DIV id="step_1_@(Model.displayVar("id"))" class="stepFrame" data-step="1" style="display:none">
		@foreach (string _step2_block in Model.GetSection("step2_block", this)){




 
	 
												<TABLE data-body-align="center" data-location="step2" id="form_step2_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_step2")) data-pageid="@(Model.displayVar("pageid"))" class="r-edit-form" cellpadding="0" cellspacing="0" @(Model.displayVar("grid_hiddenattr")) data-form-width="1" data-v-width="4">
	<tbody>
										<TR @(Model.displayVar("row_step2_0"))>
										

@foreach (string _cellblock_step2_c1 in Model.GetSection("cellblock_step2_c1", this)){
<TD @(Model.displayVar("cell_step2_c1")) class=" r-ori-vert" data-single data-fullwidth data-cellId="step2_c1" data-pageid="@(Model.displayVar("pageid"))" data-v-cell>
	<div edit-form-cell class="clearfix">
				
@foreach (string _apps_fieldblock in Model.GetSection("apps_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_apps"))  r-vertical-field" data-signal-error-for="apps@(Model.displayVar("id"))" @(Model.displayVar("required_attr_apps")) data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" @(Model.displayVar("item_integrated_edit_field")) data-pageid="@(Model.displayVar("pageid"))" data-field="apps" data-fieldname="apps">

	<LABEL class="r-edit-label control-label" for="@(Model.displayVar("labelfor_apps"))">
		@foreach (string _apps_label in Model.GetSection("apps_label", this)){@(Model.displayVar("label dbo_Clients_provisioning apps"))}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		@(Model.displayVar("apps_editcontrol"))	</div>
	<DIV class="r-edit-tooltip" data-helpfor="apps" {$tooltipAttr dbo_Clients_provisioning apps }>
		<div class="text-muted" >
		@(Model.displayVar("tooltip dbo_Clients_provisioning apps"))		</div>
	</div>
</div>


}
	
								</td>
			}
								</tr>
			</tbody></table>
}
</div>	
	}									@foreach (string _below_grid_block in Model.GetSection("below-grid_block", this)){
<DIV class="r-form" data-location="below-grid" id="form_below-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_below-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="4" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="below-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c1")) class="			col-md-12
	">
	 
		@foreach (string _nextStepButton in Model.GetSection("nextStepButton", this)){
<SPAN data-itemtype="next_step" data-itemid="next_step" @(Model.displayVar("item_next_step")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-primary   
	" href="#" id="nextstep@(Model.displayVar("id"))">
							Next			</a>
</span>
}
	 
		<SPAN data-itemtype="add_save" data-itemid="add_save" @(Model.displayVar("item_add_save")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-primary   
	" @(Model.displayVar("savebutton_attrs"))>
							Save			</a>
</span>
	 
		<SPAN data-itemtype="add_reset" data-itemid="add_reset" @(Model.displayVar("item_add_reset")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" id="resetButton@(Model.displayVar("id"))">
							Reset			</a>
</span>
	 
		@foreach (string _back_button in Model.GetSection("back_button", this)){
<SPAN data-itemtype="add_back_list" data-itemid="add_back_list" @(Model.displayVar("item_add_back_list")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" id="backButton@(Model.displayVar("id"))">
							Back to list			</a>
</span>
}
	 
		@foreach (string _cancel_button in Model.GetSection("cancel_button", this)){
<SPAN data-itemtype="add_cancel" data-itemid="add_cancel" @(Model.displayVar("item_add_cancel")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" id="cancelButton@(Model.displayVar("id"))">
							Cancel			</a>
</span>
}
	</div>					</div>
	</div>		
}
			</div>
		{Html.RenderSharedView("footer");}
	}
	</body>
</html>
