@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
				<META http-equiv="X-UA-Compatible" content="IE=Edge" />
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(Model.displayVar("pagetitle"))</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<BASE href="@(Model.displayVar("projectPath"))" />
		<LINK REL="stylesheet" href="styles/default.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
	<LINK REL="stylesheet" href="styles/defaultRTL.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	}
	@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
	<LINK REL="stylesheet" href="@(Model.displayVar("stylepath"))" type="text/css" />
	}
			
	</head>

	<BODY class="@(Model.displayVar("stylename")) function-search">
	@foreach (string _body in Model.GetSection("body", this)){
		{Html.RenderSharedView("header");}
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"")</style>
		@(Model.displayVar("locking"))
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="6" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="top_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c1")) class=" r-ori-vert			col-md-12
	">
	 
		<H2 data-itemtype="search_header" data-itemid="search_header" @(Model.displayVar("item_search_header")) data-pageid="@(Model.displayVar("pageid"))">@(Model.displayVar("pagetitlelabel dbo_tp_chart_mst search"))</h2>
	</div>					</div>
	</div>		
}
									@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="6" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c1")) class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
}
									@foreach (string _grid_block in Model.GetSection("grid_block", this)){




 
	 
												<TABLE data-body-align="center" data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))" class="r-edit-form" cellpadding="0" cellspacing="0" @(Model.displayVar("grid_hiddenattr")) data-form-width="1" data-v-width="6">
	<tbody>
										<TR @(Model.displayVar("row_grid_0"))>
										

@foreach (string _cellblock_grid_c3 in Model.GetSection("cellblock_grid_c3", this)){
<TD @(Model.displayVar("cell_grid_c3")) class=" r-ori-vert" data-fullwidth data-cellId="grid_c3" data-pageid="@(Model.displayVar("pageid"))" data-v-cell="6">
	<div edit-form-cell class="clearfix">
				
@foreach (string _clientid_fieldblock in Model.GetSection("clientid_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_clientid"))  r-horizontal-field form-horizontal" data-signal-error-for="clientid@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field" @(Model.displayVar("item_integrated_search_field")) data-pageid="@(Model.displayVar("pageid"))" data-field="clientid" data-fieldname="clientid">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_clientid"))">
		@(Model.displayVar("label dbo_tp_chart_mst clientid"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_clientid"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("clientid_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("clientid_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _acct_fieldblock in Model.GetSection("acct_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_acct"))  r-horizontal-field form-horizontal" data-signal-error-for="acct@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" @(Model.displayVar("item_integrated_search_field1")) data-pageid="@(Model.displayVar("pageid"))" data-field="acct" data-fieldname="acct">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_acct"))">
		@(Model.displayVar("label dbo_tp_chart_mst acct"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_acct"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("acct_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("acct_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _type_fieldblock in Model.GetSection("type_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_type"))  r-horizontal-field form-horizontal" data-signal-error-for="type@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" @(Model.displayVar("item_integrated_search_field2")) data-pageid="@(Model.displayVar("pageid"))" data-field="type" data-fieldname="type">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_type"))">
		@(Model.displayVar("label dbo_tp_chart_mst type"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_type"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("type_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("type_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _tp_posted_fieldblock in Model.GetSection("tp_posted_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_tp_posted"))  r-horizontal-field form-horizontal" data-signal-error-for="tp_posted@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" @(Model.displayVar("item_integrated_search_field3")) data-pageid="@(Model.displayVar("pageid"))" data-field="tp_posted" data-fieldname="tp_posted">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_tp_posted"))">
		@(Model.displayVar("label dbo_tp_chart_mst tp_posted"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_tp_posted"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("tp_posted_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("tp_posted_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _Category_fieldblock in Model.GetSection("Category_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_Category"))  r-horizontal-field form-horizontal" data-signal-error-for="Category@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" @(Model.displayVar("item_integrated_search_field4")) data-pageid="@(Model.displayVar("pageid"))" data-field="Category" data-fieldname="Category">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_Category"))">
		@(Model.displayVar("label dbo_tp_chart_mst Category"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_Category"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("Category_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("Category_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _action_fieldblock in Model.GetSection("action_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_action"))  r-horizontal-field form-horizontal" data-signal-error-for="action@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" @(Model.displayVar("item_integrated_search_field5")) data-pageid="@(Model.displayVar("pageid"))" data-field="action" data-fieldname="action">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_action"))">
		@(Model.displayVar("label dbo_tp_chart_mst action"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_action"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("action_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("action_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _MiscBox1099_fieldblock in Model.GetSection("MiscBox1099_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_MiscBox1099"))  r-horizontal-field form-horizontal" data-signal-error-for="MiscBox1099@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" @(Model.displayVar("item_integrated_search_field6")) data-pageid="@(Model.displayVar("pageid"))" data-field="MiscBox1099" data-fieldname="MiscBox1099">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_MiscBox1099"))">
		@(Model.displayVar("label dbo_tp_chart_mst MiscBox1099"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_MiscBox1099"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("MiscBox1099_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("MiscBox1099_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _description_fieldblock in Model.GetSection("description_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_description"))  r-horizontal-field form-horizontal" data-signal-error-for="description@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" @(Model.displayVar("item_integrated_search_field7")) data-pageid="@(Model.displayVar("pageid"))" data-field="description" data-fieldname="description">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_description"))">
		@(Model.displayVar("label dbo_tp_chart_mst description"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_description"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("description_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("description_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _currency_fieldblock in Model.GetSection("currency_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_currency"))  r-horizontal-field form-horizontal" data-signal-error-for="currency@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" @(Model.displayVar("item_integrated_search_field8")) data-pageid="@(Model.displayVar("pageid"))" data-field="currency" data-fieldname="currency">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_currency"))">
		@(Model.displayVar("label dbo_tp_chart_mst currency"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_currency"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("currency_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("currency_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _payer_entity_name_fieldblock in Model.GetSection("payer_entity_name_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_payer_entity_name"))  r-horizontal-field form-horizontal" data-signal-error-for="payer_entity_name@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" @(Model.displayVar("item_integrated_search_field9")) data-pageid="@(Model.displayVar("pageid"))" data-field="payer_entity_name" data-fieldname="payer_entity_name">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_payer_entity_name"))">
		@(Model.displayVar("label dbo_tp_chart_mst payer_entity_name"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_payer_entity_name"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("payer_entity_name_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("payer_entity_name_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _RowPointer_fieldblock in Model.GetSection("RowPointer_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_RowPointer"))  r-horizontal-field form-horizontal" data-signal-error-for="RowPointer@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" @(Model.displayVar("item_integrated_search_field10")) data-pageid="@(Model.displayVar("pageid"))" data-field="RowPointer" data-fieldname="RowPointer">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_RowPointer"))">
		@(Model.displayVar("label dbo_tp_chart_mst RowPointer"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_RowPointer"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("RowPointer_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("RowPointer_editcontrol1"))
	</div>
	
</div>

}
	
								</td>
			}
								</tr>
			</tbody></table>
}
									@foreach (string _below_grid_block in Model.GetSection("below-grid_block", this)){
<DIV class="r-form" data-location="below-grid" id="form_below-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_below-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="6" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="below-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c1")) class="			col-md-12
	">
	 
		<SPAN data-itemtype="search_search" data-itemid="search_search" @(Model.displayVar("item_search_search")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-primary   
	" @(Model.displayVar("searchbutton_attrs")) data-page=undefined>
							Search			</a>
</span>
	 
		<SPAN data-itemtype="search_reset" data-itemid="search_reset" @(Model.displayVar("item_search_reset")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("resetbutton_attrs"))>
							Reset			</a>
</span>
	 
		@foreach (string _back_button in Model.GetSection("back_button", this)){
<SPAN data-itemtype="search_back_list" data-itemid="search_back_list" @(Model.displayVar("item_search_back_list")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("backbutton_attrs"))>
							Back to list			</a>
</span>
}
	 
		@foreach (string _cancel_button in Model.GetSection("cancel_button", this)){
<SPAN data-itemtype="search_cancel" data-itemid="search_cancel" @(Model.displayVar("item_search_cancel")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" id="cancelButton@(Model.displayVar("id"))">
							Cancel			</a>
</span>
}
	</div>					</div>
	</div>		
}
			</div>
		{Html.RenderSharedView("footer");}
	}
	</body>
</html>
