@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
				<META http-equiv="X-UA-Compatible" content="IE=Edge" />
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(Model.displayVar("pagetitle"))</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<BASE href="@(Model.displayVar("projectPath"))" />
		<LINK REL="stylesheet" href="styles/default.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
	<LINK REL="stylesheet" href="styles/defaultRTL.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	}
	@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
	<LINK REL="stylesheet" href="@(Model.displayVar("stylepath"))" type="text/css" />
	}
			
	</head>

	<BODY class="@(Model.displayVar("stylename")) function-search">
	@foreach (string _body in Model.GetSection("body", this)){
		{Html.RenderSharedView("header");}
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"")</style>
		@(Model.displayVar("locking"))
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="6" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="top_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c1")) class=" r-ori-vert			col-md-12
	">
	 
		<H2 data-itemtype="search_header" data-itemid="search_header" @(Model.displayVar("item_search_header")) data-pageid="@(Model.displayVar("pageid"))">@(Model.displayVar("pagetitlelabel dbo_sc_expensereport_mst search"))</h2>
	</div>					</div>
	</div>		
}
									@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="6" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c1")) class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
}
									@foreach (string _grid_block in Model.GetSection("grid_block", this)){




 
	 
												<TABLE data-body-align="center" data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))" class="r-edit-form" cellpadding="0" cellspacing="0" @(Model.displayVar("grid_hiddenattr")) data-form-width="1" data-v-width="6">
	<tbody>
										<TR @(Model.displayVar("row_grid_0"))>
										

@foreach (string _cellblock_grid_c3 in Model.GetSection("cellblock_grid_c3", this)){
<TD @(Model.displayVar("cell_grid_c3")) class=" r-ori-vert" data-fullwidth data-cellId="grid_c3" data-pageid="@(Model.displayVar("pageid"))" data-v-cell="6">
	<div edit-form-cell class="clearfix">
				
@foreach (string _site_ref_fieldblock in Model.GetSection("site_ref_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_site_ref"))  r-horizontal-field form-horizontal" data-signal-error-for="site_ref@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field" @(Model.displayVar("item_integrated_search_field")) data-pageid="@(Model.displayVar("pageid"))" data-field="site_ref" data-fieldname="site_ref">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_site_ref"))">
		@(Model.displayVar("label dbo_sc_expensereport_mst site_ref"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_site_ref"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("site_ref_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("site_ref_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _report_id_fieldblock in Model.GetSection("report_id_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_report_id"))  r-horizontal-field form-horizontal" data-signal-error-for="report_id@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" @(Model.displayVar("item_integrated_search_field1")) data-pageid="@(Model.displayVar("pageid"))" data-field="report_id" data-fieldname="report_id">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_report_id"))">
		@(Model.displayVar("label dbo_sc_expensereport_mst report_id"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_report_id"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("report_id_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("report_id_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _uri_fieldblock in Model.GetSection("uri_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_uri"))  r-horizontal-field form-horizontal" data-signal-error-for="uri@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" @(Model.displayVar("item_integrated_search_field2")) data-pageid="@(Model.displayVar("pageid"))" data-field="uri" data-fieldname="uri">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_uri"))">
		@(Model.displayVar("label dbo_sc_expensereport_mst uri"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_uri"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("uri_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("uri_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _name_fieldblock in Model.GetSection("name_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_name"))  r-horizontal-field form-horizontal" data-signal-error-for="name@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" @(Model.displayVar("item_integrated_search_field3")) data-pageid="@(Model.displayVar("pageid"))" data-field="name" data-fieldname="name">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_name"))">
		@(Model.displayVar("label dbo_sc_expensereport_mst name"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_name"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("name_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("name_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _total_fieldblock in Model.GetSection("total_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_total"))  r-horizontal-field form-horizontal" data-signal-error-for="total@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" @(Model.displayVar("item_integrated_search_field4")) data-pageid="@(Model.displayVar("pageid"))" data-field="total" data-fieldname="total">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_total"))">
		@(Model.displayVar("label dbo_sc_expensereport_mst total"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_total"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("total_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("total_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _curr_code_fieldblock in Model.GetSection("curr_code_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_curr_code"))  r-horizontal-field form-horizontal" data-signal-error-for="curr_code@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" @(Model.displayVar("item_integrated_search_field5")) data-pageid="@(Model.displayVar("pageid"))" data-field="curr_code" data-fieldname="curr_code">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_curr_code"))">
		@(Model.displayVar("label dbo_sc_expensereport_mst curr_code"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_curr_code"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("curr_code_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("curr_code_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _clientid_fieldblock in Model.GetSection("clientid_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_clientid"))  r-horizontal-field form-horizontal" data-signal-error-for="clientid@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" @(Model.displayVar("item_integrated_search_field6")) data-pageid="@(Model.displayVar("pageid"))" data-field="clientid" data-fieldname="clientid">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_clientid"))">
		@(Model.displayVar("label dbo_sc_expensereport_mst clientid"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_clientid"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("clientid_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("clientid_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _createdate_fieldblock in Model.GetSection("createdate_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_createdate"))  r-horizontal-field form-horizontal" data-signal-error-for="createdate@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" @(Model.displayVar("item_integrated_search_field7")) data-pageid="@(Model.displayVar("pageid"))" data-field="createdate" data-fieldname="createdate">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_createdate"))">
		@(Model.displayVar("label dbo_sc_expensereport_mst createdate"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_createdate"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("createdate_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("createdate_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _submitdate_fieldblock in Model.GetSection("submitdate_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_submitdate"))  r-horizontal-field form-horizontal" data-signal-error-for="submitdate@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" @(Model.displayVar("item_integrated_search_field8")) data-pageid="@(Model.displayVar("pageid"))" data-field="submitdate" data-fieldname="submitdate">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_submitdate"))">
		@(Model.displayVar("label dbo_sc_expensereport_mst submitdate"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_submitdate"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("submitdate_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("submitdate_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _ownerloginid_fieldblock in Model.GetSection("ownerloginid_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_ownerloginid"))  r-horizontal-field form-horizontal" data-signal-error-for="ownerloginid@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" @(Model.displayVar("item_integrated_search_field9")) data-pageid="@(Model.displayVar("pageid"))" data-field="ownerloginid" data-fieldname="ownerloginid">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_ownerloginid"))">
		@(Model.displayVar("label dbo_sc_expensereport_mst ownerloginid"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_ownerloginid"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("ownerloginid_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("ownerloginid_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _ownername_fieldblock in Model.GetSection("ownername_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_ownername"))  r-horizontal-field form-horizontal" data-signal-error-for="ownername@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" @(Model.displayVar("item_integrated_search_field10")) data-pageid="@(Model.displayVar("pageid"))" data-field="ownername" data-fieldname="ownername">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_ownername"))">
		@(Model.displayVar("label dbo_sc_expensereport_mst ownername"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_ownername"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("ownername_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("ownername_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _country_fieldblock in Model.GetSection("country_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_country"))  r-horizontal-field form-horizontal" data-signal-error-for="country@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" @(Model.displayVar("item_integrated_search_field11")) data-pageid="@(Model.displayVar("pageid"))" data-field="country" data-fieldname="country">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_country"))">
		@(Model.displayVar("label dbo_sc_expensereport_mst country"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_country"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("country_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("country_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _reportdate_fieldblock in Model.GetSection("reportdate_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_reportdate"))  r-horizontal-field form-horizontal" data-signal-error-for="reportdate@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" @(Model.displayVar("item_integrated_search_field12")) data-pageid="@(Model.displayVar("pageid"))" data-field="reportdate" data-fieldname="reportdate">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_reportdate"))">
		@(Model.displayVar("label dbo_sc_expensereport_mst reportdate"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_reportdate"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("reportdate_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("reportdate_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _concuruserid_fieldblock in Model.GetSection("concuruserid_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_concuruserid"))  r-horizontal-field form-horizontal" data-signal-error-for="concuruserid@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" @(Model.displayVar("item_integrated_search_field13")) data-pageid="@(Model.displayVar("pageid"))" data-field="concuruserid" data-fieldname="concuruserid">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_concuruserid"))">
		@(Model.displayVar("label dbo_sc_expensereport_mst concuruserid"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_concuruserid"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("concuruserid_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("concuruserid_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _vend_num_fieldblock in Model.GetSection("vend_num_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_vend_num"))  r-horizontal-field form-horizontal" data-signal-error-for="vend_num@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" @(Model.displayVar("item_integrated_search_field14")) data-pageid="@(Model.displayVar("pageid"))" data-field="vend_num" data-fieldname="vend_num">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_vend_num"))">
		@(Model.displayVar("label dbo_sc_expensereport_mst vend_num"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_vend_num"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("vend_num_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("vend_num_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _trans_num_fieldblock in Model.GetSection("trans_num_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_trans_num"))  r-horizontal-field form-horizontal" data-signal-error-for="trans_num@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" @(Model.displayVar("item_integrated_search_field15")) data-pageid="@(Model.displayVar("pageid"))" data-field="trans_num" data-fieldname="trans_num">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_trans_num"))">
		@(Model.displayVar("label dbo_sc_expensereport_mst trans_num"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_trans_num"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("trans_num_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("trans_num_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _posted_fieldblock in Model.GetSection("posted_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_posted"))  r-horizontal-field form-horizontal" data-signal-error-for="posted@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" @(Model.displayVar("item_integrated_search_field16")) data-pageid="@(Model.displayVar("pageid"))" data-field="posted" data-fieldname="posted">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_posted"))">
		@(Model.displayVar("label dbo_sc_expensereport_mst posted"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_posted"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("posted_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("posted_editcontrol1"))
	</div>
	
</div>

}
	
								</td>
			}
								</tr>
			</tbody></table>
}
									@foreach (string _below_grid_block in Model.GetSection("below-grid_block", this)){
<DIV class="r-form" data-location="below-grid" id="form_below-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_below-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="6" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="below-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c1")) class="			col-md-12
	">
	 
		<SPAN data-itemtype="search_search" data-itemid="search_search" @(Model.displayVar("item_search_search")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-primary   
	" @(Model.displayVar("searchbutton_attrs")) data-page=undefined>
							Search			</a>
</span>
	 
		<SPAN data-itemtype="search_reset" data-itemid="search_reset" @(Model.displayVar("item_search_reset")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("resetbutton_attrs"))>
							Reset			</a>
</span>
	 
		@foreach (string _back_button in Model.GetSection("back_button", this)){
<SPAN data-itemtype="search_back_list" data-itemid="search_back_list" @(Model.displayVar("item_search_back_list")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("backbutton_attrs"))>
							Back to list			</a>
</span>
}
	 
		@foreach (string _cancel_button in Model.GetSection("cancel_button", this)){
<SPAN data-itemtype="search_cancel" data-itemid="search_cancel" @(Model.displayVar("item_search_cancel")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" id="cancelButton@(Model.displayVar("id"))">
							Cancel			</a>
</span>
}
	</div>					</div>
	</div>		
}
			</div>
		{Html.RenderSharedView("footer");}
	}
	</body>
</html>
