@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
				<META http-equiv="X-UA-Compatible" content="IE=Edge" />
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(Model.displayVar("pagetitle"))</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<BASE href="@(Model.displayVar("projectPath"))" />
		<LINK REL="stylesheet" href="styles/default.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
	<LINK REL="stylesheet" href="styles/defaultRTL.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	}
	@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
	<LINK REL="stylesheet" href="@(Model.displayVar("stylepath"))" type="text/css" />
	}
			
	</head>
	<BODY class="@(Model.displayVar("stylename")) function-admin_members_list">
	@foreach (string _body in Model.GetSection("body", this)){
		{Html.RenderSharedView("header");}
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"")</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				data-fixed 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="left"
			>
								@foreach (string _supertop_block in Model.GetSection("supertop_block", this)){
<NAV class="navbar navbar-default" data-location="supertop" id="form_supertop_@(Model.displayVar("pageid"))" data-makeup="topbar" @(Model.displayVar("form_supertop")) data-pageid="@(Model.displayVar("pageid"))">
			 
							 
				<SPAN data-cellId="supertop_c1" data-pageid="@(Model.displayVar("pageid"))" class="r-align-left navbar-header" data-itemid="logo" @(Model.displayVar("item_logo"))>
				@foreach (string _logo_block in Model.GetSection("logo_block", this)){
	<A data-itemtype="logo" data-itemid="logo" @(Model.displayVar("item_logo")) data-pageid="@(Model.displayVar("pageid"))" class="navbar-brand" href="@(Model.displayVar("home_link"))" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("logo_hiddenattr"))>
		@(Model.displayVar("logo"))
	</A>
}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
		 
				<SPAN data-cellId="supertop_c1" data-pageid="@(Model.displayVar("pageid"))" class="r-align-left navbar-collapse" data-itemtype="menu" data-itemid="menu" @(Model.displayVar("item_menu")) data-pageid="@(Model.displayVar("pageid"))">
				@foreach (string _menuitems_adminarea in Model.GetSection("menuitems_adminarea", this)){
<UL data-itemtype="menu" data-itemid="menu" @(Model.displayVar("item_menu")) data-pageid="@(Model.displayVar("pageid"))" class="r-menu nav navbar-nav" data-menulevel="1">

@foreach (string _item_children1 in Model.GetSection("item_children1", this)){
<LI class="
	@{foreach (string _item_haschildren2 in Model.GetSection("item_haschildren2", this)){@MvcHtmlString.Create(@" dropdown ")}} 
	@(Model.displayVar("item_current"))">
<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-h data-menu-top>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren2 in Model.GetSection("item_haschildren2", this)){
		foreach (string _item_expand_icon in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-bottom"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
	</a>
@foreach (string _item_showchildren2 in Model.GetSection("item_showchildren2", this)){
<UL class="
			dropdown-menu
			@(Model.displayVar("submenu_class"))" id="submenu@(Model.displayVar("item_id"))" data-menulevel="2">
	@foreach (string _item_children2 in Model.GetSection("item_children2", this)){
		foreach (string _item_menulink2 in Model.GetSection("item_menulink2", this)){
		<LI class="
						@{foreach (string _item_haschildren2 in Model.GetSection("item_haschildren2", this)){@MvcHtmlString.Create(@" dropdown ")}}
						@(Model.displayVar("item_current"))">
			<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-h>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren2_1 in Model.GetSection("item_haschildren2", this)){
		foreach (string _item_expand_icon_1 in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-right"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
	</a>
			@foreach (string _item_showchildren3 in Model.GetSection("item_showchildren3", this)){
<UL class="
			dropdown-menu
			@(Model.displayVar("submenu_class"))" id="submenu@(Model.displayVar("item_id"))" data-menulevel="3">
	@foreach (string _item_children3 in Model.GetSection("item_children3", this)){
		foreach (string _item_menulink3 in Model.GetSection("item_menulink3", this)){
		<LI class="
						@{foreach (string _item_haschildren3 in Model.GetSection("item_haschildren3", this)){@MvcHtmlString.Create(@" dropdown ")}}
						@(Model.displayVar("item_current"))">
			<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-h>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren3 in Model.GetSection("item_haschildren3", this)){
		foreach (string _item_expand_icon_2 in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-right"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
	</a>
			@foreach (string _item_showchildren4 in Model.GetSection("item_showchildren4", this)){
<UL class="
			dropdown-menu
			@(Model.displayVar("submenu_class"))" id="submenu@(Model.displayVar("item_id"))" data-menulevel="4">
	@foreach (string _item_children4 in Model.GetSection("item_children4", this)){
		foreach (string _item_menulink4 in Model.GetSection("item_menulink4", this)){
		<LI class="
						@{foreach (string _item_haschildren4 in Model.GetSection("item_haschildren4", this)){@MvcHtmlString.Create(@" dropdown ")}}
						@(Model.displayVar("item_current"))">
			<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-h>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren4 in Model.GetSection("item_haschildren4", this)){
		foreach (string _item_expand_icon_3 in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-right"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
	</a>
			@foreach (string _item_showchildren5 in Model.GetSection("item_showchildren5", this)){
<UL class="
			dropdown-menu
			@(Model.displayVar("submenu_class"))" id="submenu@(Model.displayVar("item_id"))" data-menulevel="5">
	@foreach (string _item_children5 in Model.GetSection("item_children5", this)){
		foreach (string _item_menulink5 in Model.GetSection("item_menulink5", this)){
		<LI class="
						@{foreach (string _item_haschildren5 in Model.GetSection("item_haschildren5", this)){@MvcHtmlString.Create(@" dropdown ")}}
						@(Model.displayVar("item_current"))">
			<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-h>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren5 in Model.GetSection("item_haschildren5", this)){
		foreach (string _item_expand_icon_4 in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-right"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
	</a>
					</li>
		}
	}
</ul>
}
		</li>
		}
	}
</ul>
}
		</li>
		}
	}
</ul>
}
		</li>
		}
	}
</ul>
}
</li>
}
</ul>
}
			</span>
							 
							 
				<SPAN class="navbar-form r-align-right r-ori-vert navbar-collapse" data-cellId="supertop_c2" data-pageid="@(Model.displayVar("pageid"))" data-itemid="username_button" @(Model.displayVar("item_username_button")) data-topcell-item-type="username_button">
				@foreach (string _loggedas_message in Model.GetSection("loggedas_message", this)){
<SPAN data-itemtype="username_button" data-itemid="username_button" @(Model.displayVar("item_username_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			@foreach (string _userbutton_icon in Model.GetSection("userbutton_icon", this)){							<span class="glyphicon glyphicon-user"></span>
						}@(Model.displayVar("userbutton_image"))			@(Model.displayVar("username"))			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							@foreach (string _userinfo_link in Model.GetSection("userinfo_link", this)){
	<LI data-itemtype="userinfo_link" data-itemid="userinfo_link" @(Model.displayVar("item_userinfo_link")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A href="userinfo" title>
				
		User Profile		
		</a>
	</li>
}
							@foreach (string _logoutbutton in Model.GetSection("logoutbutton", this)){
	<LI data-itemtype="logout_link" data-itemid="logout_link" @(Model.displayVar("item_logout_link")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A href="#" @(Model.displayVar("logoutlink_attrs")) title>
				
		Log out		
		</a>
	</li>
}
							@foreach (string _exitadminarea_link in Model.GetSection("exitadminarea_link", this)){
	<LI data-itemtype="exit_adminarea_link" data-itemid="exit_adminarea_link" @(Model.displayVar("item_exit_adminarea_link")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A href="#" @(Model.displayVar("exitaalink_attrs")) title>
				
		Exit Admin Area		
		</a>
	</li>
}
							@foreach (string _changepwd_link in Model.GetSection("changepwd_link", this)){
	<LI data-itemtype="changepassword_link" data-itemid="changepassword_link" @(Model.displayVar("item_changepassword_link")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A href="changepwd" @(Model.displayVar("changepwdlink_attrs")) id="changePasswordButton@(Model.displayVar("id"))" title>
				
		Change password		
		</a>
	</li>
}
					</ul>
	</span>
</span>
}
			</span>
								</nav>
}
					@(Model.displayVar("locking"))
			</div>	
			<div data-body-align="left"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
								@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="topbar" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))">		
	</div>		
}
					</div>
				<div class="r-content">
										<div class="r-data-block" data-body-width="standard" >
						
											<div class="r-above">
					@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="topbar" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))">		
	 
				<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c1")) class="			col-md-6
	
">
		@foreach (string _firstAboveGridCell in Model.GetSection("firstAboveGridCell", this)){
		 
		<SPAN data-itemtype="members_save" data-itemid="members_save" @(Model.displayVar("item_members_save")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-primary   
	" @(Model.displayVar("savebutton_attrs"))>
							Save			</a>
</span>
	 
		<SPAN data-itemtype="members_reset" data-itemid="members_reset" @(Model.displayVar("item_members_reset")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("resetbutton_attrs"))>
							Reset			</a>
</span>
			}	
	</div>			 
				<DIV data-cellId="above-grid_c2" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c2")) class="r-align-right			col-md-6
	
">
		 
		<SPAN data-itemtype="members_choose_columns" data-itemid="members_choose_columns" @(Model.displayVar("item_members_choose_columns")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("choosecolumnsbutton_attrs"))>
							Choose columns...			</a>
</span>
	 
		<SPAN data-itemtype="members_displaying_filter" data-itemid="members_displaying_filter" @(Model.displayVar("item_members_displaying_filter")) data-pageid="@(Model.displayVar("pageid"))">
Displaying	<span id="linkselectFilter" class="btn-group">
		<span class="btn btn-link dropdown-toggle inline-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">all users</span>
		<ul class="dropdown-menu">
			<li data-value="all" ><A href="#">all users</a></li>
			<li data-value="modified" ><A href="#">modified users</a></li>
		</ul>
	</span>
</span>
		</div>					</div>
			</div>		
}
	</div>
<div class="r-grid">
	@foreach (string _grid_tabs in Model.GetSection("grid_tabs", this)){
  <ul class="nav nav-tabs bsgrid_tabs">
	@(Model.displayVar("grid_tabs_content"))
  </ul>
}
					@foreach (string _grid_block in Model.GetSection("grid_block", this)){
<TABLE class="table table-bordered adminMembersTable menuordered" cellpadding="0" data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="topbar" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))">
											<thead>
			
								<tr >
									@foreach (string _source_column in Model.GetSection("source_column", this)){

foreach (string _cellblock_grid_hcell_source in Model.GetSection("cellblock_grid_hcell_source", this)){
	<TH @(Model.displayVar("cell_grid_hcell_source")) class=" r-ori-vert" data-cellId="grid_hcell_source" data-pageid="@(Model.displayVar("pageid"))">

 
	<A class="rnr-orderlink" @(Model.displayVar("sourceuserheadersort_attrs")) data-itemtype="members_source_label" data-itemid="members_source_label" @(Model.displayVar("item_members_source_label")) data-pageid="@(Model.displayVar("pageid"))">Source</a>

	</th>
	}


}
									
@foreach (string _cellblock_grid_hcell_username in Model.GetSection("cellblock_grid_hcell_username", this)){
	<TH @(Model.displayVar("cell_grid_hcell_username")) class=" r-ori-vert" data-cellId="grid_hcell_username" data-pageid="@(Model.displayVar("pageid"))">

 
	<A class="rnr-orderlink" @(Model.displayVar("usernameheadersort_attrs")) data-itemtype="members_username_label" data-itemid="members_username_label" @(Model.displayVar("item_members_username_label")) data-pageid="@(Model.displayVar("pageid"))">Username</a>

	</th>
	}


									@foreach (string _displayname_column in Model.GetSection("displayname_column", this)){

foreach (string _cellblock_grid_hcell_displayname in Model.GetSection("cellblock_grid_hcell_displayname", this)){
	<TH @(Model.displayVar("cell_grid_hcell_displayname")) class=" r-ori-vert" data-cellId="grid_hcell_displayname" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("displayuserheadertdsort_attrs"))>

 
	<A class="rnr-orderlink" @(Model.displayVar("displayuserheadersort_attrs")) data-itemtype="members_displayname_label" data-itemid="members_displayname_label" @(Model.displayVar("item_members_displayname_label")) data-pageid="@(Model.displayVar("pageid"))">Display name</a>

	</th>
	}


}
									@foreach (string _email_column in Model.GetSection("email_column", this)){

foreach (string _cellblock_grid_hcell_email in Model.GetSection("cellblock_grid_hcell_email", this)){
	<TH @(Model.displayVar("cell_grid_hcell_email")) class=" r-ori-vert" data-cellId="grid_hcell_email" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("emailuserheadertdsort_attrs"))>

 
	<A class="rnr-orderlink" @(Model.displayVar("emailuserheadersort_attrs")) data-itemtype="members_email_label" data-itemid="members_email_label" @(Model.displayVar("item_members_email_label")) data-pageid="@(Model.displayVar("pageid"))">Email</a>

	</th>
	}


}
									@foreach (string _usergroup_header in Model.GetSection("usergroup_header", this)){

foreach (string _cellblock_grid_hcell_groupname in Model.GetSection("cellblock_grid_hcell_groupname", this)){
	<TH @(Model.displayVar("cell_grid_hcell_groupname")) class="r-align-center r-ori-vert" data-cellId="grid_hcell_groupname" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("groupheadertdsort_attrs"))>

 
	<A class="rnr-orderlink" @(Model.displayVar("groupheadersort_attrs")) data-itemtype="members_groupname_label" data-itemid="members_groupname_label" @(Model.displayVar("item_members_groupname_label")) data-pageid="@(Model.displayVar("pageid"))">@(Model.displayVar("groupname"))</a>

	</th>
	}


}
							</tr>
											<tr >
									@foreach (string _source_column_1 in Model.GetSection("source_column", this)){

foreach (string _cellblock_grid_hcell_source1 in Model.GetSection("cellblock_grid_hcell_source1", this)){
	<TH @(Model.displayVar("cell_grid_hcell_source1")) class=" r-ori-vert" data-cellId="grid_hcell_source1" data-pageid="@(Model.displayVar("pageid"))">

 
	<SPAN data-itemtype="members_source_filter" data-itemid="members_source_filter" @(Model.displayVar("item_members_source_filter")) data-pageid="@(Model.displayVar("pageid"))">
	<select class="form-control">
		<OPTION value>All</OPTION>
		@foreach (string _user_sources in Model.GetSection("user_sources", this)){
		<OPTION value="@(Model.displayVar("code"))">@(Model.displayVar("label"))</OPTION>
		}
	</select>
</span>
	</th>
	}


}
									
@foreach (string _cellblock_grid_hcell_search in Model.GetSection("cellblock_grid_hcell_search", this)){
	<TH @(Model.displayVar("cell_grid_hcell_search")) class=" r-ori-vert" data-cellId="grid_hcell_search" data-pageid="@(Model.displayVar("pageid"))">

 
	<DIV data-itemtype="members_search" data-itemid="members_search" @(Model.displayVar("item_members_search")) data-pageid="@(Model.displayVar("pageid"))">
	<INPUT class="form-control" type=search id="adminMembersSearch" placeholder="search" />			
</div>

	</th>
	}


									@foreach (string _usergroup_header_1 in Model.GetSection("usergroup_header", this)){

foreach (string _cellblock_grid_hcell_all_checkbox in Model.GetSection("cellblock_grid_hcell_all_checkbox", this)){
	<TH @(Model.displayVar("cell_grid_hcell_all_checkbox")) class="r-align-center r-ori-vert" data-cellId="grid_hcell_all_checkbox" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("groupheadertdbox_attrs"))>

 
	<SPAN data-itemtype="members_all_users_checkbox" data-itemid="members_all_users_checkbox" @(Model.displayVar("item_members_all_users_checkbox")) data-pageid="@(Model.displayVar("pageid"))">
		<SPAN class="r-admin-checkbox columnheader" @(Model.displayVar("groupheaderbox_attrs"))></span>
	</span>

	</th>
	}


}
							</tr>
										
						</thead>
																		<tbody>
				@foreach (string _grid_row in Model.GetSection("grid_row", this)){
			
																		<TR @(Model.displayVar("usernamerow_attrs"))>
									@foreach (string _source_column_2 in Model.GetSection("source_column", this)){

foreach (string _cellblock_grid_cell_source in Model.GetSection("cellblock_grid_cell_source", this)){
	<TD @(Model.displayVar("cell_grid_cell_source")) class=" r-ori-vert" data-cellId="grid_cell_source" data-pageid="@(Model.displayVar("pageid"))">

 
	<SPAN data-itemtype="members_source" data-itemid="members_source" @(Model.displayVar("item_members_source")) data-pageid="@(Model.displayVar("pageid"))">
@(Model.displayVar("source"))
</span>

	</td>
	}


}
									
@foreach (string _cellblock_grid_cell_u in Model.GetSection("cellblock_grid_cell_u", this)){
	<TD @(Model.displayVar("cell_grid_cell_u")) class data-cellId="grid_cell_u" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("usernamecell_attrs"))>

 
	<SPAN data-itemtype="members_all_groups_checkbox" data-itemid="members_all_groups_checkbox" @(Model.displayVar("item_members_all_groups_checkbox")) data-pageid="@(Model.displayVar("pageid"))">
		<SPAN class="r-admin-checkbox rowheader" @(Model.displayVar("usernamebox_attrs"))></span>
	</span>
 
	@(Model.displayVar("username"))
	</td>
	}


									@foreach (string _displayname_column_1 in Model.GetSection("displayname_column", this)){

foreach (string _cellblock_grid_cell_dn in Model.GetSection("cellblock_grid_cell_dn", this)){
	<TD @(Model.displayVar("cell_grid_cell_dn")) class=" r-ori-vert" data-cellId="grid_cell_dn" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("displayusername_attrs"))>

 
	@(Model.displayVar("displayusername"))

	</td>
	}


}
									@foreach (string _email_column_1 in Model.GetSection("email_column", this)){

foreach (string _cellblock_grid_cell_e in Model.GetSection("cellblock_grid_cell_e", this)){
	<TD @(Model.displayVar("cell_grid_cell_e")) class=" r-ori-vert" data-cellId="grid_cell_e" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("emailuser_attrs"))>

 
	@(Model.displayVar("emailuser"))
	</td>
	}


}
									@foreach (string _usergroup_boxes in Model.GetSection("usergroup_boxes", this)){

foreach (string _cellblock_grid_c_gn in Model.GetSection("cellblock_grid_c_gn", this)){
	<TD @(Model.displayVar("cell_grid_c_gn")) class="r-align-center r-ori-vert" data-cellId="grid_c_gn" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("groupcellbox_attrs"))>

 
	<SPAN data-itemtype="members_group_checkbox" data-itemid="members_group_checkbox" @(Model.displayVar("item_members_group_checkbox")) data-pageid="@(Model.displayVar("pageid"))">
	@foreach (string _usergroup_box in Model.GetSection("usergroup_box", this)){ 	<SPAN class="r-admin-checkbox " @(Model.displayVar("groupbox_attrs"))></span>
	} </span>

	</td>
	}


}
							</tr>
					
						}
				</tbody>
					
</table>
}
	</div>
<div class="r-below">
					@foreach (string _below_grid_block in Model.GetSection("below-grid_block", this)){
<DIV class="r-form" data-location="below-grid" id="form_below-grid_@(Model.displayVar("pageid"))" data-makeup="topbar" @(Model.displayVar("form_below-grid")) data-pageid="@(Model.displayVar("pageid"))">		
	 
				<div class="row">
			 
				<DIV data-cellId="below-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c1")) class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
			</div>		
}
	</div>




											
					</div>
				</div>
			</div>
		</div>
		{Html.RenderSharedView("footer");}
	}
	</body>
</html>
