@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
				<META http-equiv="X-UA-Compatible" content="IE=Edge" />
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(Model.displayVar("pagetitle"))</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<BASE href="@(Model.displayVar("projectPath"))" />
		<LINK REL="stylesheet" href="styles/default.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
	<LINK REL="stylesheet" href="styles/defaultRTL.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	}
	@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
	<LINK REL="stylesheet" href="@(Model.displayVar("stylepath"))" type="text/css" />
	}
			
	</head>

	<BODY class="@(Model.displayVar("stylename")) function-login">
	@foreach (string _body in Model.GetSection("body", this)){
		{Html.RenderSharedView("header");}
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"
				.r-pretty-login-page > .r-controls {
					background: white;
				}
				.r-pretty-login-page > .r-sideimage {
					background: #f2f2f2;
				}")</style>

		<div class="r-pretty-login-page"
						 data-image-shadow 					>
			<div class="r-controls">
				<div class="r-mainform">
													@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="pretty-login" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))">		
	 
				<div class="row">
			 
				<DIV data-cellId="top_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c1")) class="r-align-left r-ori-vert			col-md-6
	
">
		 
		<SPAN data-itemtype="login-logo" data-itemid="login-logo" @(Model.displayVar("item_login-logo")) data-pageid="@(Model.displayVar("pageid"))" data-page="_global_login" data-small>
	@(Model.displayVar("logo"))
</span>
		</div>			 
				<DIV data-cellId="top_c2" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c2")) class="r-align-right r-ori-vert			col-md-6
	
">
			</div>					</div>
			 
				<div class="row">
			 
				<DIV data-cellId="top_c3" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c3")) class=" r-ori-vert			col-md-12
	
">
		 
		<SPAN data-itemtype="login_welcome" data-itemid="login_welcome" @(Model.displayVar("item_login_welcome")) data-pageid="@(Model.displayVar("pageid"))" data-small>
Login into your account</span>
		</div>					</div>
			</div>		
}
									@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="pretty-login" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))">		
	 
				<div class="row">
			 
				<DIV data-cellId="above-grid_c2" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c2")) class=" r-ori-vert			col-md-12
	
">
		@foreach (string _firstAboveGridCell in Model.GetSection("firstAboveGridCell", this)){
		 
		<DIV class="alert alert-success" data-itemtype="twofactor_message" data-itemid="twofactor_message" @(Model.displayVar("item_twofactor_message")) data-pageid="@(Model.displayVar("pageid"))"> 
	@(Model.displayVar("twofactor_message"))
</div>
			}	
	</div>					</div>
			 
				<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c1")) class=" r-ori-vert			col-md-12
	
">
		 
		@foreach (string _message_block in Model.GetSection("message_block", this)){
<DIV data-itemtype="login_message" data-itemid="login_message" @(Model.displayVar("item_login_message")) data-pageid="@(Model.displayVar("pageid"))" class="alert @(Model.displayVar("message_class"))" role="alert">
@(Model.displayVar("message"))
		@foreach (string _resend_activation_button in Model.GetSection("resend_activation_button", this)){
	<BR />
	<BUTTON class="btn btn-sm btn-default" @(Model.displayVar("resend_activation_button_attrs")) id="resendActivation@(Model.displayVar("id"))">Resend email</button>
	}
</div>
}		</div>					</div>
			</div>		
}
									@foreach (string _grid_block in Model.GetSection("grid_block", this)){
<TABLE class="r-fluid r-form" data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="pretty-login" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))">
						<tbody>
			
								<TR @(Model.displayVar("row_grid_0"))>
									<TD class=" r-ori-vert			" colspan="2" data-cellId="grid_c1" data-pageid="@(Model.displayVar("pageid"))">
 
<LABEL data-itemtype="username_label" data-itemid="username_label" @(Model.displayVar("item_username_label")) data-pageid="@(Model.displayVar("pageid"))" data-small class="r-edit-label control-label" for="username">
	@foreach (string _username_label in Model.GetSection("username_label", this)){<text>Username</text>}
</label> 
<DIV class="r-edit-field" data-itemtype="username" data-itemid="username" @(Model.displayVar("item_username")) data-pageid="@(Model.displayVar("pageid"))">
	<INPUT type="text" class="form-control" name="username" @(Model.displayVar("username_attrs")) id="username" />
</div></td>
							</tr>
											<TR @(Model.displayVar("row_grid_1"))>
									<TD class=" r-ori-vert			" colspan="2" data-cellId="grid_c2" data-pageid="@(Model.displayVar("pageid"))">
 
<LABEL data-itemtype="password_label" data-itemid="password_label" @(Model.displayVar("item_password_label")) data-pageid="@(Model.displayVar("pageid"))" data-small class="r-edit-label control-label" for="password">
	@foreach (string _password_label in Model.GetSection("password_label", this)){<text>Password</text>}
</label> 
<DIV class="r-edit-field" data-itemtype="password" data-itemid="password" @(Model.displayVar("item_password")) data-pageid="@(Model.displayVar("pageid"))">
	<INPUT type="password" class="form-control" name="password" @(Model.displayVar("password_attrs")) id="password" />
</div></td>
							</tr>
											<TR @(Model.displayVar("row_grid_2"))>
									<TD class=" r-ori-vert			" colspan="2" data-cellId="grid_c3" data-pageid="@(Model.displayVar("pageid"))">
 
@foreach (string _twofactor_code_message in Model.GetSection("twofactor_code_message", this)){
<SPAN data-itemtype="auth_code_message" data-itemid="auth_code_message" @(Model.displayVar("item_auth_code_message")) data-pageid="@(Model.displayVar("pageid"))" data-small>
Security Code</span>
}
 
<DIV class="r-edit-field" data-itemtype="auth_code" data-itemid="auth_code" @(Model.displayVar("item_auth_code")) data-pageid="@(Model.displayVar("pageid"))" id="userCodeField@(Model.displayVar("id"))">
	<INPUT class="form-control" id="userCode@(Model.displayVar("id"))" type="text" />
</div>
	</td>
							</tr>
											<TR @(Model.displayVar("row_grid_3"))>
									<TD class="r-align-right			" colspan="2" data-cellId="grid_c11" data-pageid="@(Model.displayVar("pageid"))" data-page="_global_login">
 
@foreach (string _twofactor_altemail in Model.GetSection("twofactor_altemail", this)){
<SPAN data-itemtype="auth_altemail" data-itemid="auth_altemail" @(Model.displayVar("item_auth_altemail")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<a type="button" title="" class="btn btn-link   
	" data-action="change2f" data-method=0 >
					<span class="fa fa-envelope-o"></span>
							Email			</a>
</span>
}
 
@foreach (string _twofactor_altphone in Model.GetSection("twofactor_altphone", this)){
<SPAN data-itemtype="auth_altphone" data-itemid="auth_altphone" @(Model.displayVar("item_auth_altphone")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<a type="button" title="" class="btn btn-link   
	" data-action="change2f" data-method=1 >
					<span class="fa fa-phone"></span>
							Text message			</a>
</span>
}
 
@foreach (string _twofactor_altapp in Model.GetSection("twofactor_altapp", this)){
<SPAN data-itemtype="auth_altapp" data-itemid="auth_altapp" @(Model.displayVar("item_auth_altapp")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<a type="button" title="" class="btn btn-link   
	" data-action="change2f" data-method=2 >
					<span class="fa fa-mobile-phone"></span>
							Authenticator app			</a>
</span>
}
</td>
							</tr>
											<TR @(Model.displayVar("row_grid_4"))>
									<TD class=" r-ori-vert			" data-cellId="grid_c4" data-pageid="@(Model.displayVar("pageid"))">
 
<DIV class="checkbox r-edit-field" data-itemtype="remember_password" data-itemid="remember_password" @(Model.displayVar("item_remember_password")) data-pageid="@(Model.displayVar("pageid"))">
	<label>
		<INPUT type="checkbox" id="remember_password@(Model.displayVar("id"))" name="remember_password" value="1" @(Model.displayVar("rememberbox_attrs")) /> Remember me	</label>
</div> 
<DIV class="checkbox r-edit-field" data-itemtype="remember_machine" data-itemid="remember_machine" @(Model.displayVar("item_remember_machine")) data-pageid="@(Model.displayVar("pageid"))">
	<label>
		<INPUT type="checkbox" id="remember_machine@(Model.displayVar("id"))" name="remember_machine" value="1" @(Model.displayVar("remembermachine_attrs")) /> Remember this machine	</label>
</div></td>
									<TD class="r-align-right r-ori-vert			" data-cellId="grid_c6" data-pageid="@(Model.displayVar("pageid"))">
 
@foreach (string _guestlink_block in Model.GetSection("guestlink_block", this)){
<SPAN data-itemtype="guest_login" data-itemid="guest_login" @(Model.displayVar("item_guest_login")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-link   
	" @(Model.displayVar("guestlink_attrs"))>
							Login as Guest			</a>
</span>
}
</td>
							</tr>
					
					</tbody>
				</table>
}
									@foreach (string _footer_block in Model.GetSection("footer_block", this)){
<TABLE class="r-fluid r-form" data-location="footer" id="form_footer_@(Model.displayVar("pageid"))" data-makeup="pretty-login" @(Model.displayVar("form_footer")) data-pageid="@(Model.displayVar("pageid"))">
						<tbody>
			
								<TR @(Model.displayVar("row_footer_0"))>
									<TD class="			" data-cellId="footer_c1" data-pageid="@(Model.displayVar("pageid"))">
 
@foreach (string _signin_button in Model.GetSection("signin_button", this)){
<SPAN data-itemtype="login_button" data-itemid="login_button" @(Model.displayVar("item_login_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-primary   
	" @(Model.displayVar("loginlink_attrs"))>
							Sign in			</a>
</span>
}
 
@foreach (string _continue_button in Model.GetSection("continue_button", this)){
<SPAN data-itemtype="continue_login_button" data-itemid="continue_login_button" @(Model.displayVar("item_continue_login_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-primary   
	" @(Model.displayVar("continuebutton_attrs"))>
							Continue			</a>
</span>
}
 
<SPAN data-itemtype="verify_button" data-itemid="verify_button" @(Model.displayVar("item_verify_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-primary   
	" id="verifyCode@(Model.displayVar("id"))" @(Model.displayVar("verifyButtonClass"))>
							Verify			</a>
</span>
 
<SPAN data-itemtype="resend_button" data-itemid="resend_button" @(Model.displayVar("item_resend_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" id="resendCode@(Model.displayVar("id"))" @(Model.displayVar("resendButtonClass"))>
							Resend code			</a>
</span>
</td>
									<TD class="r-align-right r-ori-vert			" data-cellId="footer_c2" data-pageid="@(Model.displayVar("pageid"))">
 
<SPAN data-itemtype="login_remind" data-itemid="login_remind" @(Model.displayVar("item_login_remind")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-link   
	" @(Model.displayVar("forgotpasswordlink_attrs")) href="remind">
							Forgot password?			</a>
</span>
</td>
							</tr>
					
					</tbody>
				</table>
}
									@foreach (string _superbottom_block in Model.GetSection("superbottom_block", this)){
<TABLE class="r-fluid r-form" data-location="superbottom" id="form_superbottom_@(Model.displayVar("pageid"))" data-makeup="pretty-login" @(Model.displayVar("form_superbottom")) data-pageid="@(Model.displayVar("pageid"))">
						<tbody>
			
								<TR @(Model.displayVar("row_superbottom_0"))>
									<TD class=" r-ori-vert			" data-cellId="superbottom_c1" data-pageid="@(Model.displayVar("pageid"))">
 
<SPAN data-itemtype="loginform_register_link" data-itemid="loginform_register_link" @(Model.displayVar("item_loginform_register_link")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-link   
	" @(Model.displayVar("registerlink_attrs")) href="register">
							Sign Up			</a>
</span>
</td>
							</tr>
					
					</tbody>
				</table>
}
					</div>
			</div>
			<div class="r-sideimage">
							<div class="r-image"  >
					<IMG data-itemtype="page_image" data-itemid="page_image_ash8f23hr" @(Model.displayVar("item_page_image_ash8f23hr")) data-pageid="@(Model.displayVar("pageid"))" data-page="_global_login" src="images/HubKor-Logo-1.jpg" />
				</div>
						</div>
		</div>
		{Html.RenderSharedView("footer");}
	}
	</body>
</html>
