@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
				<META http-equiv="X-UA-Compatible" content="IE=Edge" />
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(Model.displayVar("pagetitle"))</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<BASE href="@(Model.displayVar("projectPath"))" />
		<LINK REL="stylesheet" href="styles/default.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
	<LINK REL="stylesheet" href="styles/defaultRTL.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	}
	@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
	<LINK REL="stylesheet" href="@(Model.displayVar("stylepath"))" type="text/css" />
	}
			
	</head>

	<BODY class="@(Model.displayVar("stylename")) function-userinfo">
	@foreach (string _body in Model.GetSection("body", this)){
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"")</style>
		<div class="r-vbar-page">
			<DIV data-width="350px" data-fixed class="r-left clearfix @(Model.displayVar("leftbar_class"))">
								<DIV data-location="left" id="form_left_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_left")) data-pageid="@(Model.displayVar("pageid"))">
@foreach (string _left_block in Model.GetSection("left_block", this)){
 
     
         

			<DIV data-cellId="left_c0" data-pageid="@(Model.displayVar("pageid"))" data-logo-cell class="clearfix " data-itemid="logo" @(Model.displayVar("item_logo"))>
				@foreach (string _logo_block in Model.GetSection("logo_block", this)){
	<A data-itemtype="logo" data-itemid="logo" @(Model.displayVar("item_logo")) data-pageid="@(Model.displayVar("pageid"))" class="navbar-brand" href="@(Model.displayVar("home_link"))" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("logo_hiddenattr"))>
		@(Model.displayVar("logo"))
	</A>
}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<DIV class="clearfix " data-cellId="left_c0" data-pageid="@(Model.displayVar("pageid"))" data-logo-cell data-itemid="expand_button" @(Model.displayVar("item_expand_button")) data-topcell-item-type="expand_button">
				<SPAN data-itemtype="expand_button" data-itemid="expand_button" @(Model.displayVar("item_expand_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title="Expand" class="btn btn-link   
	" href="#">
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<DIV data-cellId="left_c1" data-pageid="@(Model.displayVar("pageid"))" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" @(Model.displayVar("item_menu")) data-pageid="@(Model.displayVar("pageid"))">
				@foreach (string _menuitems_main in Model.GetSection("menuitems_main", this)){
<UL data-itemtype="menu" data-itemid="menu" @(Model.displayVar("item_menu")) data-pageid="@(Model.displayVar("pageid"))" class="r-menu nav menu-treelike" data-menulevel="1">

@foreach (string _item_children1 in Model.GetSection("item_children1", this)){
<LI class="
	@(Model.displayVar("item_current"))">
<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-v data-menu-inline data-menu-top>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link r-menu-expanded "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren2 in Model.GetSection("item_haschildren2", this)){
		foreach (string _item_expand_icon in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
		<span class="r-menu-collapsed">@(Model.displayVar("item_collicon"))@(Model.displayVar("item_firstcap"))</span>
	</a>
@foreach (string _item_showchildren2 in Model.GetSection("item_showchildren2", this)){
<UL class="
			nav collapse 
			@(Model.displayVar("submenu_class"))" id="submenu@(Model.displayVar("item_id"))" data-menulevel="2">
	@foreach (string _item_children2 in Model.GetSection("item_children2", this)){
		foreach (string _item_menulink2 in Model.GetSection("item_menulink2", this)){
		<LI class="
						@(Model.displayVar("item_current"))">
			<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-v data-menu-inline>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren2_1 in Model.GetSection("item_haschildren2", this)){
		foreach (string _item_expand_icon_1 in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
	</a>
			@foreach (string _item_showchildren3 in Model.GetSection("item_showchildren3", this)){
<UL class="
			nav collapse 
			@(Model.displayVar("submenu_class"))" id="submenu@(Model.displayVar("item_id"))" data-menulevel="3">
	@foreach (string _item_children3 in Model.GetSection("item_children3", this)){
		foreach (string _item_menulink3 in Model.GetSection("item_menulink3", this)){
		<LI class="
						@(Model.displayVar("item_current"))">
			<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-v data-menu-inline>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren3 in Model.GetSection("item_haschildren3", this)){
		foreach (string _item_expand_icon_2 in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
	</a>
			@foreach (string _item_showchildren4 in Model.GetSection("item_showchildren4", this)){
<UL class="
			nav collapse 
			@(Model.displayVar("submenu_class"))" id="submenu@(Model.displayVar("item_id"))" data-menulevel="4">
	@foreach (string _item_children4 in Model.GetSection("item_children4", this)){
		foreach (string _item_menulink4 in Model.GetSection("item_menulink4", this)){
		<LI class="
						@(Model.displayVar("item_current"))">
			<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-v data-menu-inline>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren4 in Model.GetSection("item_haschildren4", this)){
		foreach (string _item_expand_icon_3 in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
	</a>
			@foreach (string _item_showchildren5 in Model.GetSection("item_showchildren5", this)){
<UL class="
			nav collapse 
			@(Model.displayVar("submenu_class"))" id="submenu@(Model.displayVar("item_id"))" data-menulevel="5">
	@foreach (string _item_children5 in Model.GetSection("item_children5", this)){
		foreach (string _item_menulink5 in Model.GetSection("item_menulink5", this)){
		<LI class="
						@(Model.displayVar("item_current"))">
			<A @(Model.displayVar("item_attrs")) title="@(Model.displayVar("item_tooltip"))" data-menu-link data-menu-v data-menu-inline>
	@(Model.displayVar("item_separator"))
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		@(Model.displayVar("item_icon")) @(Model.displayVar("item_title"))
		</span>
		@foreach (string _item_haschildren5 in Model.GetSection("item_haschildren5", this)){
		foreach (string _item_expand_icon_4 in Model.GetSection("item_expand_icon", this)){
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		}
		}
	</span>
	</a>
					</li>
		}
	}
</ul>
}
		</li>
		}
	}
</ul>
}
		</li>
		}
	}
</ul>
}
		</li>
		}
	}
</ul>
}
</li>
}
</ul>
}
			</div>
		
    }
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									@foreach (string _supertop_block in Model.GetSection("supertop_block", this)){
<NAV class="navbar navbar-default" data-location="supertop" id="form_supertop_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_supertop")) data-pageid="@(Model.displayVar("pageid"))">
			 
							 
				<SPAN class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="@(Model.displayVar("pageid"))" data-itemid="expand_menu_button" @(Model.displayVar("item_expand_menu_button")) data-topcell-item-type="expand_menu_button">
				<SPAN data-itemtype="expand_menu_button" data-itemid="expand_menu_button" @(Model.displayVar("item_expand_menu_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title="Show menu" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#">		
				
								</a>
</span>
			</span>
		 
				<SPAN class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="@(Model.displayVar("pageid"))" data-itemid="collapse_button" @(Model.displayVar("item_collapse_button")) data-topcell-item-type="collapse_button">
				<SPAN data-itemtype="collapse_button" data-itemid="collapse_button" @(Model.displayVar("item_collapse_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#">		
				
								</a>
</span>
			</span>
		 
				<SPAN class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="@(Model.displayVar("pageid"))" data-itemid="breadcrumb" @(Model.displayVar("item_breadcrumb")) data-topcell-item-type="breadcrumb">
				@foreach (string _breadcrumb in Model.GetSection("breadcrumb", this)){
<OL class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" @(Model.displayVar("item_breadcrumb")) data-pageid="@(Model.displayVar("pageid"))">
<li ><A href="@(Model.displayVar("crumb_home_link"))"><span class="glyphicon glyphicon-home"></span></a>@(Model.displayVar("crumb_dropdown"))</li>
@foreach (string _crumb in Model.GetSection("crumb", this)){
  <LI class="@(Model.displayVar("crumb_item_class"))">
@foreach (string _crumb_title_link in Model.GetSection("crumb_title_link", this)){
	<A @(Model.displayVar("crumb_attrs"))>@(Model.displayVar("crumb_title"))</a>
}
@foreach (string _crumb_title_span in Model.GetSection("crumb_title_span", this)){
	<SPAN @(Model.displayVar("crumb_attrs"))>@(Model.displayVar("crumb_title"))</span>
}	
	@(Model.displayVar("crumb_dropdown"))
  </li>
}
</ol>
}			</span>
							 
							 
				<SPAN class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="@(Model.displayVar("pageid"))" data-itemid="loginform_login" @(Model.displayVar("item_loginform_login")) data-topcell-item-type="loginform_login">
				@foreach (string _guestloginbutton in Model.GetSection("guestloginbutton", this)){
<SPAN data-itemtype="loginform_login" data-itemid="loginform_login" @(Model.displayVar("item_loginform_login")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-primary   
	" href="#" @(Model.displayVar("guestloginlink_attrs"))>
							Login			</a>
</span>
}
			</span>
		 
				<SPAN class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="@(Model.displayVar("pageid"))" data-itemid="username_button" @(Model.displayVar("item_username_button")) data-topcell-item-type="username_button">
				@foreach (string _loggedas_message in Model.GetSection("loggedas_message", this)){
<SPAN data-itemtype="username_button" data-itemid="username_button" @(Model.displayVar("item_username_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			@foreach (string _userbutton_icon in Model.GetSection("userbutton_icon", this)){							<span class="glyphicon glyphicon-user"></span>
						}@(Model.displayVar("userbutton_image"))			@(Model.displayVar("username"))			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							@foreach (string _userinfo_link in Model.GetSection("userinfo_link", this)){
	<LI data-itemtype="userinfo_link" data-itemid="userinfo_link" @(Model.displayVar("item_userinfo_link")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A href="userinfo" title>
				
		User Profile		
		</a>
	</li>
}
							@foreach (string _logoutbutton in Model.GetSection("logoutbutton", this)){
	<LI data-itemtype="logout_link" data-itemid="logout_link" @(Model.displayVar("item_logout_link")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A href="#" @(Model.displayVar("logoutlink_attrs")) title>
				
		Log out		
		</a>
	</li>
}
							@foreach (string _adminarea_link in Model.GetSection("adminarea_link", this)){
	<LI data-itemtype="adminarea_link" data-itemid="adminarea_link" @(Model.displayVar("item_adminarea_link")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A href="admin_rights/list" title>
				
		Admin Area		
		</a>
	</li>
}
					</ul>
	</span>
</span>
}
			</span>
								</nav>
}
						@(Model.displayVar("locking"))
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="compact">
					@{Html.RenderSharedView("header");}
					<div class="r-top">
									@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))">		
	</div>		
}
						</div>
											<div class="r-above">
					@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))">		
	 
				<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c1")) class=" r-ori-vert			col-md-12
	
">
		@foreach (string _firstAboveGridCell in Model.GetSection("firstAboveGridCell", this)){
				}	
	</div>					</div>
			</div>		
}
	</div>
<div class="r-grid">
	@foreach (string _grid_tabs in Model.GetSection("grid_tabs", this)){
  <ul class="nav nav-tabs bsgrid_tabs">
	@(Model.displayVar("grid_tabs_content"))
  </ul>
}
					@foreach (string _grid_block in Model.GetSection("grid_block", this)){




 
	 
												<TABLE data-body-align="left" data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))" class="r-edit-form" cellpadding="0" cellspacing="0" @(Model.displayVar("grid_hiddenattr")) data-form-width="1" data-v-width="4">
	<tbody>
										<TR @(Model.displayVar("row_grid_0"))>
										

@foreach (string _cellblock_grid_2factor_label in Model.GetSection("cellblock_grid_2factor_label", this)){
<TD @(Model.displayVar("cell_grid_2factor_label")) class=" r-ori-vert" data-cellId="grid_2factor_label" data-pageid="@(Model.displayVar("pageid"))" data-v-cell="4">
	<div edit-form-cell class="clearfix">
				<SPAN data-itemtype="twofactor_label" data-itemid="twofactor_label" @(Model.displayVar("item_twofactor_label")) data-pageid="@(Model.displayVar("pageid"))" data-page="_global_userinfo" data-small>
Two-Factor Authentication</span>
											<SPAN data-itemtype="twofactor_comment" data-itemid="twofactor_comment" @(Model.displayVar("item_twofactor_comment")) data-pageid="@(Model.displayVar("pageid"))" data-small>
Select your preferred method to receive the authentication code</span>
											<SPAN data-itemtype="twofactor_setup_comment" data-itemid="twofactor_setup_comment" @(Model.displayVar("item_twofactor_setup_comment")) data-pageid="@(Model.displayVar("pageid"))" data-small>
To complete the registration select your preferred method to receive the authentication code</span>
	
								</td>
			}
								</tr>
	 
	 
														<TR @(Model.displayVar("row_grid_1"))>
										

@foreach (string _cellblock_grid_2factor in Model.GetSection("cellblock_grid_2factor", this)){
<TD @(Model.displayVar("cell_grid_2factor")) class=" r-ori-vert" data-single data-cellId="grid_2factor" data-pageid="@(Model.displayVar("pageid"))" data-v-cell="4">
	<div edit-form-cell class="clearfix">
				<DIV data-itemtype="twofactor_settings" data-itemid="twofactor_settings" @(Model.displayVar("item_twofactor_settings")) data-pageid="@(Model.displayVar("pageid"))">
<div class="r-2fa-message"></div>
</div>	
								</td>
			}
								</tr>
	 
	 
														<TR @(Model.displayVar("row_grid_2"))>
										

@foreach (string _cellblock_grid_2factor_buttons in Model.GetSection("cellblock_grid_2factor_buttons", this)){
<TD @(Model.displayVar("cell_grid_2factor_buttons")) class data-fullwidth data-cellId="grid_2factor_buttons" data-pageid="@(Model.displayVar("pageid"))" data-v-cell="4">
	<div edit-form-cell class="clearfix">
				@foreach (string _twofactor_continue in Model.GetSection("twofactor_continue", this)){
<SPAN data-itemtype="twofactor_continue" data-itemid="twofactor_continue" @(Model.displayVar("item_twofactor_continue")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" data-action="twof_continue" >
							Continue			</a>
</span>
}
											@foreach (string _twofactor_skip in Model.GetSection("twofactor_skip", this)){
<SPAN data-itemtype="twofactor_skip" data-itemid="twofactor_skip" @(Model.displayVar("item_twofactor_skip")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" data-action="twof_skip" >
							Don't enable two factor authentication			</a>
</span>
}
	
								</td>
			}
								</tr>
	 
	 
														<TR @(Model.displayVar("row_grid_3"))>
										

@foreach (string _cellblock_grid_fields_message in Model.GetSection("cellblock_grid_fields_message", this)){
<TD @(Model.displayVar("cell_grid_fields_message")) class=" r-ori-vert" data-cellId="grid_fields_message" data-pageid="@(Model.displayVar("pageid"))" data-v-cell="4">
	<div edit-form-cell class="clearfix">
				<SPAN data-itemtype="user_fields_title" data-itemid="user_fields_title" @(Model.displayVar("item_user_fields_title")) data-pageid="@(Model.displayVar("pageid"))" data-page="_global_userinfo" data-small>
Profile</span>
											@foreach (string _message_block in Model.GetSection("message_block", this)){
<DIV data-itemtype="fields_message" data-itemid="fields_message" @(Model.displayVar("item_fields_message")) data-pageid="@(Model.displayVar("pageid"))" class="alert @(Model.displayVar("message_class"))" role="alert">
	<h5>@(Model.displayVar("message"))</h5>
</div>
}	
								</td>
			}
								</tr>
	 
	 
														<TR @(Model.displayVar("row_grid_4"))>
										

@foreach (string _cellblock_grid_fields in Model.GetSection("cellblock_grid_fields", this)){
<TD @(Model.displayVar("cell_grid_fields")) class=" r-ori-vert" data-cellId="grid_fields" data-pageid="@(Model.displayVar("pageid"))" data-v-cell="4">
	<div edit-form-cell class="clearfix">
				
@foreach (string _user_name_fieldblock in Model.GetSection("user_name_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_user_name"))  r-vertical-field" data-signal-error-for="user_name@(Model.displayVar("id"))" @(Model.displayVar("required_attr_user_name")) data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" @(Model.displayVar("item_integrated_edit_field1")) data-pageid="@(Model.displayVar("pageid"))" data-field="user_name" data-fieldname="user_name">

	<LABEL class="r-edit-label control-label" for="@(Model.displayVar("labelfor_user_name"))">
		@foreach (string _user_name_label in Model.GetSection("user_name_label", this)){@(Model.displayVar("label dbo_users user_name"))}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		@(Model.displayVar("user_name_editcontrol"))	</div>
	<DIV class="r-edit-tooltip" data-helpfor="user_name" {$tooltipAttr dbo_users user_name }>
		<div class="text-muted" >
		@(Model.displayVar("tooltip dbo_users user_name"))		</div>
	</div>
</div>


}
											
@foreach (string _first_name_fieldblock in Model.GetSection("first_name_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_first_name"))  r-vertical-field" data-signal-error-for="first_name@(Model.displayVar("id"))" @(Model.displayVar("required_attr_first_name")) data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" @(Model.displayVar("item_integrated_edit_field6")) data-pageid="@(Model.displayVar("pageid"))" data-field="first_name" data-fieldname="first_name">

	<LABEL class="r-edit-label control-label" for="@(Model.displayVar("labelfor_first_name"))">
		@foreach (string _first_name_label in Model.GetSection("first_name_label", this)){@(Model.displayVar("label dbo_users first_name"))}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		@(Model.displayVar("first_name_editcontrol"))	</div>
	<DIV class="r-edit-tooltip" data-helpfor="first_name" {$tooltipAttr dbo_users first_name }>
		<div class="text-muted" >
		@(Model.displayVar("tooltip dbo_users first_name"))		</div>
	</div>
</div>


}
											
@foreach (string _last_name_fieldblock in Model.GetSection("last_name_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_last_name"))  r-vertical-field" data-signal-error-for="last_name@(Model.displayVar("id"))" @(Model.displayVar("required_attr_last_name")) data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" @(Model.displayVar("item_integrated_edit_field7")) data-pageid="@(Model.displayVar("pageid"))" data-field="last_name" data-fieldname="last_name">

	<LABEL class="r-edit-label control-label" for="@(Model.displayVar("labelfor_last_name"))">
		@foreach (string _last_name_label in Model.GetSection("last_name_label", this)){@(Model.displayVar("label dbo_users last_name"))}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		@(Model.displayVar("last_name_editcontrol"))	</div>
	<DIV class="r-edit-tooltip" data-helpfor="last_name" {$tooltipAttr dbo_users last_name }>
		<div class="text-muted" >
		@(Model.displayVar("tooltip dbo_users last_name"))		</div>
	</div>
</div>


}
											
@foreach (string _title_fieldblock in Model.GetSection("title_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_title"))  r-vertical-field" data-signal-error-for="title@(Model.displayVar("id"))" @(Model.displayVar("required_attr_title")) data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" @(Model.displayVar("item_integrated_edit_field10")) data-pageid="@(Model.displayVar("pageid"))" data-field="title" data-fieldname="title">

	<LABEL class="r-edit-label control-label" for="@(Model.displayVar("labelfor_title"))">
		@foreach (string _title_label in Model.GetSection("title_label", this)){@(Model.displayVar("label dbo_users title"))}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		@(Model.displayVar("title_editcontrol"))	</div>
	<DIV class="r-edit-tooltip" data-helpfor="title" {$tooltipAttr dbo_users title }>
		<div class="text-muted" >
		@(Model.displayVar("tooltip dbo_users title"))		</div>
	</div>
</div>


}
											
@foreach (string _email_fieldblock in Model.GetSection("email_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_email"))  r-vertical-field" data-signal-error-for="email@(Model.displayVar("id"))" @(Model.displayVar("required_attr_email")) data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" @(Model.displayVar("item_integrated_edit_field")) data-pageid="@(Model.displayVar("pageid"))" data-field="email" data-fieldname="email">

	<LABEL class="r-edit-label control-label" for="@(Model.displayVar("labelfor_email"))">
		@foreach (string _email_label in Model.GetSection("email_label", this)){@(Model.displayVar("label dbo_users email"))}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		@(Model.displayVar("email_editcontrol"))	</div>
	<DIV class="r-edit-tooltip" data-helpfor="email" {$tooltipAttr dbo_users email }>
		<div class="text-muted" >
		@(Model.displayVar("tooltip dbo_users email"))		</div>
	</div>
</div>


}
											
@foreach (string _phone_fieldblock in Model.GetSection("phone_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_phone"))  r-vertical-field" data-signal-error-for="phone@(Model.displayVar("id"))" @(Model.displayVar("required_attr_phone")) data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" @(Model.displayVar("item_integrated_edit_field8")) data-pageid="@(Model.displayVar("pageid"))" data-field="phone" data-fieldname="phone">

	<LABEL class="r-edit-label control-label" for="@(Model.displayVar("labelfor_phone"))">
		@foreach (string _phone_label in Model.GetSection("phone_label", this)){@(Model.displayVar("label dbo_users phone"))}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		@(Model.displayVar("phone_editcontrol"))	</div>
	<DIV class="r-edit-tooltip" data-helpfor="phone" {$tooltipAttr dbo_users phone }>
		<div class="text-muted" >
		@(Model.displayVar("tooltip dbo_users phone"))		</div>
	</div>
</div>


}
											
@foreach (string _email_notification_fieldblock in Model.GetSection("email_notification_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_email_notification"))  r-vertical-field" data-signal-error-for="email_notification@(Model.displayVar("id"))" @(Model.displayVar("required_attr_email_notification")) data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" @(Model.displayVar("item_integrated_edit_field9")) data-pageid="@(Model.displayVar("pageid"))" data-field="email_notification" data-fieldname="email_notification">

	<LABEL class="r-edit-label control-label" for="@(Model.displayVar("labelfor_email_notification"))">
		@foreach (string _email_notification_label in Model.GetSection("email_notification_label", this)){@(Model.displayVar("label dbo_users email_notification"))}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		@(Model.displayVar("email_notification_editcontrol"))	</div>
	<DIV class="r-edit-tooltip" data-helpfor="email_notification" {$tooltipAttr dbo_users email_notification }>
		<div class="text-muted" >
		@(Model.displayVar("tooltip dbo_users email_notification"))		</div>
	</div>
</div>


}
											
@foreach (string _userpic_fieldblock in Model.GetSection("userpic_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_userpic"))  r-vertical-field" data-signal-error-for="userpic@(Model.displayVar("id"))" @(Model.displayVar("required_attr_userpic")) data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" @(Model.displayVar("item_integrated_edit_field2")) data-pageid="@(Model.displayVar("pageid"))" data-field="userpic" data-fieldname="userpic" data-before-same-field>

	<LABEL class="r-edit-label control-label" for="@(Model.displayVar("labelfor_userpic"))">
		@foreach (string _userpic_label in Model.GetSection("userpic_label", this)){}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		@(Model.displayVar("userpic_editcontrol"))	</div>
	<DIV class="r-edit-tooltip" data-helpfor="userpic" {$tooltipAttr dbo_users userpic }>
		<div class="text-muted" >
		@(Model.displayVar("tooltip dbo_users userpic"))		</div>
	</div>
</div>


}
											@foreach (string _changepwd_link in Model.GetSection("changepwd_link", this)){
<SPAN data-itemtype="changepassword_link" data-itemid="changepassword_link" @(Model.displayVar("item_changepassword_link")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" href="changepwd" @(Model.displayVar("changepwdlink_attrs")) id="changePasswordButton@(Model.displayVar("id"))">
							Change password			</a>
</span>
}
	
								</td>
			}
								</tr>
	 
	 
														<TR @(Model.displayVar("row_grid_5"))>
										

@foreach (string _cellblock_grid_buttons in Model.GetSection("cellblock_grid_buttons", this)){
<TD @(Model.displayVar("cell_grid_buttons")) class data-cellId="grid_buttons" data-pageid="@(Model.displayVar("pageid"))" data-page="_global_userinfo" data-v-cell="4">
	<div edit-form-cell class="clearfix">
				<SPAN data-itemtype="user_fields_reset" data-itemid="user_fields_reset" @(Model.displayVar("item_user_fields_reset")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("resetbutton_attrs")) id="resetButton@(Model.displayVar("id"))">
							Reset			</a>
</span>
											<SPAN data-itemtype="user_fields_save" data-itemid="user_fields_save" @(Model.displayVar("item_user_fields_save")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-primary   
	" @(Model.displayVar("savebutton_attrs")) id="saveButton@(Model.displayVar("id"))">
							Save			</a>
</span>
	
								</td>
			}
								</tr>
			</tbody></table>
}
	</div>
<div class="r-below">
					@foreach (string _below_grid_block in Model.GetSection("below-grid_block", this)){
<DIV class="r-form" data-location="below-grid" id="form_below-grid_@(Model.displayVar("pageid"))" data-makeup="leftbar" @(Model.displayVar("form_below-grid")) data-pageid="@(Model.displayVar("pageid"))">		
	 
				<div class="row">
			 
				<DIV data-cellId="below-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c1")) class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
			</div>		
}
	</div>




										@{Html.RenderSharedView("footer");}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	}
	</body>
</html>
