@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
				<META http-equiv="X-UA-Compatible" content="IE=Edge" />
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(Model.displayVar("pagetitle"))</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<BASE href="@(Model.displayVar("projectPath"))" />
		<LINK REL="stylesheet" href="styles/default.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
	<LINK REL="stylesheet" href="styles/defaultRTL.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	}
	@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
	<LINK REL="stylesheet" href="@(Model.displayVar("stylepath"))" type="text/css" />
	}
			
	</head>

	<BODY class="@(Model.displayVar("stylename")) function-view">
	@foreach (string _body in Model.GetSection("body", this)){
		{Html.RenderSharedView("header");}
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"")</style>
		@(Model.displayVar("locking"))
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="4" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="top_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c1")) class=" r-ori-vert			col-md-12
	">
	 
		<H2 data-itemtype="view_header" data-itemid="view_header" @(Model.displayVar("item_view_header")) data-pageid="@(Model.displayVar("pageid"))">@(Model.displayVar("pagetitlelabel dbo_auditlog_mst view"))</h2>
	</div>					</div>
	</div>		
}
									@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="4" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c1")) class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
}
									@foreach (string _grid_block in Model.GetSection("grid_block", this)){




 
	 
												<TABLE data-body-align="center" data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))" class="r-edit-form" cellpadding="0" cellspacing="0" @(Model.displayVar("grid_hiddenattr")) data-form-width="1" data-v-width="4">
	<tbody>
										<TR @(Model.displayVar("row_grid_0"))>
										

@foreach (string _cellblock_grid_c3 in Model.GetSection("cellblock_grid_c3", this)){
<TD @(Model.displayVar("cell_grid_c3")) class=" r-ori-vert" data-fullwidth data-cellId="grid_c3" data-pageid="@(Model.displayVar("pageid"))" data-v-cell="4">
	<div edit-form-cell class="clearfix">
				
@foreach (string _clientid_fieldblock in Model.GetSection("clientid_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_clientid"))  r-vertical-field" data-fieldname="clientid" data-signal-error-for="clientid@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" @(Model.displayVar("item_integrated_edit_field")) data-pageid="@(Model.displayVar("pageid"))" data-field="clientid" data-fieldname="clientid" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_clientid"))">
		
		@foreach (string _clientid_label in Model.GetSection("clientid_label", this)){@(Model.displayVar("label dbo_auditlog_mst clientid"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("clientid_value"))	</div>

		
</div>


}
											
@foreach (string _seq_fieldblock in Model.GetSection("seq_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_seq"))  r-vertical-field" data-fieldname="seq" data-signal-error-for="seq@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" @(Model.displayVar("item_integrated_edit_field1")) data-pageid="@(Model.displayVar("pageid"))" data-field="seq" data-fieldname="seq" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_seq"))">
		
		@foreach (string _seq_label in Model.GetSection("seq_label", this)){@(Model.displayVar("label dbo_auditlog_mst seq"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("seq_value"))	</div>

		
</div>


}
											
@foreach (string _payload_fieldblock in Model.GetSection("payload_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_payload"))  r-vertical-field" data-fieldname="payload" data-signal-error-for="payload@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" @(Model.displayVar("item_integrated_edit_field2")) data-pageid="@(Model.displayVar("pageid"))" data-field="payload" data-fieldname="payload" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_payload"))">
		
		@foreach (string _payload_label in Model.GetSection("payload_label", this)){@(Model.displayVar("label dbo_auditlog_mst payload"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("payload_value"))	</div>

		
</div>


}
											
@foreach (string _create_date_fieldblock in Model.GetSection("create_date_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_create_date"))  r-vertical-field" data-fieldname="create_date" data-signal-error-for="create_date@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" @(Model.displayVar("item_integrated_edit_field3")) data-pageid="@(Model.displayVar("pageid"))" data-field="create_date" data-fieldname="create_date" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_create_date"))">
		
		@foreach (string _create_date_label in Model.GetSection("create_date_label", this)){@(Model.displayVar("label dbo_auditlog_mst create_date"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("create_date_value"))	</div>

		
</div>


}
											
@foreach (string _posted_fieldblock in Model.GetSection("posted_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_posted"))  r-vertical-field" data-fieldname="posted" data-signal-error-for="posted@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" @(Model.displayVar("item_integrated_edit_field4")) data-pageid="@(Model.displayVar("pageid"))" data-field="posted" data-fieldname="posted" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_posted"))">
		
		@foreach (string _posted_label in Model.GetSection("posted_label", this)){@(Model.displayVar("label dbo_auditlog_mst posted"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("posted_value"))	</div>

		
</div>


}
											
@foreach (string _ref_num_fieldblock in Model.GetSection("ref_num_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_ref_num"))  r-vertical-field" data-fieldname="ref_num" data-signal-error-for="ref_num@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" @(Model.displayVar("item_integrated_edit_field5")) data-pageid="@(Model.displayVar("pageid"))" data-field="ref_num" data-fieldname="ref_num" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_ref_num"))">
		
		@foreach (string _ref_num_label in Model.GetSection("ref_num_label", this)){@(Model.displayVar("label dbo_auditlog_mst ref_num"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("ref_num_value"))	</div>

		
</div>


}
											
@foreach (string _process_fieldblock in Model.GetSection("process_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_process"))  r-vertical-field" data-fieldname="process" data-signal-error-for="process@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" @(Model.displayVar("item_integrated_edit_field6")) data-pageid="@(Model.displayVar("pageid"))" data-field="process" data-fieldname="process" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_process"))">
		
		@foreach (string _process_label in Model.GetSection("process_label", this)){@(Model.displayVar("label dbo_auditlog_mst process"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("process_value"))	</div>

		
</div>


}
											
@foreach (string _rowpointer_fieldblock in Model.GetSection("rowpointer_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_rowpointer"))  r-vertical-field" data-fieldname="rowpointer" data-signal-error-for="rowpointer@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" @(Model.displayVar("item_integrated_edit_field7")) data-pageid="@(Model.displayVar("pageid"))" data-field="rowpointer" data-fieldname="rowpointer" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_rowpointer"))">
		
		@foreach (string _rowpointer_label in Model.GetSection("rowpointer_label", this)){@(Model.displayVar("label dbo_auditlog_mst rowpointer"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("rowpointer_value"))	</div>

		
</div>


}
											
@foreach (string _logId_fieldblock in Model.GetSection("logId_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_logId"))  r-vertical-field" data-fieldname="logId" data-signal-error-for="logId@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" @(Model.displayVar("item_integrated_edit_field8")) data-pageid="@(Model.displayVar("pageid"))" data-field="logId" data-fieldname="logId" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_logId"))">
		
		@foreach (string _logId_label in Model.GetSection("logId_label", this)){@(Model.displayVar("label dbo_auditlog_mst logId"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("logId_value"))	</div>

		
</div>


}
											
@foreach (string _response_fieldblock in Model.GetSection("response_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_response"))  r-vertical-field" data-fieldname="response" data-signal-error-for="response@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" @(Model.displayVar("item_integrated_edit_field9")) data-pageid="@(Model.displayVar("pageid"))" data-field="response" data-fieldname="response" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_response"))">
		
		@foreach (string _response_label in Model.GetSection("response_label", this)){@(Model.displayVar("label dbo_auditlog_mst response"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("response_value"))	</div>

		
</div>


}
											
@foreach (string _refrowpointer_fieldblock in Model.GetSection("refrowpointer_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_refrowpointer"))  r-vertical-field" data-fieldname="refrowpointer" data-signal-error-for="refrowpointer@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" @(Model.displayVar("item_integrated_edit_field10")) data-pageid="@(Model.displayVar("pageid"))" data-field="refrowpointer" data-fieldname="refrowpointer" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_refrowpointer"))">
		
		@foreach (string _refrowpointer_label in Model.GetSection("refrowpointer_label", this)){@(Model.displayVar("label dbo_auditlog_mst refrowpointer"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("refrowpointer_value"))	</div>

		
</div>


}
											
@foreach (string _status_fieldblock in Model.GetSection("status_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_status"))  r-vertical-field" data-fieldname="status" data-signal-error-for="status@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" @(Model.displayVar("item_integrated_edit_field11")) data-pageid="@(Model.displayVar("pageid"))" data-field="status" data-fieldname="status" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_status"))">
		
		@foreach (string _status_label in Model.GetSection("status_label", this)){@(Model.displayVar("label dbo_auditlog_mst status"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("status_value"))	</div>

		
</div>


}
											
@foreach (string _statusmessage_fieldblock in Model.GetSection("statusmessage_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_statusmessage"))  r-vertical-field" data-fieldname="statusmessage" data-signal-error-for="statusmessage@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" @(Model.displayVar("item_integrated_edit_field12")) data-pageid="@(Model.displayVar("pageid"))" data-field="statusmessage" data-fieldname="statusmessage" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_statusmessage"))">
		
		@foreach (string _statusmessage_label in Model.GetSection("statusmessage_label", this)){@(Model.displayVar("label dbo_auditlog_mst statusmessage"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("statusmessage_value"))	</div>

		
</div>


}
											
@foreach (string _app_fieldblock in Model.GetSection("app_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_app"))  r-vertical-field" data-fieldname="app" data-signal-error-for="app@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" @(Model.displayVar("item_integrated_edit_field13")) data-pageid="@(Model.displayVar("pageid"))" data-field="app" data-fieldname="app" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_app"))">
		
		@foreach (string _app_label in Model.GetSection("app_label", this)){@(Model.displayVar("label dbo_auditlog_mst app"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("app_value"))	</div>

		
</div>


}
											
@foreach (string _tz_create_date_fieldblock in Model.GetSection("tz_create_date_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_tz_create_date"))  r-vertical-field" data-fieldname="tz_create_date" data-signal-error-for="tz_create_date@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" @(Model.displayVar("item_integrated_edit_field14")) data-pageid="@(Model.displayVar("pageid"))" data-field="tz_create_date" data-fieldname="tz_create_date" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_tz_create_date"))">
		
		@foreach (string _tz_create_date_label in Model.GetSection("tz_create_date_label", this)){@(Model.displayVar("label dbo_auditlog_mst tz_create_date"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("tz_create_date_value"))	</div>

		
</div>


}
	
								</td>
			}
								</tr>
			</tbody></table>
}
									@foreach (string _below_grid_block in Model.GetSection("below-grid_block", this)){
<DIV class="r-form" data-location="below-grid" id="form_below-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_below-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="4" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="below-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c1")) class="			col-md-6
	">
	 
		@foreach (string _back_button in Model.GetSection("back_button", this)){
<SPAN data-itemtype="view_back_list" data-itemid="view_back_list" @(Model.displayVar("item_view_back_list")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("backbutton_attrs"))>
							Back to list			</a>
</span>
}
	 
		@foreach (string _close_button in Model.GetSection("close_button", this)){
<SPAN data-itemtype="view_close" data-itemid="view_close" @(Model.displayVar("item_view_close")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" href="#" @(Model.displayVar("closebutton_attrs"))>
							Close window			</a>
</span>
}
	</div>			 
				<DIV data-cellId="below-grid_c2" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c2")) class="r-align-right r-ori-vert			col-md-6
	">
	</div>					</div>
	</div>		
}
			</div>
		{Html.RenderSharedView("footer");}
	}
	</body>
</html>
