@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
				<META http-equiv="X-UA-Compatible" content="IE=Edge" />
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(Model.displayVar("pagetitle"))</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<BASE href="@(Model.displayVar("projectPath"))" />
		<LINK REL="stylesheet" href="styles/default.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
	<LINK REL="stylesheet" href="styles/defaultRTL.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	}
	@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
	<LINK REL="stylesheet" href="@(Model.displayVar("stylepath"))" type="text/css" />
	}
			
	</head>

	<BODY class="@(Model.displayVar("stylename")) function-view">
	@foreach (string _body in Model.GetSection("body", this)){
		{Html.RenderSharedView("header");}
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"")</style>
		@(Model.displayVar("locking"))
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="full"
		>
							@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="4" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="top_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c1")) class=" r-ori-vert			col-md-12
	">
	 
		<H2 data-itemtype="view_header" data-itemid="view_header" @(Model.displayVar("item_view_header")) data-pageid="@(Model.displayVar("pageid"))">@(Model.displayVar("pagetitlelabel dbo_incoming view"))</h2>
	</div>					</div>
	</div>		
}
									@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="4" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c1")) class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
}
									@foreach (string _grid_block in Model.GetSection("grid_block", this)){




 
	 
												<TABLE data-body-align="center" data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))" class="r-edit-form" cellpadding="0" cellspacing="0" @(Model.displayVar("grid_hiddenattr")) data-form-width="1" data-v-width="4">
	<tbody>
										<TR @(Model.displayVar("row_grid_0"))>
										

@foreach (string _cellblock_grid_c3 in Model.GetSection("cellblock_grid_c3", this)){
<TD @(Model.displayVar("cell_grid_c3")) class=" r-ori-vert" data-fullwidth data-cellId="grid_c3" data-pageid="@(Model.displayVar("pageid"))" data-v-cell="4">
	<div edit-form-cell class="clearfix">
				
@foreach (string _client_fieldblock in Model.GetSection("client_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_client"))  r-vertical-field" data-fieldname="client" data-signal-error-for="client@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" @(Model.displayVar("item_integrated_edit_field")) data-pageid="@(Model.displayVar("pageid"))" data-field="client" data-fieldname="client" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_client"))">
		
		@foreach (string _client_label in Model.GetSection("client_label", this)){@(Model.displayVar("label dbo_incoming client"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("client_value"))	</div>

		
</div>


}
											
@foreach (string _payload_fieldblock in Model.GetSection("payload_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_payload"))  r-vertical-field" data-fieldname="payload" data-signal-error-for="payload@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" @(Model.displayVar("item_integrated_edit_field1")) data-pageid="@(Model.displayVar("pageid"))" data-field="payload" data-fieldname="payload" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_payload"))">
		
		@foreach (string _payload_label in Model.GetSection("payload_label", this)){@(Model.displayVar("label dbo_incoming payload"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("payload_value"))	</div>

		
</div>


}
											
@foreach (string _topic_fieldblock in Model.GetSection("topic_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_topic"))  r-vertical-field" data-fieldname="topic" data-signal-error-for="topic@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" @(Model.displayVar("item_integrated_edit_field2")) data-pageid="@(Model.displayVar("pageid"))" data-field="topic" data-fieldname="topic" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_topic"))">
		
		@foreach (string _topic_label in Model.GetSection("topic_label", this)){@(Model.displayVar("label dbo_incoming topic"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("topic_value"))	</div>

		
</div>


}
											
@foreach (string _createdate_fieldblock in Model.GetSection("createdate_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_createdate"))  r-vertical-field" data-fieldname="createdate" data-signal-error-for="createdate@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" @(Model.displayVar("item_integrated_edit_field3")) data-pageid="@(Model.displayVar("pageid"))" data-field="createdate" data-fieldname="createdate" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_createdate"))">
		
		@foreach (string _createdate_label in Model.GetSection("createdate_label", this)){@(Model.displayVar("label dbo_incoming createdate"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("createdate_value"))	</div>

		
</div>


}
											
@foreach (string _posted_fieldblock in Model.GetSection("posted_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_posted"))  r-vertical-field" data-fieldname="posted" data-signal-error-for="posted@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" @(Model.displayVar("item_integrated_edit_field4")) data-pageid="@(Model.displayVar("pageid"))" data-field="posted" data-fieldname="posted" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_posted"))">
		
		@foreach (string _posted_label in Model.GetSection("posted_label", this)){@(Model.displayVar("label dbo_incoming posted"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("posted_value"))	</div>

		
</div>


}
											
@foreach (string _ref_num_fieldblock in Model.GetSection("ref_num_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_ref_num"))  r-vertical-field" data-fieldname="ref_num" data-signal-error-for="ref_num@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" @(Model.displayVar("item_integrated_edit_field5")) data-pageid="@(Model.displayVar("pageid"))" data-field="ref_num" data-fieldname="ref_num" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_ref_num"))">
		
		@foreach (string _ref_num_label in Model.GetSection("ref_num_label", this)){@(Model.displayVar("label dbo_incoming ref_num"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("ref_num_value"))	</div>

		
</div>


}
											
@foreach (string _process_fieldblock in Model.GetSection("process_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_process"))  r-vertical-field" data-fieldname="process" data-signal-error-for="process@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" @(Model.displayVar("item_integrated_edit_field7")) data-pageid="@(Model.displayVar("pageid"))" data-field="process" data-fieldname="process" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_process"))">
		
		@foreach (string _process_label in Model.GetSection("process_label", this)){@(Model.displayVar("label dbo_incoming process"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("process_value"))	</div>

		
</div>


}
											
@foreach (string _recordname_fieldblock in Model.GetSection("recordname_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_recordname"))  r-vertical-field" data-fieldname="recordname" data-signal-error-for="recordname@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" @(Model.displayVar("item_integrated_edit_field8")) data-pageid="@(Model.displayVar("pageid"))" data-field="recordname" data-fieldname="recordname" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_recordname"))">
		
		@foreach (string _recordname_label in Model.GetSection("recordname_label", this)){@(Model.displayVar("label dbo_incoming recordname"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("recordname_value"))	</div>

		
</div>


}
											
@foreach (string _app_fieldblock in Model.GetSection("app_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_app"))  r-vertical-field" data-fieldname="app" data-signal-error-for="app@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" @(Model.displayVar("item_integrated_edit_field9")) data-pageid="@(Model.displayVar("pageid"))" data-field="app" data-fieldname="app" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_app"))">
		
		@foreach (string _app_label in Model.GetSection("app_label", this)){@(Model.displayVar("label dbo_incoming app"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("app_value"))	</div>

		
</div>


}
											
@foreach (string _site_fieldblock in Model.GetSection("site_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_site"))  r-vertical-field" data-fieldname="site" data-signal-error-for="site@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" @(Model.displayVar("item_integrated_edit_field6")) data-pageid="@(Model.displayVar("pageid"))" data-field="site" data-fieldname="site" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_site"))">
		
		@foreach (string _site_label in Model.GetSection("site_label", this)){@(Model.displayVar("label dbo_incoming site"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("site_value"))	</div>

		
</div>


}
											
@foreach (string _tz_create_date_fieldblock in Model.GetSection("tz_create_date_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_tz_create_date"))  r-vertical-field" data-fieldname="tz_create_date" data-signal-error-for="tz_create_date@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" @(Model.displayVar("item_integrated_edit_field10")) data-pageid="@(Model.displayVar("pageid"))" data-field="tz_create_date" data-fieldname="tz_create_date" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_tz_create_date"))">
		
		@foreach (string _tz_create_date_label in Model.GetSection("tz_create_date_label", this)){@(Model.displayVar("label dbo_incoming tz_create_date"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("tz_create_date_value"))	</div>

		
</div>


}
	
								</td>
			}
								</tr>
			</tbody></table>
}
									@foreach (string _below_grid_block in Model.GetSection("below-grid_block", this)){
<DIV class="r-form" data-location="below-grid" id="form_below-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_below-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="4" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="below-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c1")) class="			col-md-6
	">
	 
		@foreach (string _back_button in Model.GetSection("back_button", this)){
<SPAN data-itemtype="view_back_list" data-itemid="view_back_list" @(Model.displayVar("item_view_back_list")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("backbutton_attrs"))>
							Back to list			</a>
</span>
}
	 
		@foreach (string _close_button in Model.GetSection("close_button", this)){
<SPAN data-itemtype="view_close" data-itemid="view_close" @(Model.displayVar("item_view_close")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" href="#" @(Model.displayVar("closebutton_attrs"))>
							Close window			</a>
</span>
}
	</div>			 
				<DIV data-cellId="below-grid_c2" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c2")) class="r-align-right r-ori-vert			col-md-6
	">
	 
		<SPAN data-itemtype="hamburger" data-itemid="hamburger" @(Model.displayVar("item_hamburger")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
</span>
	</div>					</div>
	</div>		
}
			</div>
		{Html.RenderSharedView("footer");}
	}
	</body>
</html>
