@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
				<META http-equiv="X-UA-Compatible" content="IE=Edge" />
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(Model.displayVar("pagetitle"))</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<BASE href="@(Model.displayVar("projectPath"))" />
		<LINK REL="stylesheet" href="styles/default.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
	<LINK REL="stylesheet" href="styles/defaultRTL.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	}
	@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
	<LINK REL="stylesheet" href="@(Model.displayVar("stylepath"))" type="text/css" />
	}
			
	</head>

	<BODY class="@(Model.displayVar("stylename")) function-view">
	@foreach (string _body in Model.GetSection("body", this)){
		{Html.RenderSharedView("header");}
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"")</style>
		@(Model.displayVar("locking"))
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="4" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="top_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c1")) class=" r-ori-vert			col-md-12
	">
	 
		<H2 data-itemtype="view_header" data-itemid="view_header" @(Model.displayVar("item_view_header")) data-pageid="@(Model.displayVar("pageid"))">@(Model.displayVar("pagetitlelabel dbo_client_connections view"))</h2>
	</div>					</div>
	</div>		
}
									@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="4" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c1")) class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
}
									@foreach (string _grid_block in Model.GetSection("grid_block", this)){




 
	 
												<TABLE data-body-align="center" data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))" class="r-edit-form" cellpadding="0" cellspacing="0" @(Model.displayVar("grid_hiddenattr")) data-form-width="1" data-v-width="4">
	<tbody>
										<TR @(Model.displayVar("row_grid_0"))>
										

@foreach (string _cellblock_grid_c3 in Model.GetSection("cellblock_grid_c3", this)){
<TD @(Model.displayVar("cell_grid_c3")) class=" r-ori-vert" data-fullwidth data-cellId="grid_c3" data-pageid="@(Model.displayVar("pageid"))" data-v-cell="4">
	<div edit-form-cell class="clearfix">
				
@foreach (string _profileid_fieldblock in Model.GetSection("profileid_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_profileid"))  r-vertical-field" data-fieldname="profileid" data-signal-error-for="profileid@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" @(Model.displayVar("item_integrated_edit_field")) data-pageid="@(Model.displayVar("pageid"))" data-field="profileid" data-fieldname="profileid" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_profileid"))">
		
		@foreach (string _profileid_label in Model.GetSection("profileid_label", this)){@(Model.displayVar("label dbo_client_connections profileid"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("profileid_value"))	</div>

		
</div>


}
											
@foreach (string _client_fieldblock in Model.GetSection("client_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_client"))  r-vertical-field" data-fieldname="client" data-signal-error-for="client@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" @(Model.displayVar("item_integrated_edit_field1")) data-pageid="@(Model.displayVar("pageid"))" data-field="client" data-fieldname="client" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_client"))">
		
		@foreach (string _client_label in Model.GetSection("client_label", this)){@(Model.displayVar("label dbo_client_connections client"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("client_value"))	</div>

		
</div>


}
											
@foreach (string _baseurl_fieldblock in Model.GetSection("baseurl_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_baseurl"))  r-vertical-field" data-fieldname="baseurl" data-signal-error-for="baseurl@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" @(Model.displayVar("item_integrated_edit_field2")) data-pageid="@(Model.displayVar("pageid"))" data-field="baseurl" data-fieldname="baseurl" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_baseurl"))">
		
		@foreach (string _baseurl_label in Model.GetSection("baseurl_label", this)){@(Model.displayVar("label dbo_client_connections baseurl"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("baseurl_value"))	</div>

		
</div>


}
											
@foreach (string _config_fieldblock in Model.GetSection("config_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_config"))  r-vertical-field" data-fieldname="config" data-signal-error-for="config@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" @(Model.displayVar("item_integrated_edit_field3")) data-pageid="@(Model.displayVar("pageid"))" data-field="config" data-fieldname="config" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_config"))">
		
		@foreach (string _config_label in Model.GetSection("config_label", this)){@(Model.displayVar("label dbo_client_connections config"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("config_value"))	</div>

		
</div>


}
											
@foreach (string _site_fieldblock in Model.GetSection("site_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_site"))  r-vertical-field" data-fieldname="site" data-signal-error-for="site@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" @(Model.displayVar("item_integrated_edit_field4")) data-pageid="@(Model.displayVar("pageid"))" data-field="site" data-fieldname="site" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_site"))">
		
		@foreach (string _site_label in Model.GetSection("site_label", this)){@(Model.displayVar("label dbo_client_connections site"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("site_value"))	</div>

		
</div>


}
											
@foreach (string _rest_usr_fieldblock in Model.GetSection("rest_usr_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_rest_usr"))  r-vertical-field" data-fieldname="rest_usr" data-signal-error-for="rest_usr@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" @(Model.displayVar("item_integrated_edit_field5")) data-pageid="@(Model.displayVar("pageid"))" data-field="rest_usr" data-fieldname="rest_usr" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_rest_usr"))">
		
		@foreach (string _rest_usr_label in Model.GetSection("rest_usr_label", this)){@(Model.displayVar("label dbo_client_connections rest_usr"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("rest_usr_value"))	</div>

		
</div>


}
											
@foreach (string _rest_pwd_fieldblock in Model.GetSection("rest_pwd_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_rest_pwd"))  r-vertical-field" data-fieldname="rest_pwd" data-signal-error-for="rest_pwd@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" @(Model.displayVar("item_integrated_edit_field6")) data-pageid="@(Model.displayVar("pageid"))" data-field="rest_pwd" data-fieldname="rest_pwd" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_rest_pwd"))">
		
		@foreach (string _rest_pwd_label in Model.GetSection("rest_pwd_label", this)){@(Model.displayVar("label dbo_client_connections rest_pwd"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("rest_pwd_value"))	</div>

		
</div>


}
											
@foreach (string _oauth_usr_fieldblock in Model.GetSection("oauth_usr_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_oauth_usr"))  r-vertical-field" data-fieldname="oauth_usr" data-signal-error-for="oauth_usr@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" @(Model.displayVar("item_integrated_edit_field7")) data-pageid="@(Model.displayVar("pageid"))" data-field="oauth_usr" data-fieldname="oauth_usr" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_oauth_usr"))">
		
		@foreach (string _oauth_usr_label in Model.GetSection("oauth_usr_label", this)){@(Model.displayVar("label dbo_client_connections oauth_usr"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("oauth_usr_value"))	</div>

		
</div>


}
											
@foreach (string _oauth_pwd_fieldblock in Model.GetSection("oauth_pwd_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_oauth_pwd"))  r-vertical-field" data-fieldname="oauth_pwd" data-signal-error-for="oauth_pwd@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" @(Model.displayVar("item_integrated_edit_field8")) data-pageid="@(Model.displayVar("pageid"))" data-field="oauth_pwd" data-fieldname="oauth_pwd" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_oauth_pwd"))">
		
		@foreach (string _oauth_pwd_label in Model.GetSection("oauth_pwd_label", this)){@(Model.displayVar("label dbo_client_connections oauth_pwd"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("oauth_pwd_value"))	</div>

		
</div>


}
											
@foreach (string _oauth_clientid_fieldblock in Model.GetSection("oauth_clientid_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_oauth_clientid"))  r-vertical-field" data-fieldname="oauth_clientid" data-signal-error-for="oauth_clientid@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" @(Model.displayVar("item_integrated_edit_field9")) data-pageid="@(Model.displayVar("pageid"))" data-field="oauth_clientid" data-fieldname="oauth_clientid" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_oauth_clientid"))">
		
		@foreach (string _oauth_clientid_label in Model.GetSection("oauth_clientid_label", this)){@(Model.displayVar("label dbo_client_connections oauth_clientid"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("oauth_clientid_value"))	</div>

		
</div>


}
											
@foreach (string _oauth_secret_fieldblock in Model.GetSection("oauth_secret_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_oauth_secret"))  r-vertical-field" data-fieldname="oauth_secret" data-signal-error-for="oauth_secret@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" @(Model.displayVar("item_integrated_edit_field10")) data-pageid="@(Model.displayVar("pageid"))" data-field="oauth_secret" data-fieldname="oauth_secret" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_oauth_secret"))">
		
		@foreach (string _oauth_secret_label in Model.GetSection("oauth_secret_label", this)){@(Model.displayVar("label dbo_client_connections oauth_secret"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("oauth_secret_value"))	</div>

		
</div>


}
											
@foreach (string _tokenurl_fieldblock in Model.GetSection("tokenurl_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_tokenurl"))  r-vertical-field" data-fieldname="tokenurl" data-signal-error-for="tokenurl@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" @(Model.displayVar("item_integrated_edit_field11")) data-pageid="@(Model.displayVar("pageid"))" data-field="tokenurl" data-fieldname="tokenurl" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_tokenurl"))">
		
		@foreach (string _tokenurl_label in Model.GetSection("tokenurl_label", this)){@(Model.displayVar("label dbo_client_connections tokenurl"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("tokenurl_value"))	</div>

		
</div>


}
											
@foreach (string _app_fieldblock in Model.GetSection("app_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_app"))  r-vertical-field" data-fieldname="app" data-signal-error-for="app@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" @(Model.displayVar("item_integrated_edit_field12")) data-pageid="@(Model.displayVar("pageid"))" data-field="app" data-fieldname="app" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_app"))">
		
		@foreach (string _app_label in Model.GetSection("app_label", this)){@(Model.displayVar("label dbo_client_connections app"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("app_value"))	</div>

		
</div>


}
											
@foreach (string _token_fieldblock in Model.GetSection("token_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_token"))  r-vertical-field" data-fieldname="token" data-signal-error-for="token@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" @(Model.displayVar("item_integrated_edit_field13")) data-pageid="@(Model.displayVar("pageid"))" data-field="token" data-fieldname="token" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_token"))">
		
		@foreach (string _token_label in Model.GetSection("token_label", this)){@(Model.displayVar("label dbo_client_connections token"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("token_value"))	</div>

		
</div>


}
											
@foreach (string _lst_token_validate_fieldblock in Model.GetSection("lst_token_validate_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_lst_token_validate"))  r-vertical-field" data-fieldname="lst_token_validate" data-signal-error-for="lst_token_validate@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" @(Model.displayVar("item_integrated_edit_field14")) data-pageid="@(Model.displayVar("pageid"))" data-field="lst_token_validate" data-fieldname="lst_token_validate" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_lst_token_validate"))">
		
		@foreach (string _lst_token_validate_label in Model.GetSection("lst_token_validate_label", this)){@(Model.displayVar("label dbo_client_connections lst_token_validate"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("lst_token_validate_value"))	</div>

		
</div>


}
	
								</td>
			}
								</tr>
			</tbody></table>
}
									@foreach (string _below_grid_block in Model.GetSection("below-grid_block", this)){
<DIV class="r-form" data-location="below-grid" id="form_below-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_below-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="4" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="below-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c1")) class="			col-md-6
	">
	 
		@foreach (string _back_button in Model.GetSection("back_button", this)){
<SPAN data-itemtype="view_back_list" data-itemid="view_back_list" @(Model.displayVar("item_view_back_list")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("backbutton_attrs"))>
							Back to list			</a>
</span>
}
	 
		@foreach (string _close_button in Model.GetSection("close_button", this)){
<SPAN data-itemtype="view_close" data-itemid="view_close" @(Model.displayVar("item_view_close")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" href="#" @(Model.displayVar("closebutton_attrs"))>
							Close window			</a>
</span>
}
	</div>			 
				<DIV data-cellId="below-grid_c2" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c2")) class="r-align-right r-ori-vert			col-md-6
	">
	 
		<SPAN data-itemtype="hamburger" data-itemid="hamburger" @(Model.displayVar("item_hamburger")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							@foreach (string _edit_page_button in Model.GetSection("edit_page_button", this)){
	<LI data-itemtype="view_edit" data-itemid="view_edit" @(Model.displayVar("item_view_edit")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A href="client_connections/edit?@(Model.displayVar("editlink"))" @(Model.displayVar("edit_page_button_attrs")) title>
				
		Edit		
		</a>
	</li>
}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
}
			</div>
		{Html.RenderSharedView("footer");}
	}
	</body>
</html>
