@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
				<META http-equiv="X-UA-Compatible" content="IE=Edge" />
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(Model.displayVar("pagetitle"))</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<BASE href="@(Model.displayVar("projectPath"))" />
		<LINK REL="stylesheet" href="styles/default.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
	<LINK REL="stylesheet" href="styles/defaultRTL.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	}
	@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
	<LINK REL="stylesheet" href="@(Model.displayVar("stylepath"))" type="text/css" />
	}
			
	</head>

	<BODY class="@(Model.displayVar("stylename")) function-search">
	@foreach (string _body in Model.GetSection("body", this)){
		{Html.RenderSharedView("header");}
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"")</style>
		@(Model.displayVar("locking"))
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="6" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="top_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c1")) class=" r-ori-vert			col-md-12
	">
	 
		<H2 data-itemtype="search_header" data-itemid="search_header" @(Model.displayVar("item_search_header")) data-pageid="@(Model.displayVar("pageid"))">@(Model.displayVar("pagetitlelabel dbo_mg_order_lines_mst search"))</h2>
	</div>					</div>
	</div>		
}
									@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="6" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c1")) class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
}
									@foreach (string _grid_block in Model.GetSection("grid_block", this)){




 
	 
												<TABLE data-body-align="center" data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))" class="r-edit-form" cellpadding="0" cellspacing="0" @(Model.displayVar("grid_hiddenattr")) data-form-width="1" data-v-width="6">
	<tbody>
										<TR @(Model.displayVar("row_grid_0"))>
										

@foreach (string _cellblock_grid_c3 in Model.GetSection("cellblock_grid_c3", this)){
<TD @(Model.displayVar("cell_grid_c3")) class=" r-ori-vert" data-fullwidth data-cellId="grid_c3" data-pageid="@(Model.displayVar("pageid"))" data-v-cell="6">
	<div edit-form-cell class="clearfix">
				
@foreach (string _clientid_fieldblock in Model.GetSection("clientid_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_clientid"))  r-horizontal-field form-horizontal" data-signal-error-for="clientid@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field" @(Model.displayVar("item_integrated_search_field")) data-pageid="@(Model.displayVar("pageid"))" data-field="clientid" data-fieldname="clientid">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_clientid"))">
		@(Model.displayVar("label dbo_mg_order_lines_mst clientid"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_clientid"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("clientid_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("clientid_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _site_ref_fieldblock in Model.GetSection("site_ref_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_site_ref"))  r-horizontal-field form-horizontal" data-signal-error-for="site_ref@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" @(Model.displayVar("item_integrated_search_field1")) data-pageid="@(Model.displayVar("pageid"))" data-field="site_ref" data-fieldname="site_ref">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_site_ref"))">
		@(Model.displayVar("label dbo_mg_order_lines_mst site_ref"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_site_ref"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("site_ref_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("site_ref_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _co_num_fieldblock in Model.GetSection("co_num_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_co_num"))  r-horizontal-field form-horizontal" data-signal-error-for="co_num@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" @(Model.displayVar("item_integrated_search_field2")) data-pageid="@(Model.displayVar("pageid"))" data-field="co_num" data-fieldname="co_num">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_co_num"))">
		@(Model.displayVar("label dbo_mg_order_lines_mst co_num"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_co_num"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("co_num_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("co_num_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _co_line_fieldblock in Model.GetSection("co_line_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_co_line"))  r-horizontal-field form-horizontal" data-signal-error-for="co_line@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" @(Model.displayVar("item_integrated_search_field3")) data-pageid="@(Model.displayVar("pageid"))" data-field="co_line" data-fieldname="co_line">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_co_line"))">
		@(Model.displayVar("label dbo_mg_order_lines_mst co_line"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_co_line"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("co_line_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("co_line_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _item_fieldblock in Model.GetSection("item_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_item"))  r-horizontal-field form-horizontal" data-signal-error-for="item@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" @(Model.displayVar("item_integrated_search_field4")) data-pageid="@(Model.displayVar("pageid"))" data-field="item" data-fieldname="item">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_item"))">
		@(Model.displayVar("label dbo_mg_order_lines_mst item"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_item"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("item_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("item_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _description_fieldblock in Model.GetSection("description_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_description"))  r-horizontal-field form-horizontal" data-signal-error-for="description@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" @(Model.displayVar("item_integrated_search_field5")) data-pageid="@(Model.displayVar("pageid"))" data-field="description" data-fieldname="description">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_description"))">
		@(Model.displayVar("label dbo_mg_order_lines_mst description"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_description"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("description_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("description_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _qty_ordered_fieldblock in Model.GetSection("qty_ordered_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_qty_ordered"))  r-horizontal-field form-horizontal" data-signal-error-for="qty_ordered@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" @(Model.displayVar("item_integrated_search_field6")) data-pageid="@(Model.displayVar("pageid"))" data-field="qty_ordered" data-fieldname="qty_ordered">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_qty_ordered"))">
		@(Model.displayVar("label dbo_mg_order_lines_mst qty_ordered"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_qty_ordered"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("qty_ordered_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("qty_ordered_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _u_m_fieldblock in Model.GetSection("u_m_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_u_m"))  r-horizontal-field form-horizontal" data-signal-error-for="u_m@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" @(Model.displayVar("item_integrated_search_field7")) data-pageid="@(Model.displayVar("pageid"))" data-field="u_m" data-fieldname="u_m">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_u_m"))">
		@(Model.displayVar("label dbo_mg_order_lines_mst u_m"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_u_m"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("u_m_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("u_m_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _discount_fieldblock in Model.GetSection("discount_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_discount"))  r-horizontal-field form-horizontal" data-signal-error-for="discount@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" @(Model.displayVar("item_integrated_search_field8")) data-pageid="@(Model.displayVar("pageid"))" data-field="discount" data-fieldname="discount">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_discount"))">
		@(Model.displayVar("label dbo_mg_order_lines_mst discount"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_discount"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("discount_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("discount_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _price_fieldblock in Model.GetSection("price_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_price"))  r-horizontal-field form-horizontal" data-signal-error-for="price@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" @(Model.displayVar("item_integrated_search_field9")) data-pageid="@(Model.displayVar("pageid"))" data-field="price" data-fieldname="price">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_price"))">
		@(Model.displayVar("label dbo_mg_order_lines_mst price"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_price"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("price_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("price_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _whse_fieldblock in Model.GetSection("whse_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_whse"))  r-horizontal-field form-horizontal" data-signal-error-for="whse@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" @(Model.displayVar("item_integrated_search_field10")) data-pageid="@(Model.displayVar("pageid"))" data-field="whse" data-fieldname="whse">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_whse"))">
		@(Model.displayVar("label dbo_mg_order_lines_mst whse"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_whse"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("whse_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("whse_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _extprice_fieldblock in Model.GetSection("extprice_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_extprice"))  r-horizontal-field form-horizontal" data-signal-error-for="extprice@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" @(Model.displayVar("item_integrated_search_field11")) data-pageid="@(Model.displayVar("pageid"))" data-field="extprice" data-fieldname="extprice">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_extprice"))">
		@(Model.displayVar("label dbo_mg_order_lines_mst extprice"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_extprice"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("extprice_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("extprice_editcontrol1"))
	</div>
	
</div>

}
	
								</td>
			}
								</tr>
			</tbody></table>
}
									@foreach (string _below_grid_block in Model.GetSection("below-grid_block", this)){
<DIV class="r-form" data-location="below-grid" id="form_below-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_below-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="6" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="below-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c1")) class="			col-md-12
	">
	 
		<SPAN data-itemtype="search_search" data-itemid="search_search" @(Model.displayVar("item_search_search")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-primary   
	" @(Model.displayVar("searchbutton_attrs")) data-page=undefined>
							Search			</a>
</span>
	 
		<SPAN data-itemtype="search_reset" data-itemid="search_reset" @(Model.displayVar("item_search_reset")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("resetbutton_attrs"))>
							Reset			</a>
</span>
	 
		@foreach (string _back_button in Model.GetSection("back_button", this)){
<SPAN data-itemtype="search_back_list" data-itemid="search_back_list" @(Model.displayVar("item_search_back_list")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("backbutton_attrs"))>
							Back to list			</a>
</span>
}
	 
		@foreach (string _cancel_button in Model.GetSection("cancel_button", this)){
<SPAN data-itemtype="search_cancel" data-itemid="search_cancel" @(Model.displayVar("item_search_cancel")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" id="cancelButton@(Model.displayVar("id"))">
							Cancel			</a>
</span>
}
	</div>					</div>
	</div>		
}
			</div>
		{Html.RenderSharedView("footer");}
	}
	</body>
</html>
