@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
				<META http-equiv="X-UA-Compatible" content="IE=Edge" />
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(Model.displayVar("pagetitle"))</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<BASE href="@(Model.displayVar("projectPath"))" />
		<LINK REL="stylesheet" href="styles/default.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
	<LINK REL="stylesheet" href="styles/defaultRTL.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	}
	@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
	<LINK REL="stylesheet" href="@(Model.displayVar("stylepath"))" type="text/css" />
	}
			
	</head>

	<BODY class="@(Model.displayVar("stylename")) function-view">
	@foreach (string _body in Model.GetSection("body", this)){
		{Html.RenderSharedView("header");}
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"")</style>
		@(Model.displayVar("locking"))
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="4" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="top_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c1")) class=" r-ori-vert			col-md-12
	">
	 
		<H2 data-itemtype="view_header" data-itemid="view_header" @(Model.displayVar("item_view_header")) data-pageid="@(Model.displayVar("pageid"))">@(Model.displayVar("pagetitlelabel dbo_incidents view"))</h2>
	</div>					</div>
	</div>		
}
									@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="4" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c1")) class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
}
									@foreach (string _grid_block in Model.GetSection("grid_block", this)){




 
	 
												<TABLE data-body-align="center" data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))" class="r-edit-form" cellpadding="0" cellspacing="0" @(Model.displayVar("grid_hiddenattr")) data-form-width="1" data-v-width="4">
	<tbody>
										<TR @(Model.displayVar("row_grid_0"))>
										

@foreach (string _cellblock_grid_c3 in Model.GetSection("cellblock_grid_c3", this)){
<TD @(Model.displayVar("cell_grid_c3")) class=" r-ori-vert" data-fullwidth data-cellId="grid_c3" data-pageid="@(Model.displayVar("pageid"))" data-v-cell="4">
	<div edit-form-cell class="clearfix">
				
@foreach (string _clientid_fieldblock in Model.GetSection("clientid_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_clientid"))  r-vertical-field" data-fieldname="clientid" data-signal-error-for="clientid@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" @(Model.displayVar("item_integrated_edit_field4")) data-pageid="@(Model.displayVar("pageid"))" data-field="clientid" data-fieldname="clientid" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_clientid"))">
		
		@foreach (string _clientid_label in Model.GetSection("clientid_label", this)){@(Model.displayVar("label dbo_incidents clientid"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("clientid_value"))	</div>

		
</div>


}
											
@foreach (string _category_fieldblock in Model.GetSection("category_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_category"))  r-vertical-field" data-fieldname="category" data-signal-error-for="category@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" @(Model.displayVar("item_integrated_edit_field18")) data-pageid="@(Model.displayVar("pageid"))" data-field="category" data-fieldname="category" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_category"))">
		
		@foreach (string _category_label in Model.GetSection("category_label", this)){@(Model.displayVar("label dbo_incidents category"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("category_value"))	</div>

		
</div>


}
											
@foreach (string _apps_fieldblock in Model.GetSection("apps_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_apps"))  r-vertical-field" data-fieldname="apps" data-signal-error-for="apps@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" @(Model.displayVar("item_integrated_edit_field5")) data-pageid="@(Model.displayVar("pageid"))" data-field="apps" data-fieldname="apps" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_apps"))">
		
		@foreach (string _apps_label in Model.GetSection("apps_label", this)){@(Model.displayVar("label dbo_incidents apps"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("apps_value"))	</div>

		
</div>


}
											
@foreach (string _summary_fieldblock in Model.GetSection("summary_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_summary"))  r-vertical-field" data-fieldname="summary" data-signal-error-for="summary@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" @(Model.displayVar("item_integrated_edit_field2")) data-pageid="@(Model.displayVar("pageid"))" data-field="summary" data-fieldname="summary" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_summary"))">
		
		@foreach (string _summary_label in Model.GetSection("summary_label", this)){@(Model.displayVar("label dbo_incidents summary"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("summary_value"))	</div>

		
</div>


}
											
@foreach (string _description_fieldblock in Model.GetSection("description_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_description"))  r-vertical-field" data-fieldname="description" data-signal-error-for="description@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" @(Model.displayVar("item_integrated_edit_field3")) data-pageid="@(Model.displayVar("pageid"))" data-field="description" data-fieldname="description" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_description"))">
		
		@foreach (string _description_label in Model.GetSection("description_label", this)){@(Model.displayVar("label dbo_incidents description"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("description_value"))	</div>

		
</div>


}
											
@foreach (string _severity_fieldblock in Model.GetSection("severity_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_severity"))  r-vertical-field" data-fieldname="severity" data-signal-error-for="severity@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" @(Model.displayVar("item_integrated_edit_field10")) data-pageid="@(Model.displayVar("pageid"))" data-field="severity" data-fieldname="severity" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_severity"))">
		
		@foreach (string _severity_label in Model.GetSection("severity_label", this)){@(Model.displayVar("label dbo_incidents severity"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("severity_value"))	</div>

		
</div>


}
											
@foreach (string _phone_fieldblock in Model.GetSection("phone_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_phone"))  r-vertical-field" data-fieldname="phone" data-signal-error-for="phone@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" @(Model.displayVar("item_integrated_edit_field12")) data-pageid="@(Model.displayVar("pageid"))" data-field="phone" data-fieldname="phone" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_phone"))">
		
		@foreach (string _phone_label in Model.GetSection("phone_label", this)){@(Model.displayVar("label dbo_incidents phone"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("phone_value"))	</div>

		
</div>


}
											
@foreach (string _contact_fieldblock in Model.GetSection("contact_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_contact"))  r-vertical-field" data-fieldname="contact" data-signal-error-for="contact@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" @(Model.displayVar("item_integrated_edit_field13")) data-pageid="@(Model.displayVar("pageid"))" data-field="contact" data-fieldname="contact" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_contact"))">
		
		@foreach (string _contact_label in Model.GetSection("contact_label", this)){@(Model.displayVar("label dbo_incidents contact"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("contact_value"))	</div>

		
</div>


}
											
@foreach (string _contact_pref_fieldblock in Model.GetSection("contact_pref_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_contact_pref"))  r-vertical-field" data-fieldname="contact_pref" data-signal-error-for="contact_pref@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" @(Model.displayVar("item_integrated_edit_field14")) data-pageid="@(Model.displayVar("pageid"))" data-field="contact_pref" data-fieldname="contact_pref" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_contact_pref"))">
		
		@foreach (string _contact_pref_label in Model.GetSection("contact_pref_label", this)){@(Model.displayVar("label dbo_incidents contact_pref"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("contact_pref_value"))	</div>

		
</div>


}
											
@foreach (string _status_fieldblock in Model.GetSection("status_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_status"))  r-vertical-field" data-fieldname="status" data-signal-error-for="status@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" @(Model.displayVar("item_integrated_edit_field8")) data-pageid="@(Model.displayVar("pageid"))" data-field="status" data-fieldname="status" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_status"))">
		
		@foreach (string _status_label in Model.GetSection("status_label", this)){@(Model.displayVar("label dbo_incidents status"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("status_value"))	</div>

		
</div>


}
											
@foreach (string _documents_fieldblock in Model.GetSection("documents_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_documents"))  r-vertical-field" data-fieldname="documents" data-signal-error-for="documents@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" @(Model.displayVar("item_integrated_edit_field15")) data-pageid="@(Model.displayVar("pageid"))" data-field="documents" data-fieldname="documents" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_documents"))">
		
		@foreach (string _documents_label in Model.GetSection("documents_label", this)){@(Model.displayVar("label dbo_incidents documents"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("documents_value"))	</div>

		
</div>


}
											
@foreach (string _createdby_fieldblock in Model.GetSection("createdby_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_createdby"))  r-vertical-field" data-fieldname="createdby" data-signal-error-for="createdby@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" @(Model.displayVar("item_integrated_edit_field11")) data-pageid="@(Model.displayVar("pageid"))" data-field="createdby" data-fieldname="createdby" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_createdby"))">
		
		@foreach (string _createdby_label in Model.GetSection("createdby_label", this)){@(Model.displayVar("label dbo_incidents createdby"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("createdby_value"))	</div>

		
</div>


}
											
@foreach (string _createdate_fieldblock in Model.GetSection("createdate_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_createdate"))  r-vertical-field" data-fieldname="createdate" data-signal-error-for="createdate@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" @(Model.displayVar("item_integrated_edit_field6")) data-pageid="@(Model.displayVar("pageid"))" data-field="createdate" data-fieldname="createdate" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_createdate"))">
		
		@foreach (string _createdate_label in Model.GetSection("createdate_label", this)){@(Model.displayVar("label dbo_incidents createdate"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("createdate_value"))	</div>

		
</div>


}
											
@foreach (string _duedate_fieldblock in Model.GetSection("duedate_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_duedate"))  r-vertical-field" data-fieldname="duedate" data-signal-error-for="duedate@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" @(Model.displayVar("item_integrated_edit_field9")) data-pageid="@(Model.displayVar("pageid"))" data-field="duedate" data-fieldname="duedate" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_duedate"))">
		
		@foreach (string _duedate_label in Model.GetSection("duedate_label", this)){@(Model.displayVar("label dbo_incidents duedate"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("duedate_value"))	</div>

		
</div>


}
											
@foreach (string _completed_fieldblock in Model.GetSection("completed_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_completed"))  r-vertical-field" data-fieldname="completed" data-signal-error-for="completed@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" @(Model.displayVar("item_integrated_edit_field7")) data-pageid="@(Model.displayVar("pageid"))" data-field="completed" data-fieldname="completed" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_completed"))">
		
		@foreach (string _completed_label in Model.GetSection("completed_label", this)){@(Model.displayVar("label dbo_incidents completed"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("completed_value"))	</div>

		
</div>


}
											
@foreach (string _est_hrs_fieldblock in Model.GetSection("est_hrs_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_est_hrs"))  r-vertical-field" data-fieldname="est_hrs" data-signal-error-for="est_hrs@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" @(Model.displayVar("item_integrated_edit_field")) data-pageid="@(Model.displayVar("pageid"))" data-field="est_hrs" data-fieldname="est_hrs" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_est_hrs"))">
		
		@foreach (string _est_hrs_label in Model.GetSection("est_hrs_label", this)){@(Model.displayVar("label dbo_incidents est_hrs"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("est_hrs_value"))	</div>

		
</div>


}
											
@foreach (string _act_hrs_fieldblock in Model.GetSection("act_hrs_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_act_hrs"))  r-vertical-field" data-fieldname="act_hrs" data-signal-error-for="act_hrs@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" @(Model.displayVar("item_integrated_edit_field1")) data-pageid="@(Model.displayVar("pageid"))" data-field="act_hrs" data-fieldname="act_hrs" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_act_hrs"))">
		
		@foreach (string _act_hrs_label in Model.GetSection("act_hrs_label", this)){@(Model.displayVar("label dbo_incidents act_hrs"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("act_hrs_value"))	</div>

		
</div>


}
											
@foreach (string _assignedto_fieldblock in Model.GetSection("assignedto_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_assignedto"))  r-vertical-field" data-fieldname="assignedto" data-signal-error-for="assignedto@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" @(Model.displayVar("item_integrated_edit_field16")) data-pageid="@(Model.displayVar("pageid"))" data-field="assignedto" data-fieldname="assignedto" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_assignedto"))">
		
		@foreach (string _assignedto_label in Model.GetSection("assignedto_label", this)){@(Model.displayVar("label dbo_incidents assignedto"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("assignedto_value"))	</div>

		
</div>


}
											
@foreach (string _tech_notes_fieldblock in Model.GetSection("tech_notes_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_tech_notes"))  r-vertical-field" data-fieldname="tech_notes" data-signal-error-for="tech_notes@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" @(Model.displayVar("item_integrated_edit_field17")) data-pageid="@(Model.displayVar("pageid"))" data-field="tech_notes" data-fieldname="tech_notes" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_tech_notes"))">
		
		@foreach (string _tech_notes_label in Model.GetSection("tech_notes_label", this)){@(Model.displayVar("label dbo_incidents tech_notes"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("tech_notes_value"))	</div>

		
</div>


}
	
								</td>
			}
								</tr>
			</tbody></table>
}
									@foreach (string _below_grid_block in Model.GetSection("below-grid_block", this)){
<DIV class="r-form" data-location="below-grid" id="form_below-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_below-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="4" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="below-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c1")) class="			col-md-6
	">
	 
		@foreach (string _back_button in Model.GetSection("back_button", this)){
<SPAN data-itemtype="view_back_list" data-itemid="view_back_list" @(Model.displayVar("item_view_back_list")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("backbutton_attrs"))>
							Back to list			</a>
</span>
}
	 
		@foreach (string _close_button in Model.GetSection("close_button", this)){
<SPAN data-itemtype="view_close" data-itemid="view_close" @(Model.displayVar("item_view_close")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" href="#" @(Model.displayVar("closebutton_attrs"))>
							Close window			</a>
</span>
}
	</div>			 
				<DIV data-cellId="below-grid_c2" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c2")) class="r-align-right r-ori-vert			col-md-6
	">
	 
		<SPAN data-itemtype="hamburger" data-itemid="hamburger" @(Model.displayVar("item_hamburger")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							@foreach (string _edit_page_button in Model.GetSection("edit_page_button", this)){
	<LI data-itemtype="view_edit" data-itemid="view_edit" @(Model.displayVar("item_view_edit")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A href="incidents/edit?@(Model.displayVar("editlink"))" @(Model.displayVar("edit_page_button_attrs")) title>
				
		Edit		
		</a>
	</li>
}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
}
			</div>
		{Html.RenderSharedView("footer");}
	}
	</body>
</html>
