@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
				<META http-equiv="X-UA-Compatible" content="IE=Edge" />
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(Model.displayVar("pagetitle"))</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<BASE href="@(Model.displayVar("projectPath"))" />
		<LINK REL="stylesheet" href="styles/default.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
	<LINK REL="stylesheet" href="styles/defaultRTL.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	}
	@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
	<LINK REL="stylesheet" href="@(Model.displayVar("stylepath"))" type="text/css" />
	}
			
	</head>

	<BODY class="@(Model.displayVar("stylename")) function-search">
	@foreach (string _body in Model.GetSection("body", this)){
		{Html.RenderSharedView("header");}
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"")</style>
		@(Model.displayVar("locking"))
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="6" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="top_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c1")) class=" r-ori-vert			col-md-12
	">
	 
		<H2 data-itemtype="search_header" data-itemid="search_header" @(Model.displayVar("item_search_header")) data-pageid="@(Model.displayVar("pageid"))">@(Model.displayVar("pagetitlelabel dbo_mg_customer_mst search"))</h2>
	</div>					</div>
	</div>		
}
									@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="6" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c1")) class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
}
									@foreach (string _grid_block in Model.GetSection("grid_block", this)){




 
	 
												<TABLE data-body-align="center" data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))" class="r-edit-form" cellpadding="0" cellspacing="0" @(Model.displayVar("grid_hiddenattr")) data-form-width="1" data-v-width="6">
	<tbody>
										<TR @(Model.displayVar("row_grid_0"))>
										

@foreach (string _cellblock_grid_c3 in Model.GetSection("cellblock_grid_c3", this)){
<TD @(Model.displayVar("cell_grid_c3")) class=" r-ori-vert" data-fullwidth data-cellId="grid_c3" data-pageid="@(Model.displayVar("pageid"))" data-v-cell="6">
	<div edit-form-cell class="clearfix">
				
@foreach (string _clientid_fieldblock in Model.GetSection("clientid_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_clientid"))  r-horizontal-field form-horizontal" data-signal-error-for="clientid@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field" @(Model.displayVar("item_integrated_search_field")) data-pageid="@(Model.displayVar("pageid"))" data-field="clientid" data-fieldname="clientid">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_clientid"))">
		@(Model.displayVar("label dbo_mg_customer_mst clientid"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_clientid"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("clientid_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("clientid_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _site_ref_fieldblock in Model.GetSection("site_ref_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_site_ref"))  r-horizontal-field form-horizontal" data-signal-error-for="site_ref@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" @(Model.displayVar("item_integrated_search_field1")) data-pageid="@(Model.displayVar("pageid"))" data-field="site_ref" data-fieldname="site_ref">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_site_ref"))">
		@(Model.displayVar("label dbo_mg_customer_mst site_ref"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_site_ref"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("site_ref_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("site_ref_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _customer_id_fieldblock in Model.GetSection("customer_id_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_customer_id"))  r-horizontal-field form-horizontal" data-signal-error-for="customer_id@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" @(Model.displayVar("item_integrated_search_field2")) data-pageid="@(Model.displayVar("pageid"))" data-field="customer_id" data-fieldname="customer_id">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_customer_id"))">
		@(Model.displayVar("label dbo_mg_customer_mst customer_id"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_customer_id"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("customer_id_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("customer_id_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _cust_num_fieldblock in Model.GetSection("cust_num_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_cust_num"))  r-horizontal-field form-horizontal" data-signal-error-for="cust_num@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" @(Model.displayVar("item_integrated_search_field3")) data-pageid="@(Model.displayVar("pageid"))" data-field="cust_num" data-fieldname="cust_num">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_cust_num"))">
		@(Model.displayVar("label dbo_mg_customer_mst cust_num"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_cust_num"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("cust_num_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("cust_num_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _cust_seq_fieldblock in Model.GetSection("cust_seq_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_cust_seq"))  r-horizontal-field form-horizontal" data-signal-error-for="cust_seq@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" @(Model.displayVar("item_integrated_search_field4")) data-pageid="@(Model.displayVar("pageid"))" data-field="cust_seq" data-fieldname="cust_seq">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_cust_seq"))">
		@(Model.displayVar("label dbo_mg_customer_mst cust_seq"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_cust_seq"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("cust_seq_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("cust_seq_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _name_fieldblock in Model.GetSection("name_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_name"))  r-horizontal-field form-horizontal" data-signal-error-for="name@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" @(Model.displayVar("item_integrated_search_field5")) data-pageid="@(Model.displayVar("pageid"))" data-field="name" data-fieldname="name">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_name"))">
		@(Model.displayVar("label dbo_mg_customer_mst name"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_name"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("name_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("name_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _city_fieldblock in Model.GetSection("city_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_city"))  r-horizontal-field form-horizontal" data-signal-error-for="city@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" @(Model.displayVar("item_integrated_search_field6")) data-pageid="@(Model.displayVar("pageid"))" data-field="city" data-fieldname="city">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_city"))">
		@(Model.displayVar("label dbo_mg_customer_mst city"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_city"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("city_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("city_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _state_fieldblock in Model.GetSection("state_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_state"))  r-horizontal-field form-horizontal" data-signal-error-for="state@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" @(Model.displayVar("item_integrated_search_field7")) data-pageid="@(Model.displayVar("pageid"))" data-field="state" data-fieldname="state">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_state"))">
		@(Model.displayVar("label dbo_mg_customer_mst state"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_state"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("state_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("state_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _zip_fieldblock in Model.GetSection("zip_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_zip"))  r-horizontal-field form-horizontal" data-signal-error-for="zip@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" @(Model.displayVar("item_integrated_search_field8")) data-pageid="@(Model.displayVar("pageid"))" data-field="zip" data-fieldname="zip">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_zip"))">
		@(Model.displayVar("label dbo_mg_customer_mst zip"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_zip"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("zip_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("zip_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _country_fieldblock in Model.GetSection("country_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_country"))  r-horizontal-field form-horizontal" data-signal-error-for="country@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" @(Model.displayVar("item_integrated_search_field9")) data-pageid="@(Model.displayVar("pageid"))" data-field="country" data-fieldname="country">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_country"))">
		@(Model.displayVar("label dbo_mg_customer_mst country"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_country"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("country_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("country_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _addr1_fieldblock in Model.GetSection("addr1_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_addr1"))  r-horizontal-field form-horizontal" data-signal-error-for="addr1@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" @(Model.displayVar("item_integrated_search_field10")) data-pageid="@(Model.displayVar("pageid"))" data-field="addr1" data-fieldname="addr1">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_addr1"))">
		@(Model.displayVar("label dbo_mg_customer_mst addr1"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_addr1"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("addr1_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("addr1_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _addr2_fieldblock in Model.GetSection("addr2_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_addr2"))  r-horizontal-field form-horizontal" data-signal-error-for="addr2@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" @(Model.displayVar("item_integrated_search_field11")) data-pageid="@(Model.displayVar("pageid"))" data-field="addr2" data-fieldname="addr2">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_addr2"))">
		@(Model.displayVar("label dbo_mg_customer_mst addr2"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_addr2"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("addr2_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("addr2_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _addr3_fieldblock in Model.GetSection("addr3_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_addr3"))  r-horizontal-field form-horizontal" data-signal-error-for="addr3@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" @(Model.displayVar("item_integrated_search_field12")) data-pageid="@(Model.displayVar("pageid"))" data-field="addr3" data-fieldname="addr3">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_addr3"))">
		@(Model.displayVar("label dbo_mg_customer_mst addr3"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_addr3"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("addr3_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("addr3_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _addr4_fieldblock in Model.GetSection("addr4_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_addr4"))  r-horizontal-field form-horizontal" data-signal-error-for="addr4@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" @(Model.displayVar("item_integrated_search_field13")) data-pageid="@(Model.displayVar("pageid"))" data-field="addr4" data-fieldname="addr4">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_addr4"))">
		@(Model.displayVar("label dbo_mg_customer_mst addr4"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_addr4"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("addr4_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("addr4_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _email_fieldblock in Model.GetSection("email_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_email"))  r-horizontal-field form-horizontal" data-signal-error-for="email@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" @(Model.displayVar("item_integrated_search_field14")) data-pageid="@(Model.displayVar("pageid"))" data-field="email" data-fieldname="email">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_email"))">
		@(Model.displayVar("label dbo_mg_customer_mst email"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_email"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("email_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("email_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _posted_fieldblock in Model.GetSection("posted_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_posted"))  r-horizontal-field form-horizontal" data-signal-error-for="posted@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" @(Model.displayVar("item_integrated_search_field15")) data-pageid="@(Model.displayVar("pageid"))" data-field="posted" data-fieldname="posted">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_posted"))">
		@(Model.displayVar("label dbo_mg_customer_mst posted"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_posted"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("posted_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("posted_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _address_id_fieldblock in Model.GetSection("address_id_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_address_id"))  r-horizontal-field form-horizontal" data-signal-error-for="address_id@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" @(Model.displayVar("item_integrated_search_field16")) data-pageid="@(Model.displayVar("pageid"))" data-field="address_id" data-fieldname="address_id">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_address_id"))">
		@(Model.displayVar("label dbo_mg_customer_mst address_id"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_address_id"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("address_id_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("address_id_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _telephone_fieldblock in Model.GetSection("telephone_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_telephone"))  r-horizontal-field form-horizontal" data-signal-error-for="telephone@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" @(Model.displayVar("item_integrated_search_field17")) data-pageid="@(Model.displayVar("pageid"))" data-field="telephone" data-fieldname="telephone">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_telephone"))">
		@(Model.displayVar("label dbo_mg_customer_mst telephone"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_telephone"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("telephone_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("telephone_editcontrol1"))
	</div>
	
</div>

}
	
								</td>
			}
								</tr>
			</tbody></table>
}
									@foreach (string _below_grid_block in Model.GetSection("below-grid_block", this)){
<DIV class="r-form" data-location="below-grid" id="form_below-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_below-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="6" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="below-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c1")) class="			col-md-12
	">
	 
		<SPAN data-itemtype="search_search" data-itemid="search_search" @(Model.displayVar("item_search_search")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-primary   
	" @(Model.displayVar("searchbutton_attrs")) data-page=undefined>
							Search			</a>
</span>
	 
		<SPAN data-itemtype="search_reset" data-itemid="search_reset" @(Model.displayVar("item_search_reset")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("resetbutton_attrs"))>
							Reset			</a>
</span>
	 
		@foreach (string _back_button in Model.GetSection("back_button", this)){
<SPAN data-itemtype="search_back_list" data-itemid="search_back_list" @(Model.displayVar("item_search_back_list")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("backbutton_attrs"))>
							Back to list			</a>
</span>
}
	 
		@foreach (string _cancel_button in Model.GetSection("cancel_button", this)){
<SPAN data-itemtype="search_cancel" data-itemid="search_cancel" @(Model.displayVar("item_search_cancel")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" id="cancelButton@(Model.displayVar("id"))">
							Cancel			</a>
</span>
}
	</div>					</div>
	</div>		
}
			</div>
		{Html.RenderSharedView("footer");}
	}
	</body>
</html>
