@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<div class="panel panel-primary">
		<div class="panel-heading">
						@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="panel-title r-panel-top row" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="panel-only" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))">		
	 
		 
			<DIV data-cellId="top_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c1")) class="			col-md-12
	
">
		 
		<SPAN data-itemtype="back_master" data-itemid="back_master" @(Model.displayVar("item_back_master")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-link  btn-xs 
	" @(Model.displayVar("backtomasterlink_attrs"))>
							Back to Master table			</a>
</span>
	 
		<H3 class="panel-title" data-itemtype="masterlist_header" data-itemid="masterlist_header" @(Model.displayVar("item_masterlist_header")) data-pageid="@(Model.displayVar("pageid"))">@(Model.displayVar("pagetitlelabel dbo_tp_vendor masterlist"))</h3>
		</div>			</div>		
}
			</div>
		<div class="panel-body">
							@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="panel-only" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))">		
	 
				<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c1")) class=" r-ori-vert			col-md-12
	
">
		@foreach (string _firstAboveGridCell in Model.GetSection("firstAboveGridCell", this)){
				}	
	</div>					</div>
			</div>		
}
								@foreach (string _grid_block in Model.GetSection("grid_block", this)){
foreach (string _message_block in Model.GetSection("message_block", this)){
<DIV data-grid-message data-pageid="@(Model.displayVar("pageid"))" class="alert @(Model.displayVar("message_class"))" role="alert" @(Model.displayVar("grid_message_attrs"))>@(Model.displayVar("message"))</div>
}<TABLE data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="panel-only" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))" class=" table table-striped table-bordered r-horizontal-grid  rnr-b-grid rnr-gridtable" cellpadding="0" data-body-height="1">
						<thead>
			@foreach (string _grid_header in Model.GetSection("grid_header", this)){
			
																									<TR @(Model.displayVar("rowattrs")) @(Model.displayVar("row_grid_0")) class="@(Model.displayVar("rowclass"))
									@(Model.displayVar("gridHeader_class"))
					
								r-gridrow
							">
									@foreach (string _cellblock_grid_headcell_field in Model.GetSection("cellblock_grid_headcell_field", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("clientid_class"))	" data-field="clientid" data-cellId="grid_headcell_field" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _clientid_fieldheadercolumn in Model.GetSection("clientid_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field31" @(Model.displayVar("item_simple_grid_field31")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="clientid" data-fieldname="clientid">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor clientid"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field1 in Model.GetSection("cellblock_grid_headcell_field1", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field1")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("site_ref_class"))	" data-field="site_ref" data-cellId="grid_headcell_field1" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _site_ref_fieldheadercolumn in Model.GetSection("site_ref_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field37" @(Model.displayVar("item_simple_grid_field37")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="site_ref" data-fieldname="site_ref">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor site_ref"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field2 in Model.GetSection("cellblock_grid_headcell_field2", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field2")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("tp_posted_class"))	" data-field="tp_posted" data-cellId="grid_headcell_field2" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _tp_posted_fieldheadercolumn in Model.GetSection("tp_posted_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field38" @(Model.displayVar("item_simple_grid_field38")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="tp_posted" data-fieldname="tp_posted">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor tp_posted"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field3 in Model.GetSection("cellblock_grid_headcell_field3", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field3")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("vend_num_class"))	" data-field="vend_num" data-cellId="grid_headcell_field3" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _vend_num_fieldheadercolumn in Model.GetSection("vend_num_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field39" @(Model.displayVar("item_simple_grid_field39")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="vend_num" data-fieldname="vend_num">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor vend_num"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field4 in Model.GetSection("cellblock_grid_headcell_field4", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field4")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("RowPointer_class"))	" data-field="RowPointer" data-cellId="grid_headcell_field4" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _RowPointer_fieldheadercolumn in Model.GetSection("RowPointer_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field40" @(Model.displayVar("item_simple_grid_field40")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="RowPointer" data-fieldname="RowPointer">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor RowPointer"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field5 in Model.GetSection("cellblock_grid_headcell_field5", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field5")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("contact_class"))	" data-field="contact" data-cellId="grid_headcell_field5" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _contact_fieldheadercolumn in Model.GetSection("contact_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field41" @(Model.displayVar("item_simple_grid_field41")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="contact" data-fieldname="contact">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor contact"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field6 in Model.GetSection("cellblock_grid_headcell_field6", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field6")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("phone_class"))	" data-field="phone" data-cellId="grid_headcell_field6" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _phone_fieldheadercolumn in Model.GetSection("phone_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field42" @(Model.displayVar("item_simple_grid_field42")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="phone" data-fieldname="phone">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor phone"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field7 in Model.GetSection("cellblock_grid_headcell_field7", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field7")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("vend_type_class"))	" data-field="vend_type" data-cellId="grid_headcell_field7" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _vend_type_fieldheadercolumn in Model.GetSection("vend_type_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field43" @(Model.displayVar("item_simple_grid_field43")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="vend_type" data-fieldname="vend_type">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor vend_type"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field8 in Model.GetSection("cellblock_grid_headcell_field8", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field8")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("terms_code_class"))	" data-field="terms_code" data-cellId="grid_headcell_field8" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _terms_code_fieldheadercolumn in Model.GetSection("terms_code_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field44" @(Model.displayVar("item_simple_grid_field44")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="terms_code" data-fieldname="terms_code">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor terms_code"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field9 in Model.GetSection("cellblock_grid_headcell_field9", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field9")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("ship_code_class"))	" data-field="ship_code" data-cellId="grid_headcell_field9" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _ship_code_fieldheadercolumn in Model.GetSection("ship_code_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field45" @(Model.displayVar("item_simple_grid_field45")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="ship_code" data-fieldname="ship_code">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor ship_code"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field10 in Model.GetSection("cellblock_grid_headcell_field10", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field10")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("stat_class"))	" data-field="stat" data-cellId="grid_headcell_field10" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _stat_fieldheadercolumn in Model.GetSection("stat_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field46" @(Model.displayVar("item_simple_grid_field46")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="stat" data-fieldname="stat">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor stat"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field11 in Model.GetSection("cellblock_grid_headcell_field11", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field11")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("curr_code_class"))	" data-field="curr_code" data-cellId="grid_headcell_field11" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _curr_code_fieldheadercolumn in Model.GetSection("curr_code_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field47" @(Model.displayVar("item_simple_grid_field47")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="curr_code" data-fieldname="curr_code">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor curr_code"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field12 in Model.GetSection("cellblock_grid_headcell_field12", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field12")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("pay_type_class"))	" data-field="pay_type" data-cellId="grid_headcell_field12" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _pay_type_fieldheadercolumn in Model.GetSection("pay_type_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field48" @(Model.displayVar("item_simple_grid_field48")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="pay_type" data-fieldname="pay_type">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor pay_type"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field13 in Model.GetSection("cellblock_grid_headcell_field13", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field13")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("delterm_class"))	" data-field="delterm" data-cellId="grid_headcell_field13" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _delterm_fieldheadercolumn in Model.GetSection("delterm_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field49" @(Model.displayVar("item_simple_grid_field49")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="delterm" data-fieldname="delterm">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor delterm"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field14 in Model.GetSection("cellblock_grid_headcell_field14", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field14")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("tax_code1_class"))	" data-field="tax_code1" data-cellId="grid_headcell_field14" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _tax_code1_fieldheadercolumn in Model.GetSection("tax_code1_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field50" @(Model.displayVar("item_simple_grid_field50")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="tax_code1" data-fieldname="tax_code1">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor tax_code1"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field15 in Model.GetSection("cellblock_grid_headcell_field15", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field15")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("tax_code2_class"))	" data-field="tax_code2" data-cellId="grid_headcell_field15" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _tax_code2_fieldheadercolumn in Model.GetSection("tax_code2_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field51" @(Model.displayVar("item_simple_grid_field51")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="tax_code2" data-fieldname="tax_code2">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor tax_code2"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field16 in Model.GetSection("cellblock_grid_headcell_field16", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field16")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("cust_num_class"))	" data-field="cust_num" data-cellId="grid_headcell_field16" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _cust_num_fieldheadercolumn in Model.GetSection("cust_num_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field52" @(Model.displayVar("item_simple_grid_field52")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="cust_num" data-fieldname="cust_num">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor cust_num"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field17 in Model.GetSection("cellblock_grid_headcell_field17", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field17")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("vend_bank_class"))	" data-field="vend_bank" data-cellId="grid_headcell_field17" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _vend_bank_fieldheadercolumn in Model.GetSection("vend_bank_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field53" @(Model.displayVar("item_simple_grid_field53")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="vend_bank" data-fieldname="vend_bank">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor vend_bank"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field18 in Model.GetSection("cellblock_grid_headcell_field18", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field18")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("name_class"))	" data-field="name" data-cellId="grid_headcell_field18" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _name_fieldheadercolumn in Model.GetSection("name_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field54" @(Model.displayVar("item_simple_grid_field54")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="name" data-fieldname="name">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor name"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field19 in Model.GetSection("cellblock_grid_headcell_field19", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field19")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("city_class"))	" data-field="city" data-cellId="grid_headcell_field19" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _city_fieldheadercolumn in Model.GetSection("city_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field55" @(Model.displayVar("item_simple_grid_field55")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="city" data-fieldname="city">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor city"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field20 in Model.GetSection("cellblock_grid_headcell_field20", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field20")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("state_class"))	" data-field="state" data-cellId="grid_headcell_field20" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _state_fieldheadercolumn in Model.GetSection("state_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field56" @(Model.displayVar("item_simple_grid_field56")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="state" data-fieldname="state">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor state"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field21 in Model.GetSection("cellblock_grid_headcell_field21", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field21")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("zip_class"))	" data-field="zip" data-cellId="grid_headcell_field21" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _zip_fieldheadercolumn in Model.GetSection("zip_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field57" @(Model.displayVar("item_simple_grid_field57")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="zip" data-fieldname="zip">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor zip"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field22 in Model.GetSection("cellblock_grid_headcell_field22", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field22")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("county_class"))	" data-field="county" data-cellId="grid_headcell_field22" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _county_fieldheadercolumn in Model.GetSection("county_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field58" @(Model.displayVar("item_simple_grid_field58")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="county" data-fieldname="county">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor county"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field23 in Model.GetSection("cellblock_grid_headcell_field23", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field23")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("country_class"))	" data-field="country" data-cellId="grid_headcell_field23" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _country_fieldheadercolumn in Model.GetSection("country_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field59" @(Model.displayVar("item_simple_grid_field59")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="country" data-fieldname="country">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor country"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field24 in Model.GetSection("cellblock_grid_headcell_field24", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field24")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("fax_num_class"))	" data-field="fax_num" data-cellId="grid_headcell_field24" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _fax_num_fieldheadercolumn in Model.GetSection("fax_num_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field60" @(Model.displayVar("item_simple_grid_field60")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="fax_num" data-fieldname="fax_num">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor fax_num"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field25 in Model.GetSection("cellblock_grid_headcell_field25", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field25")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("telex_num_class"))	" data-field="telex_num" data-cellId="grid_headcell_field25" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _telex_num_fieldheadercolumn in Model.GetSection("telex_num_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field61" @(Model.displayVar("item_simple_grid_field61")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="telex_num" data-fieldname="telex_num">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor telex_num"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field26 in Model.GetSection("cellblock_grid_headcell_field26", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field26")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("addr1_class"))	" data-field="addr1" data-cellId="grid_headcell_field26" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _addr1_fieldheadercolumn in Model.GetSection("addr1_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field62" @(Model.displayVar("item_simple_grid_field62")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="addr1" data-fieldname="addr1">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor addr1"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field27 in Model.GetSection("cellblock_grid_headcell_field27", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field27")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("addr2_class"))	" data-field="addr2" data-cellId="grid_headcell_field27" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _addr2_fieldheadercolumn in Model.GetSection("addr2_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field63" @(Model.displayVar("item_simple_grid_field63")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="addr2" data-fieldname="addr2">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor addr2"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field28 in Model.GetSection("cellblock_grid_headcell_field28", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field28")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("addr3_class"))	" data-field="addr3" data-cellId="grid_headcell_field28" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _addr3_fieldheadercolumn in Model.GetSection("addr3_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field64" @(Model.displayVar("item_simple_grid_field64")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="addr3" data-fieldname="addr3">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor addr3"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field29 in Model.GetSection("cellblock_grid_headcell_field29", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field29")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("addr4_class"))	" data-field="addr4" data-cellId="grid_headcell_field29" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _addr4_fieldheadercolumn in Model.GetSection("addr4_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field65" @(Model.displayVar("item_simple_grid_field65")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="addr4" data-fieldname="addr4">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor addr4"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field30 in Model.GetSection("cellblock_grid_headcell_field30", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field30")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("internet_url_class"))	" data-field="internet_url" data-cellId="grid_headcell_field30" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _internet_url_fieldheadercolumn in Model.GetSection("internet_url_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field66" @(Model.displayVar("item_simple_grid_field66")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="internet_url" data-fieldname="internet_url">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor internet_url"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field31 in Model.GetSection("cellblock_grid_headcell_field31", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field31")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("internal_email_addr_class"))	" data-field="internal_email_addr" data-cellId="grid_headcell_field31" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _internal_email_addr_fieldheadercolumn in Model.GetSection("internal_email_addr_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field67" @(Model.displayVar("item_simple_grid_field67")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="internal_email_addr" data-fieldname="internal_email_addr">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor internal_email_addr"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field32 in Model.GetSection("cellblock_grid_headcell_field32", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field32")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("external_email_addr_class"))	" data-field="external_email_addr" data-cellId="grid_headcell_field32" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _external_email_addr_fieldheadercolumn in Model.GetSection("external_email_addr_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field68" @(Model.displayVar("item_simple_grid_field68")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="external_email_addr" data-fieldname="external_email_addr">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor external_email_addr"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field33 in Model.GetSection("cellblock_grid_headcell_field33", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field33")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("long_name_class"))	" data-field="long_name" data-cellId="grid_headcell_field33" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _long_name_fieldheadercolumn in Model.GetSection("long_name_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field69" @(Model.displayVar("item_simple_grid_field69")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="long_name" data-fieldname="long_name">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor long_name"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field34 in Model.GetSection("cellblock_grid_headcell_field34", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field34")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("vend_remit_class"))	" data-field="vend_remit" data-cellId="grid_headcell_field34" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _vend_remit_fieldheadercolumn in Model.GetSection("vend_remit_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field70" @(Model.displayVar("item_simple_grid_field70")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="vend_remit" data-fieldname="vend_remit">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor vend_remit"))</span>
			</span>
	</span>
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field35 in Model.GetSection("cellblock_grid_headcell_field35", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field35")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("PendInv_class"))	" data-field="PendInv" data-cellId="grid_headcell_field35" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _PendInv_fieldheadercolumn in Model.GetSection("PendInv_fieldheadercolumn", this)){
<SPAN data-itemtype="grid_field_label" data-itemid="simple_grid_field71" @(Model.displayVar("item_simple_grid_field71")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="PendInv" data-fieldname="PendInv">
	<span class="text-label">
		<span>@(Model.displayVar("label dbo_tp_vendor PendInv"))</span>
			</span>
	</span>
}

	
	</th>
	}
							</tr>
															
					}
			</thead>
															<tbody>
					@foreach (string _grid_row in Model.GetSection("grid_row", this)){
							
																														<TR @(Model.displayVar("rowattrs")) @(Model.displayVar("row_grid_1")) class="@(Model.displayVar("rowclass"))
				
								r-gridrow
							">
									@foreach (string _cellblock_grid_cell_field in Model.GetSection("cellblock_grid_cell_field", this)){
	<TD @(Model.displayVar("cell_grid_cell_field")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("clientid_class"))	" data-field="clientid" data-cellId="grid_cell_field" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _clientid_fieldcolumn in Model.GetSection("clientid_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field" @(Model.displayVar("item_simple_grid_field")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="clientid" data-fieldname="clientid" data-default-width>
@(Model.displayVar("clientid_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field1 in Model.GetSection("cellblock_grid_cell_field1", this)){
	<TD @(Model.displayVar("cell_grid_cell_field1")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("site_ref_class"))	" data-field="site_ref" data-cellId="grid_cell_field1" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _site_ref_fieldcolumn in Model.GetSection("site_ref_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field1" @(Model.displayVar("item_simple_grid_field1")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="site_ref" data-fieldname="site_ref" data-default-width>
@(Model.displayVar("site_ref_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field2 in Model.GetSection("cellblock_grid_cell_field2", this)){
	<TD @(Model.displayVar("cell_grid_cell_field2")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("tp_posted_class"))	" data-field="tp_posted" data-cellId="grid_cell_field2" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _tp_posted_fieldcolumn in Model.GetSection("tp_posted_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field2" @(Model.displayVar("item_simple_grid_field2")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="tp_posted" data-fieldname="tp_posted" data-default-width>
@(Model.displayVar("tp_posted_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field3 in Model.GetSection("cellblock_grid_cell_field3", this)){
	<TD @(Model.displayVar("cell_grid_cell_field3")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("vend_num_class"))	" data-field="vend_num" data-cellId="grid_cell_field3" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _vend_num_fieldcolumn in Model.GetSection("vend_num_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field3" @(Model.displayVar("item_simple_grid_field3")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="vend_num" data-fieldname="vend_num" data-default-width>
@(Model.displayVar("vend_num_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field4 in Model.GetSection("cellblock_grid_cell_field4", this)){
	<TD @(Model.displayVar("cell_grid_cell_field4")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("RowPointer_class"))	" data-field="RowPointer" data-cellId="grid_cell_field4" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _RowPointer_fieldcolumn in Model.GetSection("RowPointer_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field4" @(Model.displayVar("item_simple_grid_field4")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="RowPointer" data-fieldname="RowPointer" data-default-width>
@(Model.displayVar("RowPointer_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field5 in Model.GetSection("cellblock_grid_cell_field5", this)){
	<TD @(Model.displayVar("cell_grid_cell_field5")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("contact_class"))	" data-field="contact" data-cellId="grid_cell_field5" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _contact_fieldcolumn in Model.GetSection("contact_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field5" @(Model.displayVar("item_simple_grid_field5")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="contact" data-fieldname="contact" data-default-width>
@(Model.displayVar("contact_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field6 in Model.GetSection("cellblock_grid_cell_field6", this)){
	<TD @(Model.displayVar("cell_grid_cell_field6")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("phone_class"))	" data-field="phone" data-cellId="grid_cell_field6" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _phone_fieldcolumn in Model.GetSection("phone_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field6" @(Model.displayVar("item_simple_grid_field6")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="phone" data-fieldname="phone" data-default-width>
@(Model.displayVar("phone_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field7 in Model.GetSection("cellblock_grid_cell_field7", this)){
	<TD @(Model.displayVar("cell_grid_cell_field7")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("vend_type_class"))	" data-field="vend_type" data-cellId="grid_cell_field7" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _vend_type_fieldcolumn in Model.GetSection("vend_type_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field7" @(Model.displayVar("item_simple_grid_field7")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="vend_type" data-fieldname="vend_type" data-default-width>
@(Model.displayVar("vend_type_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field8 in Model.GetSection("cellblock_grid_cell_field8", this)){
	<TD @(Model.displayVar("cell_grid_cell_field8")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("terms_code_class"))	" data-field="terms_code" data-cellId="grid_cell_field8" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _terms_code_fieldcolumn in Model.GetSection("terms_code_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field8" @(Model.displayVar("item_simple_grid_field8")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="terms_code" data-fieldname="terms_code" data-default-width>
@(Model.displayVar("terms_code_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field9 in Model.GetSection("cellblock_grid_cell_field9", this)){
	<TD @(Model.displayVar("cell_grid_cell_field9")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("ship_code_class"))	" data-field="ship_code" data-cellId="grid_cell_field9" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _ship_code_fieldcolumn in Model.GetSection("ship_code_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field9" @(Model.displayVar("item_simple_grid_field9")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="ship_code" data-fieldname="ship_code" data-default-width>
@(Model.displayVar("ship_code_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field10 in Model.GetSection("cellblock_grid_cell_field10", this)){
	<TD @(Model.displayVar("cell_grid_cell_field10")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("stat_class"))	" data-field="stat" data-cellId="grid_cell_field10" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _stat_fieldcolumn in Model.GetSection("stat_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field10" @(Model.displayVar("item_simple_grid_field10")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="stat" data-fieldname="stat" data-default-width>
@(Model.displayVar("stat_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field11 in Model.GetSection("cellblock_grid_cell_field11", this)){
	<TD @(Model.displayVar("cell_grid_cell_field11")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("curr_code_class"))	" data-field="curr_code" data-cellId="grid_cell_field11" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _curr_code_fieldcolumn in Model.GetSection("curr_code_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field11" @(Model.displayVar("item_simple_grid_field11")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="curr_code" data-fieldname="curr_code" data-default-width>
@(Model.displayVar("curr_code_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field12 in Model.GetSection("cellblock_grid_cell_field12", this)){
	<TD @(Model.displayVar("cell_grid_cell_field12")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("pay_type_class"))	" data-field="pay_type" data-cellId="grid_cell_field12" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _pay_type_fieldcolumn in Model.GetSection("pay_type_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field13" @(Model.displayVar("item_simple_grid_field13")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="pay_type" data-fieldname="pay_type" data-default-width>
@(Model.displayVar("pay_type_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field13 in Model.GetSection("cellblock_grid_cell_field13", this)){
	<TD @(Model.displayVar("cell_grid_cell_field13")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("delterm_class"))	" data-field="delterm" data-cellId="grid_cell_field13" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _delterm_fieldcolumn in Model.GetSection("delterm_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field14" @(Model.displayVar("item_simple_grid_field14")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="delterm" data-fieldname="delterm" data-default-width>
@(Model.displayVar("delterm_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field14 in Model.GetSection("cellblock_grid_cell_field14", this)){
	<TD @(Model.displayVar("cell_grid_cell_field14")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("tax_code1_class"))	" data-field="tax_code1" data-cellId="grid_cell_field14" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _tax_code1_fieldcolumn in Model.GetSection("tax_code1_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field15" @(Model.displayVar("item_simple_grid_field15")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="tax_code1" data-fieldname="tax_code1" data-default-width>
@(Model.displayVar("tax_code1_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field15 in Model.GetSection("cellblock_grid_cell_field15", this)){
	<TD @(Model.displayVar("cell_grid_cell_field15")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("tax_code2_class"))	" data-field="tax_code2" data-cellId="grid_cell_field15" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _tax_code2_fieldcolumn in Model.GetSection("tax_code2_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field16" @(Model.displayVar("item_simple_grid_field16")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="tax_code2" data-fieldname="tax_code2" data-default-width>
@(Model.displayVar("tax_code2_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field16 in Model.GetSection("cellblock_grid_cell_field16", this)){
	<TD @(Model.displayVar("cell_grid_cell_field16")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("cust_num_class"))	" data-field="cust_num" data-cellId="grid_cell_field16" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _cust_num_fieldcolumn in Model.GetSection("cust_num_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field17" @(Model.displayVar("item_simple_grid_field17")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="cust_num" data-fieldname="cust_num" data-default-width>
@(Model.displayVar("cust_num_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field17 in Model.GetSection("cellblock_grid_cell_field17", this)){
	<TD @(Model.displayVar("cell_grid_cell_field17")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("vend_bank_class"))	" data-field="vend_bank" data-cellId="grid_cell_field17" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _vend_bank_fieldcolumn in Model.GetSection("vend_bank_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field18" @(Model.displayVar("item_simple_grid_field18")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="vend_bank" data-fieldname="vend_bank" data-default-width>
@(Model.displayVar("vend_bank_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field18 in Model.GetSection("cellblock_grid_cell_field18", this)){
	<TD @(Model.displayVar("cell_grid_cell_field18")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("name_class"))	" data-field="name" data-cellId="grid_cell_field18" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _name_fieldcolumn in Model.GetSection("name_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field19" @(Model.displayVar("item_simple_grid_field19")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="name" data-fieldname="name" data-default-width>
@(Model.displayVar("name_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field19 in Model.GetSection("cellblock_grid_cell_field19", this)){
	<TD @(Model.displayVar("cell_grid_cell_field19")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("city_class"))	" data-field="city" data-cellId="grid_cell_field19" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _city_fieldcolumn in Model.GetSection("city_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field20" @(Model.displayVar("item_simple_grid_field20")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="city" data-fieldname="city" data-default-width>
@(Model.displayVar("city_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field20 in Model.GetSection("cellblock_grid_cell_field20", this)){
	<TD @(Model.displayVar("cell_grid_cell_field20")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("state_class"))	" data-field="state" data-cellId="grid_cell_field20" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _state_fieldcolumn in Model.GetSection("state_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field21" @(Model.displayVar("item_simple_grid_field21")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="state" data-fieldname="state" data-default-width>
@(Model.displayVar("state_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field21 in Model.GetSection("cellblock_grid_cell_field21", this)){
	<TD @(Model.displayVar("cell_grid_cell_field21")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("zip_class"))	" data-field="zip" data-cellId="grid_cell_field21" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _zip_fieldcolumn in Model.GetSection("zip_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field22" @(Model.displayVar("item_simple_grid_field22")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="zip" data-fieldname="zip" data-default-width>
@(Model.displayVar("zip_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field22 in Model.GetSection("cellblock_grid_cell_field22", this)){
	<TD @(Model.displayVar("cell_grid_cell_field22")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("county_class"))	" data-field="county" data-cellId="grid_cell_field22" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _county_fieldcolumn in Model.GetSection("county_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field23" @(Model.displayVar("item_simple_grid_field23")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="county" data-fieldname="county" data-default-width>
@(Model.displayVar("county_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field23 in Model.GetSection("cellblock_grid_cell_field23", this)){
	<TD @(Model.displayVar("cell_grid_cell_field23")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("country_class"))	" data-field="country" data-cellId="grid_cell_field23" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _country_fieldcolumn in Model.GetSection("country_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field24" @(Model.displayVar("item_simple_grid_field24")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="country" data-fieldname="country" data-default-width>
@(Model.displayVar("country_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field24 in Model.GetSection("cellblock_grid_cell_field24", this)){
	<TD @(Model.displayVar("cell_grid_cell_field24")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("fax_num_class"))	" data-field="fax_num" data-cellId="grid_cell_field24" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _fax_num_fieldcolumn in Model.GetSection("fax_num_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field25" @(Model.displayVar("item_simple_grid_field25")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="fax_num" data-fieldname="fax_num" data-default-width>
@(Model.displayVar("fax_num_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field25 in Model.GetSection("cellblock_grid_cell_field25", this)){
	<TD @(Model.displayVar("cell_grid_cell_field25")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("telex_num_class"))	" data-field="telex_num" data-cellId="grid_cell_field25" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _telex_num_fieldcolumn in Model.GetSection("telex_num_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field26" @(Model.displayVar("item_simple_grid_field26")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="telex_num" data-fieldname="telex_num" data-default-width>
@(Model.displayVar("telex_num_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field26 in Model.GetSection("cellblock_grid_cell_field26", this)){
	<TD @(Model.displayVar("cell_grid_cell_field26")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("addr1_class"))	" data-field="addr1" data-cellId="grid_cell_field26" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _addr1_fieldcolumn in Model.GetSection("addr1_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field27" @(Model.displayVar("item_simple_grid_field27")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="addr1" data-fieldname="addr1" data-default-width>
@(Model.displayVar("addr1_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field27 in Model.GetSection("cellblock_grid_cell_field27", this)){
	<TD @(Model.displayVar("cell_grid_cell_field27")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("addr2_class"))	" data-field="addr2" data-cellId="grid_cell_field27" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _addr2_fieldcolumn in Model.GetSection("addr2_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field28" @(Model.displayVar("item_simple_grid_field28")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="addr2" data-fieldname="addr2" data-default-width>
@(Model.displayVar("addr2_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field28 in Model.GetSection("cellblock_grid_cell_field28", this)){
	<TD @(Model.displayVar("cell_grid_cell_field28")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("addr3_class"))	" data-field="addr3" data-cellId="grid_cell_field28" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _addr3_fieldcolumn in Model.GetSection("addr3_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field29" @(Model.displayVar("item_simple_grid_field29")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="addr3" data-fieldname="addr3" data-default-width>
@(Model.displayVar("addr3_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field29 in Model.GetSection("cellblock_grid_cell_field29", this)){
	<TD @(Model.displayVar("cell_grid_cell_field29")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("addr4_class"))	" data-field="addr4" data-cellId="grid_cell_field29" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _addr4_fieldcolumn in Model.GetSection("addr4_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field30" @(Model.displayVar("item_simple_grid_field30")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="addr4" data-fieldname="addr4" data-default-width>
@(Model.displayVar("addr4_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field30 in Model.GetSection("cellblock_grid_cell_field30", this)){
	<TD @(Model.displayVar("cell_grid_cell_field30")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("internet_url_class"))	" data-field="internet_url" data-cellId="grid_cell_field30" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _internet_url_fieldcolumn in Model.GetSection("internet_url_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field32" @(Model.displayVar("item_simple_grid_field32")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="internet_url" data-fieldname="internet_url" data-default-width>
@(Model.displayVar("internet_url_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field31 in Model.GetSection("cellblock_grid_cell_field31", this)){
	<TD @(Model.displayVar("cell_grid_cell_field31")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("internal_email_addr_class"))	" data-field="internal_email_addr" data-cellId="grid_cell_field31" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _internal_email_addr_fieldcolumn in Model.GetSection("internal_email_addr_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field33" @(Model.displayVar("item_simple_grid_field33")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="internal_email_addr" data-fieldname="internal_email_addr" data-default-width>
@(Model.displayVar("internal_email_addr_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field32 in Model.GetSection("cellblock_grid_cell_field32", this)){
	<TD @(Model.displayVar("cell_grid_cell_field32")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("external_email_addr_class"))	" data-field="external_email_addr" data-cellId="grid_cell_field32" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _external_email_addr_fieldcolumn in Model.GetSection("external_email_addr_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field34" @(Model.displayVar("item_simple_grid_field34")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="external_email_addr" data-fieldname="external_email_addr" data-default-width>
@(Model.displayVar("external_email_addr_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field33 in Model.GetSection("cellblock_grid_cell_field33", this)){
	<TD @(Model.displayVar("cell_grid_cell_field33")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("long_name_class"))	" data-field="long_name" data-cellId="grid_cell_field33" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _long_name_fieldcolumn in Model.GetSection("long_name_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field35" @(Model.displayVar("item_simple_grid_field35")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="long_name" data-fieldname="long_name" data-default-width>
@(Model.displayVar("long_name_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field34 in Model.GetSection("cellblock_grid_cell_field34", this)){
	<TD @(Model.displayVar("cell_grid_cell_field34")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("vend_remit_class"))	" data-field="vend_remit" data-cellId="grid_cell_field34" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _vend_remit_fieldcolumn in Model.GetSection("vend_remit_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field36" @(Model.displayVar("item_simple_grid_field36")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="vend_remit" data-fieldname="vend_remit" data-default-width>
@(Model.displayVar("vend_remit_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field35 in Model.GetSection("cellblock_grid_cell_field35", this)){
	<TD @(Model.displayVar("cell_grid_cell_field35")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("PendInv_class"))	" data-field="PendInv" data-cellId="grid_cell_field35" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _PendInv_fieldcolumn in Model.GetSection("PendInv_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field12" @(Model.displayVar("item_simple_grid_field12")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="PendInv" data-fieldname="PendInv" data-default-width>
@(Model.displayVar("PendInv_value"))
</span>
}	
	</td>
	}
							</tr>
										
											}
					</tbody>
													<tfoot>
			
																																			<TR @(Model.displayVar("rowattrs")) @(Model.displayVar("row_grid_2")) class="@(Model.displayVar("rowclass"))
									@(Model.displayVar("gridFooter_class"))
					
								r-gridrow
							">
									@foreach (string _cellblock_grid_footcell_field in Model.GetSection("cellblock_grid_footcell_field", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("clientid_class"))	" data-cellId="grid_footcell_field" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field1 in Model.GetSection("cellblock_grid_footcell_field1", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field1")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("site_ref_class"))	" data-cellId="grid_footcell_field1" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field2 in Model.GetSection("cellblock_grid_footcell_field2", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field2")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("tp_posted_class"))	" data-cellId="grid_footcell_field2" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field3 in Model.GetSection("cellblock_grid_footcell_field3", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field3")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("vend_num_class"))	" data-cellId="grid_footcell_field3" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field4 in Model.GetSection("cellblock_grid_footcell_field4", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field4")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("RowPointer_class"))	" data-cellId="grid_footcell_field4" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field5 in Model.GetSection("cellblock_grid_footcell_field5", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field5")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("contact_class"))	" data-cellId="grid_footcell_field5" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field6 in Model.GetSection("cellblock_grid_footcell_field6", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field6")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("phone_class"))	" data-cellId="grid_footcell_field6" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field7 in Model.GetSection("cellblock_grid_footcell_field7", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field7")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("vend_type_class"))	" data-cellId="grid_footcell_field7" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field8 in Model.GetSection("cellblock_grid_footcell_field8", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field8")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("terms_code_class"))	" data-cellId="grid_footcell_field8" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field9 in Model.GetSection("cellblock_grid_footcell_field9", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field9")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("ship_code_class"))	" data-cellId="grid_footcell_field9" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field10 in Model.GetSection("cellblock_grid_footcell_field10", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field10")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("stat_class"))	" data-cellId="grid_footcell_field10" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field11 in Model.GetSection("cellblock_grid_footcell_field11", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field11")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("curr_code_class"))	" data-cellId="grid_footcell_field11" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field12 in Model.GetSection("cellblock_grid_footcell_field12", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field12")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("pay_type_class"))	" data-cellId="grid_footcell_field12" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field13 in Model.GetSection("cellblock_grid_footcell_field13", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field13")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("delterm_class"))	" data-cellId="grid_footcell_field13" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field14 in Model.GetSection("cellblock_grid_footcell_field14", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field14")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("tax_code1_class"))	" data-cellId="grid_footcell_field14" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field15 in Model.GetSection("cellblock_grid_footcell_field15", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field15")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("tax_code2_class"))	" data-cellId="grid_footcell_field15" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field16 in Model.GetSection("cellblock_grid_footcell_field16", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field16")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("cust_num_class"))	" data-cellId="grid_footcell_field16" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field17 in Model.GetSection("cellblock_grid_footcell_field17", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field17")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("vend_bank_class"))	" data-cellId="grid_footcell_field17" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field18 in Model.GetSection("cellblock_grid_footcell_field18", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field18")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("name_class"))	" data-cellId="grid_footcell_field18" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field19 in Model.GetSection("cellblock_grid_footcell_field19", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field19")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("city_class"))	" data-cellId="grid_footcell_field19" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field20 in Model.GetSection("cellblock_grid_footcell_field20", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field20")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("state_class"))	" data-cellId="grid_footcell_field20" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field21 in Model.GetSection("cellblock_grid_footcell_field21", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field21")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("zip_class"))	" data-cellId="grid_footcell_field21" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field22 in Model.GetSection("cellblock_grid_footcell_field22", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field22")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("county_class"))	" data-cellId="grid_footcell_field22" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field23 in Model.GetSection("cellblock_grid_footcell_field23", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field23")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("country_class"))	" data-cellId="grid_footcell_field23" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field24 in Model.GetSection("cellblock_grid_footcell_field24", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field24")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("fax_num_class"))	" data-cellId="grid_footcell_field24" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field25 in Model.GetSection("cellblock_grid_footcell_field25", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field25")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("telex_num_class"))	" data-cellId="grid_footcell_field25" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field26 in Model.GetSection("cellblock_grid_footcell_field26", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field26")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("addr1_class"))	" data-cellId="grid_footcell_field26" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field27 in Model.GetSection("cellblock_grid_footcell_field27", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field27")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("addr2_class"))	" data-cellId="grid_footcell_field27" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field28 in Model.GetSection("cellblock_grid_footcell_field28", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field28")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("addr3_class"))	" data-cellId="grid_footcell_field28" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field29 in Model.GetSection("cellblock_grid_footcell_field29", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field29")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("addr4_class"))	" data-cellId="grid_footcell_field29" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field30 in Model.GetSection("cellblock_grid_footcell_field30", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field30")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("internet_url_class"))	" data-cellId="grid_footcell_field30" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field31 in Model.GetSection("cellblock_grid_footcell_field31", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field31")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("internal_email_addr_class"))	" data-cellId="grid_footcell_field31" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field32 in Model.GetSection("cellblock_grid_footcell_field32", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field32")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("external_email_addr_class"))	" data-cellId="grid_footcell_field32" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field33 in Model.GetSection("cellblock_grid_footcell_field33", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field33")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("long_name_class"))	" data-cellId="grid_footcell_field33" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field34 in Model.GetSection("cellblock_grid_footcell_field34", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field34")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("vend_remit_class"))	" data-cellId="grid_footcell_field34" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field35 in Model.GetSection("cellblock_grid_footcell_field35", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field35")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("PendInv_class"))	" data-cellId="grid_footcell_field35" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="tp_vendor_masterlist">

	
	</td>
	}
							</tr>
					
					</tfoot>
				</table>
}
								</div>
</div>
