@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
				<META http-equiv="X-UA-Compatible" content="IE=Edge" />
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(Model.displayVar("pagetitle"))</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<BASE href="@(Model.displayVar("projectPath"))" />
		<LINK REL="stylesheet" href="styles/default.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
	<LINK REL="stylesheet" href="styles/defaultRTL.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	}
	@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
	<LINK REL="stylesheet" href="@(Model.displayVar("stylepath"))" type="text/css" />
	}
			
	</head>

	<BODY class="@(Model.displayVar("stylename")) function-search">
	@foreach (string _body in Model.GetSection("body", this)){
		{Html.RenderSharedView("header");}
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"")</style>
		@(Model.displayVar("locking"))
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="6" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="top_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c1")) class=" r-ori-vert			col-md-12
	">
	 
		<H2 data-itemtype="search_header" data-itemid="search_header" @(Model.displayVar("item_search_header")) data-pageid="@(Model.displayVar("pageid"))">@(Model.displayVar("pagetitlelabel dbo_tp_vendor search"))</h2>
	</div>					</div>
	</div>		
}
									@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="6" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c1")) class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
}
									@foreach (string _grid_block in Model.GetSection("grid_block", this)){




 
	 
												<TABLE data-body-align="center" data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))" class="r-edit-form" cellpadding="0" cellspacing="0" @(Model.displayVar("grid_hiddenattr")) data-form-width="1" data-v-width="6">
	<tbody>
										<TR @(Model.displayVar("row_grid_0"))>
										

@foreach (string _cellblock_grid_c3 in Model.GetSection("cellblock_grid_c3", this)){
<TD @(Model.displayVar("cell_grid_c3")) class=" r-ori-vert" data-fullwidth data-cellId="grid_c3" data-pageid="@(Model.displayVar("pageid"))" data-v-cell="6">
	<div edit-form-cell class="clearfix">
				
@foreach (string _clientid_fieldblock in Model.GetSection("clientid_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_clientid"))  r-horizontal-field form-horizontal" data-signal-error-for="clientid@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field" @(Model.displayVar("item_integrated_search_field")) data-pageid="@(Model.displayVar("pageid"))" data-field="clientid" data-fieldname="clientid">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_clientid"))">
		@(Model.displayVar("label dbo_tp_vendor clientid"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_clientid"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("clientid_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("clientid_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _site_ref_fieldblock in Model.GetSection("site_ref_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_site_ref"))  r-horizontal-field form-horizontal" data-signal-error-for="site_ref@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" @(Model.displayVar("item_integrated_search_field1")) data-pageid="@(Model.displayVar("pageid"))" data-field="site_ref" data-fieldname="site_ref">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_site_ref"))">
		@(Model.displayVar("label dbo_tp_vendor site_ref"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_site_ref"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("site_ref_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("site_ref_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _tp_posted_fieldblock in Model.GetSection("tp_posted_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_tp_posted"))  r-horizontal-field form-horizontal" data-signal-error-for="tp_posted@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" @(Model.displayVar("item_integrated_search_field2")) data-pageid="@(Model.displayVar("pageid"))" data-field="tp_posted" data-fieldname="tp_posted">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_tp_posted"))">
		@(Model.displayVar("label dbo_tp_vendor tp_posted"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_tp_posted"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("tp_posted_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("tp_posted_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _vend_num_fieldblock in Model.GetSection("vend_num_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_vend_num"))  r-horizontal-field form-horizontal" data-signal-error-for="vend_num@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" @(Model.displayVar("item_integrated_search_field3")) data-pageid="@(Model.displayVar("pageid"))" data-field="vend_num" data-fieldname="vend_num">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_vend_num"))">
		@(Model.displayVar("label dbo_tp_vendor vend_num"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_vend_num"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("vend_num_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("vend_num_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _RowPointer_fieldblock in Model.GetSection("RowPointer_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_RowPointer"))  r-horizontal-field form-horizontal" data-signal-error-for="RowPointer@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" @(Model.displayVar("item_integrated_search_field4")) data-pageid="@(Model.displayVar("pageid"))" data-field="RowPointer" data-fieldname="RowPointer">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_RowPointer"))">
		@(Model.displayVar("label dbo_tp_vendor RowPointer"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_RowPointer"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("RowPointer_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("RowPointer_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _contact_fieldblock in Model.GetSection("contact_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_contact"))  r-horizontal-field form-horizontal" data-signal-error-for="contact@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" @(Model.displayVar("item_integrated_search_field5")) data-pageid="@(Model.displayVar("pageid"))" data-field="contact" data-fieldname="contact">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_contact"))">
		@(Model.displayVar("label dbo_tp_vendor contact"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_contact"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("contact_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("contact_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _phone_fieldblock in Model.GetSection("phone_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_phone"))  r-horizontal-field form-horizontal" data-signal-error-for="phone@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" @(Model.displayVar("item_integrated_search_field6")) data-pageid="@(Model.displayVar("pageid"))" data-field="phone" data-fieldname="phone">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_phone"))">
		@(Model.displayVar("label dbo_tp_vendor phone"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_phone"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("phone_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("phone_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _vend_type_fieldblock in Model.GetSection("vend_type_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_vend_type"))  r-horizontal-field form-horizontal" data-signal-error-for="vend_type@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" @(Model.displayVar("item_integrated_search_field7")) data-pageid="@(Model.displayVar("pageid"))" data-field="vend_type" data-fieldname="vend_type">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_vend_type"))">
		@(Model.displayVar("label dbo_tp_vendor vend_type"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_vend_type"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("vend_type_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("vend_type_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _terms_code_fieldblock in Model.GetSection("terms_code_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_terms_code"))  r-horizontal-field form-horizontal" data-signal-error-for="terms_code@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" @(Model.displayVar("item_integrated_search_field8")) data-pageid="@(Model.displayVar("pageid"))" data-field="terms_code" data-fieldname="terms_code">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_terms_code"))">
		@(Model.displayVar("label dbo_tp_vendor terms_code"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_terms_code"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("terms_code_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("terms_code_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _ship_code_fieldblock in Model.GetSection("ship_code_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_ship_code"))  r-horizontal-field form-horizontal" data-signal-error-for="ship_code@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" @(Model.displayVar("item_integrated_search_field9")) data-pageid="@(Model.displayVar("pageid"))" data-field="ship_code" data-fieldname="ship_code">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_ship_code"))">
		@(Model.displayVar("label dbo_tp_vendor ship_code"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_ship_code"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("ship_code_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("ship_code_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _stat_fieldblock in Model.GetSection("stat_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_stat"))  r-horizontal-field form-horizontal" data-signal-error-for="stat@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" @(Model.displayVar("item_integrated_search_field10")) data-pageid="@(Model.displayVar("pageid"))" data-field="stat" data-fieldname="stat">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_stat"))">
		@(Model.displayVar("label dbo_tp_vendor stat"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_stat"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("stat_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("stat_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _curr_code_fieldblock in Model.GetSection("curr_code_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_curr_code"))  r-horizontal-field form-horizontal" data-signal-error-for="curr_code@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" @(Model.displayVar("item_integrated_search_field11")) data-pageid="@(Model.displayVar("pageid"))" data-field="curr_code" data-fieldname="curr_code">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_curr_code"))">
		@(Model.displayVar("label dbo_tp_vendor curr_code"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_curr_code"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("curr_code_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("curr_code_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _bank_code_fieldblock in Model.GetSection("bank_code_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_bank_code"))  r-horizontal-field form-horizontal" data-signal-error-for="bank_code@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" @(Model.displayVar("item_integrated_search_field12")) data-pageid="@(Model.displayVar("pageid"))" data-field="bank_code" data-fieldname="bank_code">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_bank_code"))">
		@(Model.displayVar("label dbo_tp_vendor bank_code"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_bank_code"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("bank_code_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("bank_code_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _pay_type_fieldblock in Model.GetSection("pay_type_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_pay_type"))  r-horizontal-field form-horizontal" data-signal-error-for="pay_type@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" @(Model.displayVar("item_integrated_search_field13")) data-pageid="@(Model.displayVar("pageid"))" data-field="pay_type" data-fieldname="pay_type">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_pay_type"))">
		@(Model.displayVar("label dbo_tp_vendor pay_type"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_pay_type"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("pay_type_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("pay_type_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _delterm_fieldblock in Model.GetSection("delterm_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_delterm"))  r-horizontal-field form-horizontal" data-signal-error-for="delterm@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" @(Model.displayVar("item_integrated_search_field14")) data-pageid="@(Model.displayVar("pageid"))" data-field="delterm" data-fieldname="delterm">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_delterm"))">
		@(Model.displayVar("label dbo_tp_vendor delterm"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_delterm"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("delterm_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("delterm_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _tax_code1_fieldblock in Model.GetSection("tax_code1_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_tax_code1"))  r-horizontal-field form-horizontal" data-signal-error-for="tax_code1@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" @(Model.displayVar("item_integrated_search_field15")) data-pageid="@(Model.displayVar("pageid"))" data-field="tax_code1" data-fieldname="tax_code1">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_tax_code1"))">
		@(Model.displayVar("label dbo_tp_vendor tax_code1"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_tax_code1"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("tax_code1_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("tax_code1_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _tax_code2_fieldblock in Model.GetSection("tax_code2_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_tax_code2"))  r-horizontal-field form-horizontal" data-signal-error-for="tax_code2@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" @(Model.displayVar("item_integrated_search_field16")) data-pageid="@(Model.displayVar("pageid"))" data-field="tax_code2" data-fieldname="tax_code2">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_tax_code2"))">
		@(Model.displayVar("label dbo_tp_vendor tax_code2"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_tax_code2"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("tax_code2_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("tax_code2_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _cust_num_fieldblock in Model.GetSection("cust_num_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_cust_num"))  r-horizontal-field form-horizontal" data-signal-error-for="cust_num@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" @(Model.displayVar("item_integrated_search_field17")) data-pageid="@(Model.displayVar("pageid"))" data-field="cust_num" data-fieldname="cust_num">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_cust_num"))">
		@(Model.displayVar("label dbo_tp_vendor cust_num"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_cust_num"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("cust_num_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("cust_num_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _vend_bank_fieldblock in Model.GetSection("vend_bank_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_vend_bank"))  r-horizontal-field form-horizontal" data-signal-error-for="vend_bank@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" @(Model.displayVar("item_integrated_search_field18")) data-pageid="@(Model.displayVar("pageid"))" data-field="vend_bank" data-fieldname="vend_bank">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_vend_bank"))">
		@(Model.displayVar("label dbo_tp_vendor vend_bank"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_vend_bank"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("vend_bank_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("vend_bank_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _name_fieldblock in Model.GetSection("name_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_name"))  r-horizontal-field form-horizontal" data-signal-error-for="name@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" @(Model.displayVar("item_integrated_search_field19")) data-pageid="@(Model.displayVar("pageid"))" data-field="name" data-fieldname="name">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_name"))">
		@(Model.displayVar("label dbo_tp_vendor name"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_name"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("name_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("name_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _city_fieldblock in Model.GetSection("city_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_city"))  r-horizontal-field form-horizontal" data-signal-error-for="city@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" @(Model.displayVar("item_integrated_search_field20")) data-pageid="@(Model.displayVar("pageid"))" data-field="city" data-fieldname="city">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_city"))">
		@(Model.displayVar("label dbo_tp_vendor city"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_city"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("city_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("city_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _state_fieldblock in Model.GetSection("state_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_state"))  r-horizontal-field form-horizontal" data-signal-error-for="state@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" @(Model.displayVar("item_integrated_search_field21")) data-pageid="@(Model.displayVar("pageid"))" data-field="state" data-fieldname="state">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_state"))">
		@(Model.displayVar("label dbo_tp_vendor state"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_state"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("state_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("state_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _zip_fieldblock in Model.GetSection("zip_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_zip"))  r-horizontal-field form-horizontal" data-signal-error-for="zip@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" @(Model.displayVar("item_integrated_search_field22")) data-pageid="@(Model.displayVar("pageid"))" data-field="zip" data-fieldname="zip">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_zip"))">
		@(Model.displayVar("label dbo_tp_vendor zip"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_zip"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("zip_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("zip_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _county_fieldblock in Model.GetSection("county_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_county"))  r-horizontal-field form-horizontal" data-signal-error-for="county@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" @(Model.displayVar("item_integrated_search_field23")) data-pageid="@(Model.displayVar("pageid"))" data-field="county" data-fieldname="county">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_county"))">
		@(Model.displayVar("label dbo_tp_vendor county"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_county"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("county_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("county_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _country_fieldblock in Model.GetSection("country_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_country"))  r-horizontal-field form-horizontal" data-signal-error-for="country@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" @(Model.displayVar("item_integrated_search_field24")) data-pageid="@(Model.displayVar("pageid"))" data-field="country" data-fieldname="country">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_country"))">
		@(Model.displayVar("label dbo_tp_vendor country"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_country"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("country_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("country_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _fax_num_fieldblock in Model.GetSection("fax_num_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_fax_num"))  r-horizontal-field form-horizontal" data-signal-error-for="fax_num@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" @(Model.displayVar("item_integrated_search_field25")) data-pageid="@(Model.displayVar("pageid"))" data-field="fax_num" data-fieldname="fax_num">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_fax_num"))">
		@(Model.displayVar("label dbo_tp_vendor fax_num"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_fax_num"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("fax_num_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("fax_num_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _telex_num_fieldblock in Model.GetSection("telex_num_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_telex_num"))  r-horizontal-field form-horizontal" data-signal-error-for="telex_num@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" @(Model.displayVar("item_integrated_search_field26")) data-pageid="@(Model.displayVar("pageid"))" data-field="telex_num" data-fieldname="telex_num">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_telex_num"))">
		@(Model.displayVar("label dbo_tp_vendor telex_num"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_telex_num"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("telex_num_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("telex_num_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _addr1_fieldblock in Model.GetSection("addr1_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_addr1"))  r-horizontal-field form-horizontal" data-signal-error-for="addr1@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" @(Model.displayVar("item_integrated_search_field27")) data-pageid="@(Model.displayVar("pageid"))" data-field="addr1" data-fieldname="addr1">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_addr1"))">
		@(Model.displayVar("label dbo_tp_vendor addr1"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_addr1"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("addr1_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("addr1_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _addr2_fieldblock in Model.GetSection("addr2_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_addr2"))  r-horizontal-field form-horizontal" data-signal-error-for="addr2@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" @(Model.displayVar("item_integrated_search_field28")) data-pageid="@(Model.displayVar("pageid"))" data-field="addr2" data-fieldname="addr2">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_addr2"))">
		@(Model.displayVar("label dbo_tp_vendor addr2"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_addr2"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("addr2_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("addr2_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _addr3_fieldblock in Model.GetSection("addr3_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_addr3"))  r-horizontal-field form-horizontal" data-signal-error-for="addr3@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" @(Model.displayVar("item_integrated_search_field29")) data-pageid="@(Model.displayVar("pageid"))" data-field="addr3" data-fieldname="addr3">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_addr3"))">
		@(Model.displayVar("label dbo_tp_vendor addr3"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_addr3"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("addr3_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("addr3_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _addr4_fieldblock in Model.GetSection("addr4_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_addr4"))  r-horizontal-field form-horizontal" data-signal-error-for="addr4@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" @(Model.displayVar("item_integrated_search_field30")) data-pageid="@(Model.displayVar("pageid"))" data-field="addr4" data-fieldname="addr4">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_addr4"))">
		@(Model.displayVar("label dbo_tp_vendor addr4"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_addr4"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("addr4_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("addr4_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _pay_hold_fieldblock in Model.GetSection("pay_hold_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_pay_hold"))  r-horizontal-field form-horizontal" data-signal-error-for="pay_hold@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" @(Model.displayVar("item_integrated_search_field31")) data-pageid="@(Model.displayVar("pageid"))" data-field="pay_hold" data-fieldname="pay_hold">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_pay_hold"))">
		@(Model.displayVar("label dbo_tp_vendor pay_hold"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_pay_hold"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("pay_hold_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("pay_hold_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _internet_url_fieldblock in Model.GetSection("internet_url_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_internet_url"))  r-horizontal-field form-horizontal" data-signal-error-for="internet_url@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" @(Model.displayVar("item_integrated_search_field32")) data-pageid="@(Model.displayVar("pageid"))" data-field="internet_url" data-fieldname="internet_url">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_internet_url"))">
		@(Model.displayVar("label dbo_tp_vendor internet_url"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_internet_url"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("internet_url_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("internet_url_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _internal_email_addr_fieldblock in Model.GetSection("internal_email_addr_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_internal_email_addr"))  r-horizontal-field form-horizontal" data-signal-error-for="internal_email_addr@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" @(Model.displayVar("item_integrated_search_field33")) data-pageid="@(Model.displayVar("pageid"))" data-field="internal_email_addr" data-fieldname="internal_email_addr">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_internal_email_addr"))">
		@(Model.displayVar("label dbo_tp_vendor internal_email_addr"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_internal_email_addr"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("internal_email_addr_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("internal_email_addr_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _external_email_addr_fieldblock in Model.GetSection("external_email_addr_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_external_email_addr"))  r-horizontal-field form-horizontal" data-signal-error-for="external_email_addr@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" @(Model.displayVar("item_integrated_search_field34")) data-pageid="@(Model.displayVar("pageid"))" data-field="external_email_addr" data-fieldname="external_email_addr">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_external_email_addr"))">
		@(Model.displayVar("label dbo_tp_vendor external_email_addr"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_external_email_addr"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("external_email_addr_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("external_email_addr_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _long_name_fieldblock in Model.GetSection("long_name_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_long_name"))  r-horizontal-field form-horizontal" data-signal-error-for="long_name@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" @(Model.displayVar("item_integrated_search_field35")) data-pageid="@(Model.displayVar("pageid"))" data-field="long_name" data-fieldname="long_name">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_long_name"))">
		@(Model.displayVar("label dbo_tp_vendor long_name"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_long_name"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("long_name_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("long_name_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _vend_remit_fieldblock in Model.GetSection("vend_remit_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_vend_remit"))  r-horizontal-field form-horizontal" data-signal-error-for="vend_remit@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" @(Model.displayVar("item_integrated_search_field36")) data-pageid="@(Model.displayVar("pageid"))" data-field="vend_remit" data-fieldname="vend_remit">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_vend_remit"))">
		@(Model.displayVar("label dbo_tp_vendor vend_remit"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_vend_remit"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("vend_remit_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("vend_remit_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _PendInv_fieldblock in Model.GetSection("PendInv_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_PendInv"))  r-horizontal-field form-horizontal" data-signal-error-for="PendInv@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field37" @(Model.displayVar("item_integrated_search_field37")) data-pageid="@(Model.displayVar("pageid"))" data-field="PendInv" data-fieldname="PendInv">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_PendInv"))">
		@(Model.displayVar("label dbo_tp_vendor PendInv"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_PendInv"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("PendInv_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("PendInv_editcontrol1"))
	</div>
	
</div>

}
	
								</td>
			}
								</tr>
			</tbody></table>
}
									@foreach (string _below_grid_block in Model.GetSection("below-grid_block", this)){
<DIV class="r-form" data-location="below-grid" id="form_below-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_below-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="6" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="below-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c1")) class="			col-md-12
	">
	 
		<SPAN data-itemtype="search_search" data-itemid="search_search" @(Model.displayVar("item_search_search")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-primary   
	" @(Model.displayVar("searchbutton_attrs")) data-page=undefined>
							Search			</a>
</span>
	 
		<SPAN data-itemtype="search_reset" data-itemid="search_reset" @(Model.displayVar("item_search_reset")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("resetbutton_attrs"))>
							Reset			</a>
</span>
	 
		@foreach (string _back_button in Model.GetSection("back_button", this)){
<SPAN data-itemtype="search_back_list" data-itemid="search_back_list" @(Model.displayVar("item_search_back_list")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("backbutton_attrs"))>
							Back to list			</a>
</span>
}
	 
		@foreach (string _cancel_button in Model.GetSection("cancel_button", this)){
<SPAN data-itemtype="search_cancel" data-itemid="search_cancel" @(Model.displayVar("item_search_cancel")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" id="cancelButton@(Model.displayVar("id"))">
							Cancel			</a>
</span>
}
	</div>					</div>
	</div>		
}
			</div>
		{Html.RenderSharedView("footer");}
	}
	</body>
</html>
