@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
				<META http-equiv="X-UA-Compatible" content="IE=Edge" />
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(Model.displayVar("pagetitle"))</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<BASE href="@(Model.displayVar("projectPath"))" />
		<LINK REL="stylesheet" href="styles/default.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
	<LINK REL="stylesheet" href="styles/defaultRTL.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	}
	@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
	<LINK REL="stylesheet" href="@(Model.displayVar("stylepath"))" type="text/css" />
	}
			
	</head>

	<BODY class="@(Model.displayVar("stylename")) function-search">
	@foreach (string _body in Model.GetSection("body", this)){
		{Html.RenderSharedView("header");}
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"")</style>
		@(Model.displayVar("locking"))
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="6" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="top_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c1")) class=" r-ori-vert			col-md-12
	">
	 
		<H2 data-itemtype="search_header" data-itemid="search_header" @(Model.displayVar("item_search_header")) data-pageid="@(Model.displayVar("pageid"))">@(Model.displayVar("pagetitlelabel dbo_csi_ido_prop_mst search"))</h2>
	</div>					</div>
	</div>		
}
									@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="6" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c1")) class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
}
									@foreach (string _grid_block in Model.GetSection("grid_block", this)){




 
	 
												<TABLE data-body-align="center" data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))" class="r-edit-form" cellpadding="0" cellspacing="0" @(Model.displayVar("grid_hiddenattr")) data-form-width="1" data-v-width="6">
	<tbody>
										<TR @(Model.displayVar("row_grid_0"))>
										

@foreach (string _cellblock_grid_c3 in Model.GetSection("cellblock_grid_c3", this)){
<TD @(Model.displayVar("cell_grid_c3")) class=" r-ori-vert" data-fullwidth data-cellId="grid_c3" data-pageid="@(Model.displayVar("pageid"))" data-v-cell="6">
	<div edit-form-cell class="clearfix">
				
@foreach (string _clientid_fieldblock in Model.GetSection("clientid_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_clientid"))  r-horizontal-field form-horizontal" data-signal-error-for="clientid@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field" @(Model.displayVar("item_integrated_search_field")) data-pageid="@(Model.displayVar("pageid"))" data-field="clientid" data-fieldname="clientid">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_clientid"))">
		@(Model.displayVar("label dbo_csi_ido_prop_mst clientid"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_clientid"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("clientid_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("clientid_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _app_fieldblock in Model.GetSection("app_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_app"))  r-horizontal-field form-horizontal" data-signal-error-for="app@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" @(Model.displayVar("item_integrated_search_field1")) data-pageid="@(Model.displayVar("pageid"))" data-field="app" data-fieldname="app">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_app"))">
		@(Model.displayVar("label dbo_csi_ido_prop_mst app"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_app"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("app_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("app_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _ido_name_fieldblock in Model.GetSection("ido_name_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_ido_name"))  r-horizontal-field form-horizontal" data-signal-error-for="ido_name@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" @(Model.displayVar("item_integrated_search_field2")) data-pageid="@(Model.displayVar("pageid"))" data-field="ido_name" data-fieldname="ido_name">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_ido_name"))">
		@(Model.displayVar("label dbo_csi_ido_prop_mst ido_name"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_ido_name"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("ido_name_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("ido_name_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _table_name_fieldblock in Model.GetSection("table_name_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_table_name"))  r-horizontal-field form-horizontal" data-signal-error-for="table_name@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" @(Model.displayVar("item_integrated_search_field3")) data-pageid="@(Model.displayVar("pageid"))" data-field="table_name" data-fieldname="table_name">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_table_name"))">
		@(Model.displayVar("label dbo_csi_ido_prop_mst table_name"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_table_name"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("table_name_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("table_name_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _column_name_fieldblock in Model.GetSection("column_name_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_column_name"))  r-horizontal-field form-horizontal" data-signal-error-for="column_name@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" @(Model.displayVar("item_integrated_search_field4")) data-pageid="@(Model.displayVar("pageid"))" data-field="column_name" data-fieldname="column_name">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_column_name"))">
		@(Model.displayVar("label dbo_csi_ido_prop_mst column_name"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_column_name"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("column_name_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("column_name_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _data_type_fieldblock in Model.GetSection("data_type_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_data_type"))  r-horizontal-field form-horizontal" data-signal-error-for="data_type@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" @(Model.displayVar("item_integrated_search_field5")) data-pageid="@(Model.displayVar("pageid"))" data-field="data_type" data-fieldname="data_type">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_data_type"))">
		@(Model.displayVar("label dbo_csi_ido_prop_mst data_type"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_data_type"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("data_type_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("data_type_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _length_fieldblock in Model.GetSection("length_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_length"))  r-horizontal-field form-horizontal" data-signal-error-for="length@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" @(Model.displayVar("item_integrated_search_field6")) data-pageid="@(Model.displayVar("pageid"))" data-field="length" data-fieldname="length">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_length"))">
		@(Model.displayVar("label dbo_csi_ido_prop_mst length"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_length"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("length_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("length_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _dec_pos_fieldblock in Model.GetSection("dec_pos_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_dec_pos"))  r-horizontal-field form-horizontal" data-signal-error-for="dec_pos@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" @(Model.displayVar("item_integrated_search_field7")) data-pageid="@(Model.displayVar("pageid"))" data-field="dec_pos" data-fieldname="dec_pos">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_dec_pos"))">
		@(Model.displayVar("label dbo_csi_ido_prop_mst dec_pos"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_dec_pos"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("dec_pos_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("dec_pos_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _def_value_fieldblock in Model.GetSection("def_value_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_def_value"))  r-horizontal-field form-horizontal" data-signal-error-for="def_value@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" @(Model.displayVar("item_integrated_search_field8")) data-pageid="@(Model.displayVar("pageid"))" data-field="def_value" data-fieldname="def_value">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_def_value"))">
		@(Model.displayVar("label dbo_csi_ido_prop_mst def_value"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_def_value"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("def_value_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("def_value_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _required_fieldblock in Model.GetSection("required_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_required"))  r-horizontal-field form-horizontal" data-signal-error-for="required@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" @(Model.displayVar("item_integrated_search_field9")) data-pageid="@(Model.displayVar("pageid"))" data-field="required" data-fieldname="required">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_required"))">
		@(Model.displayVar("label dbo_csi_ido_prop_mst required"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_required"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("required_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("required_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _map_field_fieldblock in Model.GetSection("map_field_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_map_field"))  r-horizontal-field form-horizontal" data-signal-error-for="map_field@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" @(Model.displayVar("item_integrated_search_field10")) data-pageid="@(Model.displayVar("pageid"))" data-field="map_field" data-fieldname="map_field">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_map_field"))">
		@(Model.displayVar("label dbo_csi_ido_prop_mst map_field"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_map_field"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("map_field_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("map_field_editcontrol1"))
	</div>
	
</div>

}
											
@foreach (string _prop_name_fieldblock in Model.GetSection("prop_name_fieldblock", this)){

<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_prop_name"))  r-horizontal-field form-horizontal" data-signal-error-for="prop_name@(Model.displayVar("id"))" data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" @(Model.displayVar("item_integrated_search_field11")) data-pageid="@(Model.displayVar("pageid"))" data-field="prop_name" data-fieldname="prop_name">


	<LABEL class="r-search-label control-label" for="@(Model.displayVar("labelfor_prop_name"))">
		@(Model.displayVar("label dbo_csi_ido_prop_mst prop_name"))	</label>
	<div class="r-search-option">
		@(Model.displayVar("searchtype_prop_name"))
	</div>
	<div class="r-search-field">
		@(Model.displayVar("prop_name_editcontrol"))	</div>
	<div class="r-search-field">
		@(Model.displayVar("prop_name_editcontrol1"))
	</div>
	
</div>

}
	
								</td>
			}
								</tr>
			</tbody></table>
}
									@foreach (string _below_grid_block in Model.GetSection("below-grid_block", this)){
<DIV class="r-form" data-location="below-grid" id="form_below-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_below-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="6" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="below-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c1")) class="			col-md-12
	">
	 
		<SPAN data-itemtype="search_search" data-itemid="search_search" @(Model.displayVar("item_search_search")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-primary   
	" @(Model.displayVar("searchbutton_attrs")) data-page=undefined>
							Search			</a>
</span>
	 
		<SPAN data-itemtype="search_reset" data-itemid="search_reset" @(Model.displayVar("item_search_reset")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("resetbutton_attrs"))>
							Reset			</a>
</span>
	 
		@foreach (string _back_button in Model.GetSection("back_button", this)){
<SPAN data-itemtype="search_back_list" data-itemid="search_back_list" @(Model.displayVar("item_search_back_list")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("backbutton_attrs"))>
							Back to list			</a>
</span>
}
	 
		@foreach (string _cancel_button in Model.GetSection("cancel_button", this)){
<SPAN data-itemtype="search_cancel" data-itemid="search_cancel" @(Model.displayVar("item_search_cancel")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" id="cancelButton@(Model.displayVar("id"))">
							Cancel			</a>
</span>
}
	</div>					</div>
	</div>		
}
			</div>
		{Html.RenderSharedView("footer");}
	}
	</body>
</html>
