@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
				<META http-equiv="X-UA-Compatible" content="IE=Edge" />
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(Model.displayVar("pagetitle"))</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<BASE href="@(Model.displayVar("projectPath"))" />
		<LINK REL="stylesheet" href="styles/default.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
	<LINK REL="stylesheet" href="styles/defaultRTL.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	}
	@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
	<LINK REL="stylesheet" href="@(Model.displayVar("stylepath"))" type="text/css" />
	}
			
	</head>

	<BODY class="@(Model.displayVar("stylename")) function-view">
	@foreach (string _body in Model.GetSection("body", this)){
		{Html.RenderSharedView("header");}
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"")</style>
		@(Model.displayVar("locking"))
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="4" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="top_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c1")) class=" r-ori-vert			col-md-12
	">
	 
		<H2 data-itemtype="view_header" data-itemid="view_header" @(Model.displayVar("item_view_header")) data-pageid="@(Model.displayVar("pageid"))">@(Model.displayVar("pagetitlelabel dbo_mg_products_mst view"))</h2>
	</div>					</div>
	</div>		
}
									@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="4" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c1")) class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
}
									@foreach (string _grid_block in Model.GetSection("grid_block", this)){




 
	 
												<TABLE data-body-align="center" data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))" class="r-edit-form" cellpadding="0" cellspacing="0" @(Model.displayVar("grid_hiddenattr")) data-form-width="1" data-v-width="4">
	<tbody>
										<TR @(Model.displayVar("row_grid_0"))>
										

@foreach (string _cellblock_grid_c3 in Model.GetSection("cellblock_grid_c3", this)){
<TD @(Model.displayVar("cell_grid_c3")) class=" r-ori-vert" data-fullwidth data-cellId="grid_c3" data-pageid="@(Model.displayVar("pageid"))" data-v-cell="4">
	<div edit-form-cell class="clearfix">
				
@foreach (string _clientid_fieldblock in Model.GetSection("clientid_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_clientid"))  r-vertical-field" data-fieldname="clientid" data-signal-error-for="clientid@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" @(Model.displayVar("item_integrated_edit_field")) data-pageid="@(Model.displayVar("pageid"))" data-field="clientid" data-fieldname="clientid" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_clientid"))">
		
		@foreach (string _clientid_label in Model.GetSection("clientid_label", this)){@(Model.displayVar("label dbo_mg_products_mst clientid"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("clientid_value"))	</div>

		
</div>


}
											
@foreach (string _site_ref_fieldblock in Model.GetSection("site_ref_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_site_ref"))  r-vertical-field" data-fieldname="site_ref" data-signal-error-for="site_ref@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" @(Model.displayVar("item_integrated_edit_field1")) data-pageid="@(Model.displayVar("pageid"))" data-field="site_ref" data-fieldname="site_ref" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_site_ref"))">
		
		@foreach (string _site_ref_label in Model.GetSection("site_ref_label", this)){@(Model.displayVar("label dbo_mg_products_mst site_ref"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("site_ref_value"))	</div>

		
</div>


}
											
@foreach (string _id_fieldblock in Model.GetSection("id_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_id"))  r-vertical-field" data-fieldname="id" data-signal-error-for="id@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" @(Model.displayVar("item_integrated_edit_field2")) data-pageid="@(Model.displayVar("pageid"))" data-field="id" data-fieldname="id" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_id"))">
		
		@foreach (string _id_label in Model.GetSection("id_label", this)){@(Model.displayVar("label dbo_mg_products_mst id"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("id_value"))	</div>

		
</div>


}
											
@foreach (string _sku_fieldblock in Model.GetSection("sku_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_sku"))  r-vertical-field" data-fieldname="sku" data-signal-error-for="sku@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" @(Model.displayVar("item_integrated_edit_field3")) data-pageid="@(Model.displayVar("pageid"))" data-field="sku" data-fieldname="sku" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_sku"))">
		
		@foreach (string _sku_label in Model.GetSection("sku_label", this)){@(Model.displayVar("label dbo_mg_products_mst sku"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("sku_value"))	</div>

		
</div>


}
											
@foreach (string _attribute_set_id_fieldblock in Model.GetSection("attribute_set_id_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_attribute_set_id"))  r-vertical-field" data-fieldname="attribute_set_id" data-signal-error-for="attribute_set_id@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" @(Model.displayVar("item_integrated_edit_field4")) data-pageid="@(Model.displayVar("pageid"))" data-field="attribute_set_id" data-fieldname="attribute_set_id" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_attribute_set_id"))">
		
		@foreach (string _attribute_set_id_label in Model.GetSection("attribute_set_id_label", this)){@(Model.displayVar("label dbo_mg_products_mst attribute_set_id"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("attribute_set_id_value"))	</div>

		
</div>


}
											
@foreach (string _price_fieldblock in Model.GetSection("price_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_price"))  r-vertical-field" data-fieldname="price" data-signal-error-for="price@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" @(Model.displayVar("item_integrated_edit_field5")) data-pageid="@(Model.displayVar("pageid"))" data-field="price" data-fieldname="price" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_price"))">
		
		@foreach (string _price_label in Model.GetSection("price_label", this)){@(Model.displayVar("label dbo_mg_products_mst price"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("price_value"))	</div>

		
</div>


}
											
@foreach (string _status_fieldblock in Model.GetSection("status_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_status"))  r-vertical-field" data-fieldname="status" data-signal-error-for="status@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" @(Model.displayVar("item_integrated_edit_field6")) data-pageid="@(Model.displayVar("pageid"))" data-field="status" data-fieldname="status" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_status"))">
		
		@foreach (string _status_label in Model.GetSection("status_label", this)){@(Model.displayVar("label dbo_mg_products_mst status"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("status_value"))	</div>

		
</div>


}
											
@foreach (string _visibility_fieldblock in Model.GetSection("visibility_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_visibility"))  r-vertical-field" data-fieldname="visibility" data-signal-error-for="visibility@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" @(Model.displayVar("item_integrated_edit_field7")) data-pageid="@(Model.displayVar("pageid"))" data-field="visibility" data-fieldname="visibility" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_visibility"))">
		
		@foreach (string _visibility_label in Model.GetSection("visibility_label", this)){@(Model.displayVar("label dbo_mg_products_mst visibility"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("visibility_value"))	</div>

		
</div>


}
											
@foreach (string _type_id_fieldblock in Model.GetSection("type_id_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_type_id"))  r-vertical-field" data-fieldname="type_id" data-signal-error-for="type_id@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" @(Model.displayVar("item_integrated_edit_field8")) data-pageid="@(Model.displayVar("pageid"))" data-field="type_id" data-fieldname="type_id" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_type_id"))">
		
		@foreach (string _type_id_label in Model.GetSection("type_id_label", this)){@(Model.displayVar("label dbo_mg_products_mst type_id"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("type_id_value"))	</div>

		
</div>


}
											
@foreach (string _created_at_fieldblock in Model.GetSection("created_at_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_created_at"))  r-vertical-field" data-fieldname="created_at" data-signal-error-for="created_at@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" @(Model.displayVar("item_integrated_edit_field9")) data-pageid="@(Model.displayVar("pageid"))" data-field="created_at" data-fieldname="created_at" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_created_at"))">
		
		@foreach (string _created_at_label in Model.GetSection("created_at_label", this)){@(Model.displayVar("label dbo_mg_products_mst created_at"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("created_at_value"))	</div>

		
</div>


}
											
@foreach (string _updated_at_fieldblock in Model.GetSection("updated_at_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_updated_at"))  r-vertical-field" data-fieldname="updated_at" data-signal-error-for="updated_at@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" @(Model.displayVar("item_integrated_edit_field10")) data-pageid="@(Model.displayVar("pageid"))" data-field="updated_at" data-fieldname="updated_at" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_updated_at"))">
		
		@foreach (string _updated_at_label in Model.GetSection("updated_at_label", this)){@(Model.displayVar("label dbo_mg_products_mst updated_at"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("updated_at_value"))	</div>

		
</div>


}
											
@foreach (string _weight_fieldblock in Model.GetSection("weight_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_weight"))  r-vertical-field" data-fieldname="weight" data-signal-error-for="weight@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" @(Model.displayVar("item_integrated_edit_field11")) data-pageid="@(Model.displayVar("pageid"))" data-field="weight" data-fieldname="weight" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_weight"))">
		
		@foreach (string _weight_label in Model.GetSection("weight_label", this)){@(Model.displayVar("label dbo_mg_products_mst weight"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("weight_value"))	</div>

		
</div>


}
											
@foreach (string _custom_attributes_fieldblock in Model.GetSection("custom_attributes_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_custom_attributes"))  r-vertical-field" data-fieldname="custom_attributes" data-signal-error-for="custom_attributes@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" @(Model.displayVar("item_integrated_edit_field12")) data-pageid="@(Model.displayVar("pageid"))" data-field="custom_attributes" data-fieldname="custom_attributes" data-compact>

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_custom_attributes"))">
		
		@foreach (string _custom_attributes_label in Model.GetSection("custom_attributes_label", this)){@(Model.displayVar("label dbo_mg_products_mst custom_attributes"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("custom_attributes_value"))	</div>

		
</div>


}
	
								</td>
			}
								</tr>
			</tbody></table>
}
									@foreach (string _below_grid_block in Model.GetSection("below-grid_block", this)){
<DIV class="r-form" data-location="below-grid" id="form_below-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_below-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="4" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="below-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c1")) class="			col-md-6
	">
	 
		@foreach (string _back_button in Model.GetSection("back_button", this)){
<SPAN data-itemtype="view_back_list" data-itemid="view_back_list" @(Model.displayVar("item_view_back_list")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("backbutton_attrs"))>
							Back to list			</a>
</span>
}
	 
		@foreach (string _close_button in Model.GetSection("close_button", this)){
<SPAN data-itemtype="view_close" data-itemid="view_close" @(Model.displayVar("item_view_close")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" href="#" @(Model.displayVar("closebutton_attrs"))>
							Close window			</a>
</span>
}
	</div>			 
				<DIV data-cellId="below-grid_c2" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c2")) class="r-align-right r-ori-vert			col-md-6
	">
	</div>					</div>
	</div>		
}
			</div>
		{Html.RenderSharedView("footer");}
	}
	</body>
</html>
